.home-header {
  background-color: #eeeeee;
  padding: 128px 0 64px 64px;

  .home-subheader {
    margin-top: 38px;
  }

  h1,
  h2 {
    margin: 0;
  }

  .header-title {
    color: #054f72;
    font-size: 64px;
    font-weight: 900;
  }

  .header-subtitle {
    font-weight: 500;
    font-size: 51px;
    color: #484848;
    opacity: 0.9;
  }
}

/*=== What is XS2ASandbox block ===*/

.what-sandbox-wrapper {
  p {
    margin: 0;
  }

  .black {
    color: #000;
  }

  .what-sandbox-title {
    margin: 64px 0;
    text-align: center;
    opacity: 0.9;
    font-weight: 600;
    font-size: 35px;
    color: #054f72;
  }

  .what-sandbox-desc {
    text-align: center;
    color: #868e96;
    opacity: 0.9;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
  }
}

/*=== How to use APIs ===*/

.how-use-api {
  margin: 102px 0;

  .how-use-api-title {
    text-align: center;
    opacity: 0.9;
    font-weight: 600;
    font-size: 35px;
    color: #054f72;
  }

  .steps-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    .step {
      height: 166px;
      width: 294px;
      background-color: #cccccc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px;

      span {
        font-size: 22px;
        color: #232527;
      }
    }

    .arrow-right {
      width: 0;
      height: 0;
      border-top: 19px solid transparent;
      border-bottom: 19px solid transparent;
      border-left: 19px solid #1d5f7f;
    }
  }
}

.divider {
  height: 6px;
  width: 77px;
  background-color: #eed52f;
}

/*=== Open banking ===*/

.open-banking {
  padding: 64px 80px;
  background-color: #fff;

  .open-banking-title {
    margin: 26px 0 13px 0;
    opacity: 0.9;
    font-weight: 600;
    font-size: 36px;
    color: #054f72;
  }

  .open-banking-desc {
    font-size: 15px;
    line-height: 22px;
    color: #606060;

    a {
      color: #0299ff;
    }
  }
}

/*=== Sandbox Features Slider ===*/

#slider {
  background-color: #fff;
  position: relative;
  height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 19px 0;

  h1 {
    margin-top: 0;
    opacity: 0.9;
    font-weight: 600;
    font-size: 36px;
    color: #054f72;
  }

  .slide {
    opacity: 0;
    //transition: opacity 0.2s;
    position: absolute;
    pointer-events: none;
    text-align: center;
    width: 640px;

    p {
      margin-top: 0;
      margin-bottom: 13px;
      color: #054f72;
      opacity: 0.9;
      font-size: 17px;
      font-weight: bold;
    }

    img {
      height: 51px;
      width: 58px;
      margin-bottom: 9px;
    }

    .slide-image-wrapper {
      width: 100%;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;

      span {
        font-size: 10px;
        color: #606060;
      }
    }
  }

  .button-block {
    button {
      cursor: pointer;
      outline: none;
      margin-left: 13px;

      &:first-of-type {
        margin: 0;
      }

      border: 1px solid #979797;
      height: 13px;
      width: 13px;
      padding: 0;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  .features-description {
    font-size: 13px;
    color: #868e96;
    text-align: center;
    width: 80%;
    line-height: 22px;
    margin: 0 0 13px;
  }
}

#slider .show {
  opacity: 1;
  position: relative;
}

/*=== Product history section ===*/

.product-history-wrapper {
  margin: 64px 0;

  .product-history-header-wrapper {
    width: 50vw;
    margin: 0 auto;

    .title {
      margin: 26px 0 13px 0;
      opacity: 0.9;
      font-weight: 600;
      font-size: 36px;
      color: #054f72;
    }

    .subtitle {
      opacity: 0.9;
      font-size: 36px;
      color: #868e96;
    }
  }

  .history-scheme {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      cursor: pointer;
      width: 7vw;
      margin: 0 auto;
      z-index: 1;
      border: 3px solid #054f72;
      border-radius: 19px;
      background-color: #054f72;
      font-size: 0.9vw;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3vw 1vw;
    }

    .start-vertical-divider {
      position: absolute;
      height: 6vw;
      width: 1px;
      background-color: #868e96;
    }

    .product-history-info-wrapper {
      width: 100%;
      margin-top: 3vw;

      .main-info-wrapper {
        width: 100%;
        display: flex;
        position: relative;

        .info-wrapper {
          width: 27vw;
          display: flex;
          flex-direction: column;
          position: relative;

          span {
            color: #054f72;
            font-size: 12px;
          }

          h1 {
            color: #212529;
            font-size: 23px;
          }

          .text-wrapper {
            display: flex;

            i {
              color: #32cd32;
              margin-right: 0.7vw;
            }

            p {
              color: #606060;
              font-size: 12px;
              line-height: 19px;
              margin: 0;
            }
          }

          .circle-divider {
            position: absolute;
            display: flex;
            align-items: center;

            .circle {
              width: 0.5vw;
              z-index: 1;
              height: 0.5vw;
              border-radius: 100%;
              background-color: #fff;
              border: 3px solid #0984bf;
            }

            .divider {
              height: 2px;
              width: 5.5vw;
              background-color: #0984bf;
            }

            .vertical-divider {
              position: absolute;
              width: 1px;
              background-color: #868e96;
              height: 12vw;
              left: 0.36vw;
              top: 0;
            }
          }
        }

        .vertical-divider {
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: #868e96;
        }
      }

      .flex-end {
        justify-content: flex-end;
      }

      .flex-start {
        justify-content: flex-start;
      }

      .today-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          cursor: pointer;
          width: 7vw;
          position: relative;
          margin: 0 auto 0 auto;
          z-index: 1;
          border: 3px solid #0984bf;
          border-radius: 19px;
          background-color: #0984bf;
          font-size: 0.9vw;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.3vw 1vw;
        }

        .vertical-divider {
          width: 1px;
          background-color: #868e96;
          position: initial;
          height: 7vw;
        }
      }
    }
  }
}

/*=== Any questions section ===*/

.any-questions {
  width: 50%;
  margin: 0 auto;

  .any-questions-title {
    margin: 26px 0 13px 0;
    opacity: 0.9;
    font-weight: 600;
    font-size: 36px;
    color: #054f72;
  }

  .any-questions-subtitle {
    opacity: 0.9;
    font-size: 36px;
    color: #868e96;
  }

  .person-card {
    display: flex;
    justify-content: space-between;
    height: 192px;
    box-shadow: 0 1px 18px -12px #524c52;
    margin: 40px 0;

    .person-card-image-wrapper {
      background-color: #eeeeee;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;

      img {
        max-height: 100%;
      }
    }

    .person-card-info {
      width: 44%;
      padding: 5% 3%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: column;

        span {
          margin-bottom: 9px;
        }
      }

      .main-personal-info {
        span {
          &:first-of-type {
            font-size: 26px;
            font-weight: 600;
            color: #212529;
            opacity: 0.9;
          }

          font-size: 12px;
          color: #054f72;
        }
      }

      .sub-personal-info {
        a {
          color: #0984bf;
          font-size: 13px;
        }
      }
    }
  }
}




/*========== MEDIA QUERIES ============*/

@media screen and (max-width: 1080px) {
  .home-header {
    padding: 64px 0 48px 48px;

    .home-subheader {
      margin-top: 18px;
    }

    .header-title {
      font-size: 48px;
    }

    .header-subtitle {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 720px) {
  .home-header {
    padding: 40px 0 40px 30px;

    .header-title {
      font-size: 35px;
    }

    .home-subheader {
      margin-top: 15px;
    }

    .header-subtitle {
      font-size: 18px;
    }
  }
}

/*=== What is XS2ASandbox block ===*/

@media screen and (max-width: 1080px) {
  .what-sandbox-wrapper {

    .what-sandbox-title {
      margin: 40px 0;
    }

    .what-sandbox-desc {
      font-size: 15px;
      line-height: 25px;
    }
  }
}
@media screen and (max-width: 720px) {
  .what-sandbox-wrapper {

    .what-sandbox-title {
      margin: 20px 0;
      font-size: 24px;
    }

    .what-sandbox-desc {
      font-size: 10px;
      line-height: 15px;
    }
  }
}

/*=== How to use APIs ===*/

@media screen and (max-width: 1080px) {
  .how-use-api {
    margin: 70px 0;

    .steps-wrapper {

      .step {
        margin: 0 15px;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .how-use-api {
    margin: 30px 0;

    .how-use-api-title {
      font-size: 24px;
    }

    .steps-wrapper {

      .step {
        height: 85px;
        margin-right: 10px;
        margin-left: 10px;

        span {
          font-size: 13px;
        }
      }
    }
  }
}

/*=== Open banking ===*/

@media screen and (max-width: 1080px) {
  .open-banking {
    padding: 40px 60px;

    .open-banking-title {
      margin: 26px 0 13px 0;
      font-size: 36px;
    }

    .open-banking-desc {
      font-size: 15px;
      line-height: 22px;
    }
  }
}
@media screen and (max-width: 720px){
  .open-banking {
    padding: 20px 35px;

    .open-banking-title {
      margin: 10px 0 0 0;
      font-size: 24px;
    }

    .open-banking-desc {
      font-size: 10px;
      line-height: 15px;
    }
  }
}

/*=== Sandbox Features Slider ===*/

@media screen and (max-width: 1080px) {
  #slider {
    height: 400px;
    padding-top: 0;

    h1 {
      font-size: 36px;
      margin-bottom: 0;
    }

    .features-description {
      margin: 0;
    }
  }
}
@media screen and (max-width: 720px) {
  #slider {
    height: 240px;
    padding-top: 0;

    h1 {
      font-size: 21px;
      margin-bottom: 0;
    }

    .features-description {
      width: 90%;
      font-size: 10px;
      line-height: 15px;
      margin-bottom: 0;
    }

    .slide {
      img {
        margin-bottom: 0;
        height: 30px;
        width: 30px;
      }

      p {
        font-size: 14px;
        margin-bottom: 5px;
      }

      .slide-image-wrapper {
        span {
          font-size: 9px;
        }
      }
    }
  }
}

/*=== Product history section ===*/

@media screen and (max-width: 1080px) {
  .product-history-wrapper {
    margin: 40px 0;

    .product-history-header-wrapper {
      width: 100%;
      .title {
        margin: 13px 0 0 5px;
      }
    }

    .history-scheme {
      margin-top: 20px;

      .product-history-info-wrapper {
        margin-top: 20px;
      }
    }
  }
}
@media screen and (max-width: 720px){
  .product-history-wrapper {
    .product-history-header-wrapper {
      width: 100%;

      .title {
        margin: 8px 0 0;
        font-size: 24px;
      }

      .subtitle {
        font-size: 28px;
      }
    }

    .history-scheme {
      margin-top: 8px;

      .product-history-info-wrapper {
        width: 100%;
        margin-top: 1vw;

        .main-info-wrapper {
          width: 100%;

          .info-wrapper {

            h1 {
              font-size: 12px;
            }

            span {
              font-size: 9px;
            }

            .circle-divider {

              .circle {
                width: 2px;
                height: 2px;
              }

            }

            .text-wrapper {

              p {
                font-size: 8px;
                line-height: 11px;
              }

              i {
                font-size: 10px;
              }
            }

          }
        }
      }
    }
  }
}

/*=== Any questions section ===*/

@media screen and (max-width: 1080px) {
  .any-questions {
    width: 100%;
    display: flex;
    flex-direction: column;

    .any-questions-title {
      margin: 26px 0 13px 0;
    }

    .person-card {
      height: 208px;
      width: 75%;
      align-self: center;
      margin: 36px 0;

    }
  }
}
@media screen and (max-width: 720px){
  .any-questions {
    width: 100%;
    display: flex;
    flex-direction: column;

    .any-questions-title {
      margin: 13px 0 7px 0;
      font-size: 28px;
    }

    .any-questions-subtitle {
      font-size: 22px;
    }

    .person-card {
      height: 150px;
      width: 80%;
      align-self: center;

      .person-card-info {
        .main-personal-info {

          span {
            font-size: 8px;
          }

          span:first-of-type {
            font-size: 18px;
          }

          .sub-personal-info {
            a {
              font-size: 8px;
            }
          }
        }
      }
    }

  }
}

