<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.DOC' | translate }}</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.PLAY' | translate }}</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>{{ 'TEST_CASES.COMPONENTS.EMB_CANS_DELETE.TITLE' | translate }}</h1>

      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_3' | translate }}
        <span class="bold-text">DELETE</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}"
        ></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_4' | translate }}
        <app-line-command title="payment-service"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_5' | translate }}
        <app-line-command title="payment-product"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_6' | translate }}
        <span class="bold-text">{{
          'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.STEP' | translate
        }}</span>
        .
      </p>

      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_7' | translate }}
        <span class="bold-text">{{
          'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.STEP' | translate
        }}</span>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_8' | translate }}
        <app-line-command title="paymentId"></app-line-command>
        .
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_9' | translate }}</p>
      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <div class="api-table">
        <span>TPP-QWAC-Certificate</span>
        <span> -----BEGIN CERTIFICATE-----</span>
      </div>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_10' | translate }}
        <span class="italic-text">{{
          'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.ITALIC_SPAN' | translate
        }}</span>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_DELETE.PART_11' | translate }}
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="DELETE"
        [headers]="headers"
        [paymentServiceFlag]="true"
        [paymentProductFlag]="true"
        [paymentIdFlag]="true"
        url="v1/"
        [fieldsToCopy]="['cancellationId', 'paymentId']"
        eventName="embedded_delete_cancel_payment"
        eventCategory="send_request"
        eventAction="click"
        eventLabel="embedded_delete_cancel_payment"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
