<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" [formGroup]="loginForm">
            <h3 class="text-center text-adorsys">Login</h3>
            <div class="form-group">
              <label for="userLogin" class="text-adorsys">User login:</label><br>
              <input type="text"
                     id="userLogin"
                     name="login"
                     formControlName="login"
                     placeholder="Enter your login"
                     [ngClass]="{ 'is-invalid': loginForm.controls['login'].touched && loginForm.controls['login'].errors }"
                     class="form-control">
              <p class="text-danger" *ngIf="loginForm.controls['login'].touched && loginForm.controls['login'].errors">Login is required</p>
            </div>
            <div class="form-group">
              <label for="userPin" class="text-adorsys">Pin:</label><br>
              <input type="password"
                     id="userPin"
                     name="pin"
                     formControlName="pin"
                     placeholder="Enter you pin"
                     [ngClass]="{ 'is-invalid': loginForm.controls['pin'].touched && loginForm.controls['pin'].errors }"
                     class="form-control">
            </div>
            <p class="text-danger" *ngIf="loginForm.controls['pin'].touched && loginForm.controls['pin'].errors">Pin is required</p>
            <div class="form-group">
              <button type="submit"
                      [disabled]="loginForm.invalid"
                      (click)="onSubmit()"
                      class="btn btn-info">Sign in</button>
              <a href="/register" class="btn btn-link">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
