<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" [formGroup]="loginForm">
            <h3 class="text-center text-adorsys">Adorsys TPP Sandbox</h3>
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{errorMessage}}
            </div>
            <div class="form-group">
              <label for="userLogin" class="text-adorsys">Your login:</label><br>
              <input type="text"
                     id="userLogin"
                     name="login"
                     formControlName="login"
                     placeholder="Enter your login"
                     [ngClass]="{ 'is-invalid': loginForm.controls['login'].touched && loginForm.controls['login'].errors }"
                     class="form-control">
              <div class="invalid-feedback" *ngIf="loginForm.controls['login'].touched && loginForm.controls['login'].hasError('required')">Login is required</div>
            </div>
            <div class="form-group">
              <label for="pin" class="text-adorsys">Pin:</label><br>
              <input type="password"
                     id="pin"
                     name="pin"
                     formControlName="pin"
                     placeholder="Enter you pin"
                     [ngClass]="{ 'is-invalid': loginForm.controls['pin'].touched && loginForm.controls['pin'].errors }"
                     class="form-control">
              <div class="invalid-feedback" *ngIf="loginForm.controls['pin'].touched && loginForm.controls['pin'].hasError('required')">Pin is required</div>
            </div>
            <div class="form-group">
              <button type="submit"
                      (click)="onSubmit()"
                      class="btn btn-info">Sign in</button>
              <a routerLink="/register" class="btn btn-link">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
