.embedded-wrapper {
  padding: 2vw;
  h1 {
    opacity: 0.9;
    font-weight: 600;
    font-size: 2vw;
    color: #054f72;
  }
  li {
    line-height: 2vw;
    font-size: 1vw;
  }
  img {
    width: 100%;
  }
}
