.embedded-wrapper {
  padding: 2vw;
  h1 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--colorPrimary);
  }
  li {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  img {
    width: 100%;
  }
}
