<div class="embedded-wrapper">
  <h1>Short overview of EMBEDDED approach:</h1>
  <ul>
    <li>
      The whole SCA process with two different factors (e.g. username/password
      as proof of knowledge and a one time password (TAN) as proof of
      possession) is provided by the TPP and executed not directly between PSU
      and ASPSP, but with TPPs calls to XS2A Interface.
    </li>
    <li>TPP uses predefined XS2A endpoints to complete authorisation flow.</li>
  </ul>
  <img src="../../../../assets/images/embedded_pis_initiation.svg" alt="" />
</div>
