/*
#register .container #register-row #register-column #register-box {
  margin-top: 120px;
  max-width: 800px;
  height: auto;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
  padding: 20px;
}
*/

