<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <img class="card-img-top" src="./assets/images/Logo_XS2ASandbox.png" alt="XS2ASandbox TPP dashboard">
        <div class="card-body">
            <div class="card__headline text-center">
                <h2 class="card-title font-weight-bold">adorsys TPP UI</h2>
                <div class="my-4 card__subtitle">
                    Please register in order to use adorsys TPP UI
                </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
            </div>

          <div class="form__margin">
              <div class="form-group">
                  <label for="branch">Your TPP ID*</label>
                  <input [ngClass]="{'is-invalid': userForm.get('branch')?.errors && userForm.get('branch')?.touched
                  || submitted && userForm.get('branch')?.errors}"
                         autocomplete="off"
                         class="form-control"
                         formControlName="branch"
                         id="branch"
                         type="text">
                  <div *ngIf="userForm.get('branch')?.errors?.required"
                       class="invalid-feedback">
                      TPP ID is Required
                  </div>
                  <div *ngIf="userForm.get('branch')?.errors"
                       class="invalid-feedback">
                      TPP ID has to be 8 digits
                  </div>
              </div>

              <div class="form-group">
                  <label for="email">E-Mail Address</label>
                  <input [ngClass]="{'is-invalid': userForm.get('email')?.errors && userForm.get('email')?.touched}"
                         autocomplete="off"
                         class="form-control"
                         formControlName="email"
                         id="email"
                         type="email">
                  <div *ngIf="userForm.get('email')?.hasError('pattern')"
                       class="invalid-feedback">
                      Email is not valid
                  </div>
              </div>

              <div class="form-group">
                  <label for="registerTTP">Loginname*</label>
                  <input [ngClass]="{'is-invalid': userForm.get('login')?.errors && userForm.get('login')?.touched
                   || submitted && userForm.get('login')?.errors}"
                         autocomplete="off"
                         class="form-control"
                         formControlName="login"
                         id="registerTTP"
                         type="text">
                  <div *ngIf="userForm.get('login')?.errors?.required"
                       class="invalid-feedback">
                      Login is Required
                  </div>
              </div>

              <div class="form-group">
                  <label for="pin">PIN*</label>
                  <input [ngClass]="{'is-invalid': userForm.get('pin')?.errors && userForm.get('pin')?.touched
                   || submitted && userForm.get('pin')?.errors}"
                         autocomplete="new-password"
                         class="form-control"
                         formControlName="pin"
                         id="pin"
                         type="password">
                  <div *ngIf="userForm.get('pin')?.errors?.required"
                       class="invalid-feedback">
                      Pin is Required
                  </div>
              </div>

              <div class="form-check">
                  <input (change)="generateCertificate = !generateCertificate"
                         [checked]="generateCertificate"
                         class="form-check-input"
                         id="generateCertificate"
                         type="checkbox">
                  <label class="form-check-label" for="generateCertificate">Generate Certificate</label>
              </div>

              <div *ngIf="generateCertificate" class="">
                  <app-certificate (certificateValue)="getCertificateValue($event)"></app-certificate>
              </div>
          </div>

            <div>
                <button [innerHTML]="!generateCertificate ?'Register': 'Register & Generate'"
                        class="btn btn-primary btn-block"></button>
                <div class="text-center create-account">
                    <a routerLink="/login" class="text-light-grey">Login</a>
                </div>
            </div>
        </div>
    </div>
</form>
