<form [formGroup]="bankOfferedForm" (ngSubmit)="bankOfferedForm.valid && onSubmit()">

    <div class="card">
        <div class="card-body">
            <h2 class="card-title font-weight-bold">Select Bank Accounts</h2>
            <div class="font-weight-light my-4 text-muted">Please select your Account and confirm with “Next"</div>

            <div class="col-12 font-weight-light">
                <div *ngFor="let account of accounts, let i = index" class="form-check border">
                    <input class="form-check-input" id="account_{{i}}" formControlName="accounts" name="accounts"
                           type="checkbox" [value]="account">
                    <label class="form-check-label font-weight-bold"
                           for="account_{{i}}"> {{account.product}} </label><br>
                    <label class="form-check-label" for="account_{{i}}"> {{account.iban}} </label><br>
                    <div class="options mx-5">
                        <input class="form-check-input" id="balance_{{i}}" formControlName="balances" name="balances"
                               type="checkbox" [value]="">
                        <label for="balance_{{i}}">Read Balances</label> <br>
                        <input class="form-check-input" id="transaction_{{i}}" formControlName="transactions"
                               name="transactions"
                               type="checkbox" [value]="">
                        <label for="transaction_{{i}}">Read Transactions</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer no-bg-color">
            <div class="row my-3">
                <div class="col-12 col-sm-6 pr-sm-2">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="cancel()">Cancel
                    </button>
                </div>
                <div class="col-12 col-sm-6 pl-sm-2">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="bankOfferedForm.invalid">Next
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>
