<!--
  ~ Copyright 2018-2024 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at sales@adorsys.com.
  -->

<div class="container-fluid">
  <div class="header__title">Create new account</div>

  <div class="card card--small">
    <div class="card-body--large">
      <form (ngSubmit)="onSubmit()" [formGroup]="accountForm">
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div class="mb-3 required">
          <label class="control-label" for="accountType">Account type</label>
          <select
            [ngClass]="{
              'is-invalid':
                accountType.invalid &&
                (accountType.dirty || accountType.touched || submitted)
            }"
            class="form-control"
            formControlName="accountType"
            id="accountType"
          >
            <option
              *ngFor="let accountType of accountTypes"
              [value]="accountType"
            >
              {{ accountType }}
            </option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="accountType.errors?.required">Required</div>
          </div>
        </div>
        <div class="mb-3 required">
          <label class="control-label" for="usageType">Usage type</label>
          <select
            [ngClass]="{
              'is-invalid':
                usageType.invalid &&
                (usageType.dirty || usageType.touched || submitted)
            }"
            class="form-control"
            formControlName="usageType"
            id="usageType"
          >
            <option *ngFor="let usageType of usageTypes" [value]="usageType">
              {{ usageType }}
            </option>
          </select>
          <div *ngIf="usageType.errors?.required" class="invalid-feedback">
            <div>Required</div>
          </div>
        </div>
        <div class="mb-3 required">
          <label class="control-label" for="currency">Currency code</label>
          <select
            [ngClass]="{
              'is-invalid':
                currency.invalid &&
                (currency.dirty || currency.touched || submitted)
            }"
            class="form-control"
            formControlName="currency"
            id="currency"
          >
            <option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </option>
          </select>
          <div *ngIf="currency.errors?.required" class="invalid-feedback">
            <div>Required</div>
          </div>
        </div>
        <div class="mb-3 required">
          <label class="control-label" for="iban">IBAN</label>
          <div class="input-group">
            <input
              [ngClass]="{
                'is-invalid':
                  iban.invalid && (iban.dirty || iban.touched || submitted)
              }"
              class="form-control"
              formControlName="iban"
              id="iban"
              type="text"
            />

            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary bg-light text-black-50 mb-0"
                type="button"
                (click)="generateIban()"
              >
                Generate IBAN
              </button>
            </div>
            <div class="invalid-feedback">
              <div *ngIf="iban.errors?.required">IBAN Required</div>
            </div>
          </div>
        </div>

        <div class="mb-3 required">
          <label class="control-label" for="accountStatus"
            >Account status</label
          >
          <select
            [ngClass]="{
              'is-invalid':
                accountStatus.invalid &&
                (accountStatus.dirty || accountStatus.touched || submitted)
            }"
            class="form-control"
            formControlName="accountStatus"
            id="accountStatus"
          >
            <option
              *ngFor="let accountStatus of accountStatuses"
              [value]="accountStatus"
            >
              {{ accountStatus }}
            </option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="accountStatus.errors?.required">Required</div>
          </div>
        </div>
        <div class="mb-3 d-flex flex-row justify-content-lg-between">
          <button
            class="btn me-sm-2 me-md-3 btn-outline-danger"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button class="btn btn-primary" type="submit">Create account</button>
        </div>
      </form>
    </div>
  </div>
</div>
