/*=== Any questions section ===*/

.divider {
  height: 0.5vw;
  width: 6vw;
  background-color: var(--colorSecondary);
}

.any-questions {
  width: 50vw;
  margin: 5vw auto 0 auto;
  .any-questions-title {
    margin: 2vw 0 1vw 0;
    font-weight: 600;
    font-size: 2.8vw;
    color: var(--colorPrimary);
  }
  .any-questions-subtitle {
    font-size: 2.8vw;
    color: #868e96;
  }
  .person-card {
    display: flex;
    justify-content: space-between;
    height: 15vw;
    box-shadow: 0 1px 18px -12px #524c52;
    margin: 4vw 0;
    background: #fff;
    .person-card-image-wrapper {
      background-color: #eeeeee;
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
      }
    }
    .person-card-info {
      min-width: 50%;
      padding: 5% 3%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 0.7vw;
        }
      }
      .main-personal-info {
        span {
          &:first-of-type {
            font-size: 2vw;
            font-weight: 600;
            color: #212529;
          }
          font-size: 0.9vw;
          color: var(--colorPrimary);
        }
      }
      .sub-personal-info {
        a {
          font-size: 1vw;
        }
      }
    }
  }
}

/*===Contact section ===*/
.contacts-wrapper {
  width: 50vw;
  margin: 5vw auto 0 auto;
  .contacts-title {
    margin: 2vw 0 1vw 0;
    font-weight: 600;
    font-size: 2.8vw;
    color: var(--colorPrimary);
  }
  .contacts-card {
    display: flex;
    justify-content: space-between;
    height: 16vw;
    box-shadow: 0 1px 18px -12px #524c52;
    margin: 3vw 0;
    padding: 2vw;
    background-color: var(--contactsCardBG);
    .contacts-content {
      min-width: 18.5vw;
      padding: 5% 3%;
      display: flex;
      flex-direction: column;
      background-color: white;
      div {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 0.7vw;
        }
      }
      .main-personal-info {
        span {
          &:first-of-type {
            font-size: 1.5vw;
            font-weight: 600;
            color: #212529;
            margin-bottom: 1.2vw;
          }
          &:last-of-type {
            margin-bottom: 1.2vw;
          }
          font-size: 0.9vw;
          color: #000000;
        }
      }
      .sub-personal-info {
        a {
          font-size: 1vw;
          margin-bottom: 1vw;
          i {
            margin-right: 0.5vw;
          }
        }
        .social-network {
          display: flex;
          flex-direction: row;
          .social-network-item {
            font-size: 1.5vw;
            margin-right: 1vw;
            i {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
