<!-- Any questions section -->
<div class="any-questions">
  <div class="divider"></div>
  <h1 class="any-questions-title">Any Questions?</h1>
  <span class="any-questions-subtitle">Ask this guy.</span>
  <div class="person-card">
    <div class="person-card-image-wrapper">
      <img src="../../assets/images/Rene.png" alt="" />
    </div>
    <div class="person-card-info">
      <div class="main-personal-info">
        <span>René Pongratz</span> <span>Software Architect &</span>
        <span>Expert for API Management</span>
      </div>
      <div class="sub-personal-info">
        <a href="mailto:psd2@adorsys.de">psd2@adorsys.de</a>
      </div>
    </div>
  </div>
</div>

<!-- Contacts section -->
<div class="contacts-wrapper">
  <div class="divider"></div>
  <h1 class="contacts-title">Contact</h1>

  <div class="contacts-card">
    <div class="contacts-content">
      <div class="main-personal-info">
        <span>Nürnberg</span> <span>adorsys GmbH & Co. KG</span>
        <span>Fürther Str. 246a, Gebäude 32 im 4.OG</span>
        <span>90429 Nürnberg</span>
      </div>
      <div class="sub-personal-info">
        <a href="tel:+49(0)911 360698-0">
          <i class="fas fa-phone"></i>+49(0)911 360698-0
        </a>
        <a href="mailto:psd2@adorsys.de">
          <i class="fas fa-envelope"></i>psd2@adorsys.de
        </a>
      </div>
    </div>

    <div class="contacts-content">
      <div class="main-personal-info">
        <span>Frankfurt</span> <span>adorsys GmbH & Co. KG</span>
        <span>Frankfurter Straße 63 - 69</span> <span>65760 Eschborn</span>
      </div>
      <div class="sub-personal-info">
        <a href="mailto:frankfurt@adorsys.de">
          <i class="fas fa-envelope"></i>frankfurt@adorsys.de
        </a>
        <div class="social-network">
          <a href="https://www.facebook.com/adorsysGmbH/" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/adorsys-gmbh-&-co-kg/"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
