<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div>
    <h1 class="h2">Account details</h1>
  </div>
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      {{account?.name}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>IBAN: </b> {{account?.iban}}</li>
      <li class="list-group-item"><b>Status: </b> {{account?.accountStatus}}</li>
      <li class="list-group-item"><b>Type: </b>{{account?.accountType}}</li>
      <li class="list-group-item"><b>Currency: </b>{{account?.currency}}</li>
      <li class="list-group-item"><b>Balance: </b>{{account?.balances[0].amount.amount}}</li>
    </ul>
  </div>
</div>
