.nav-bar {
  position: fixed;
  width: 76vw;
  height: 7.5vw;
  display: flex;
  padding: 0 5vw;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 0;
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-item {
    opacity: 0.3;
    font-size: 1.2vw;
    margin-right: 2vw;
    cursor: pointer;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .header-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;

    height: 4vw;
    width: 1.5vw;
    i {
      cursor: pointer;
      opacity: 0.3;
      display: block;
      font-size: 1.8vw;
      margin-left: 0.4vw;
    }
    i:hover {
      opacity: 1;
    }
  }
  .logo {
    max-height: 75%;
    max-width: 25%;
    cursor: pointer;
  }
}

/deep/ .collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.footer-bar {
  height: 13vw;
  padding: 0 5vw;
  .footer-top-items {
    height: 7.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      max-height: 75%;
      max-width: 25%;
      cursor: pointer;
    }
    .footer-item {
      opacity: 0.3;
      font-size: 1.1vw;
      margin-right: 4.5vw;
      &:hover {
        opacity: 0.9;
      }
      cursor: pointer;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .social-media {
    float: right;
    div {
      display: unset;
      i {
        cursor: pointer;
        font-size: 1vw;
        margin-left: 1.5vw;
      }
    }
  }
}
