.nav-bar {
  position: fixed;
  width: 76vw;
  height: 7.5vw;
  display: flex;
  padding: 0 5vw;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  top: 0;
  color: var(--headerFontColor);
  background-color: var(--headerBG);
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-item {
    color: #000;
    opacity: 0.3;
    font-size: 1.2vw;
    margin-right: 2vw;
    text-decoration: none;
    cursor: pointer;
    &.active {
      opacity: 1;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  .langs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .lang-img {
      height: 14px;
      width: 14px;
    }
    .lang-span {
      display: block;
      text-transform: uppercase;
      margin-left: 5px;
      color: #212529;
      opacity: 0.3;
      transition: 0.3s;
      font-size: 12px;
    }

    .lang-wrapper div:hover {
      .lang-span {
        opacity: 1;
      }
    }

    .lang {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 20px;
    }
    #langs,
    .collapse-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: absolute;

      padding: 0 10px;

      top: 35px;
      right: -10px;

      background-color: white;
      box-shadow: 0 1px 4px 0 rgba(98, 98, 98, 0.5);

      max-height: 200px;

      .lang-wrapper {
        cursor: pointer;
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 36px;
        }
        margin: 6px 0;
      }
    }

    .collapse-menu {
      max-height: 0;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        max-height: 0;
        margin-left: 0.75em;
        top: 0;
        left: 50%;
        box-sizing: border-box;
        border: 8px solid black;
        border-color: transparent transparent #fff #fff;
        transform-origin: 0 0;
        transform: rotate(135deg);
        box-shadow: -2px 2px 2px 0px rgba(98, 98, 98, 0.15);
      }
    }

    .collapse-menu--collapsed {
      max-height: 0 !important;
      overflow: hidden;
      padding: 0;
    }
  }

  .header-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;

    height: 4vw;
    width: 1.5vw;
    i {
      cursor: pointer;
      opacity: 0.3;
      display: block;
      font-size: 1.8vw;
      margin-left: 0.4vw;
    }
    i:hover {
      opacity: 1;
    }
  }
  .logo {
    max-height: 75%;
    max-width: 25%;
    cursor: pointer;
  }
}

::ng-deep .collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.footer-bar {
  height: 13vw;
  padding: 0 5vw;
  color: var(--footerFontColor);
  background-color: var(--footerBG);
  .footer-top-items {
    height: 7.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      max-height: 75%;
      max-width: 25%;
      cursor: pointer;
    }
    .footer-item {
      color: #fff;
      text-decoration: none;
      opacity: 0.3;
      font-size: 1.1vw;
      margin-right: 4.5vw;
      &:hover {
        opacity: 0.9;
      }
      cursor: pointer;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .social-media {
    float: right;
    .social-media-item {
      display: inline-block;
      margin-left: 1.5vw;
    }
    .social-media-icon {
      cursor: pointer;
      font-size: 1vw;
      color: var(--footerFontColor);
    }
  }
}
