<div *ngIf="supportedLanguagesDictionary && globalSettings">
  <app-nav
    [supportedLanguagesDictionary]="supportedLanguagesDictionary"
    [navigation]="navigation"
    [logo]="globalSettings.logo"
    [logoLink]="globalSettings.logoLink"
    [allowedNavigationSize]="allowedNavigationSize"></app-nav>
</div>

<main>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</main>

<div class="spacer" id="spacer"></div>

<div *ngIf="supportedLanguagesDictionary && globalSettings">
  <app-footer [navigation]="navigation"
              [logoLink]="globalSettings.logoLink"
              [allowedNavigationSize]="allowedNavigationSize"
              [globalSettings]="globalSettings"></app-footer>

</div>
<ng-http-loader [debounceDelay]="500" [minDuration]="1200"></ng-http-loader>
