.nav-bar {
  position: fixed;
  width: 76vw;
  height: 7.5vw;
  display: flex;
  padding: 0 5vw;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
  top: 0;
  .header-item {
    opacity: 0.3;
    font-size: 1.2vw;
    margin-right: 2vw;
    cursor: pointer;
    //&:hover {
    //  opacity: 1;
    //}
    &:last-of-type {
      margin-right: 0;
    }
  }
  .logo {
    height: 2vw;
    width: 13vw;
    cursor: pointer;
  }
}

#top {
  position: absolute;
  top: 0;
  height: 7.5vw;
}

/deep/ .collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.footer-bar {
  height: 16vw;
  padding: 0 5vw;
  background-color: #054f72;
  .footer-top-items {
    padding-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-item {
      opacity: 0.3;
      font-size: 1.1vw;
      margin-right: 4.5vw;
      &:hover {
        opacity: 0.9;
      }
      color: #fff;
      cursor: pointer;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .logo {
    height: 2vw;
    width: 13vw;
    cursor: pointer;
    //filter: brightness(0) invert(1);
  }
  .social-media {
    float: right;
    margin-top: 5vw;
    i {
      cursor: pointer;
      font-size: 1vw;
      color: #fff;
      margin-left: 1.5vw;
      &:hover {
        color: #000;
      }
    }
  }
}
