.postman-testing-wrapper {
  padding: 2vw;
  p {
    color: #46494c;
    font-weight: 600;
  }
  button {
    height: 3vw;
    color: #fff;
    outline: none;
    width: 10vw;
    font-size: 0.8rem;
    background-color: #1575a2;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
  }
}
