<div class="postman-testing-wrapper">
  <p>
    Postman is an easy testing environment, where you can simply import and run
    prepared tests.
  </p>
  <p>
    Download latest Postman application to use prepared Postman tests
    <a target="_blank" href="https://www.getpostman.com/downloads/">here.</a>
  </p>
  <p>
    You can download Postman tests with environmental variables for all the
    endpoints by clicking "Download" button below.
  </p>
  <a href="../../../../assets/files/postman-tests.zip">
    <button>Download</button></a
  >
  <p>
    After downloading the files, import them into Postman and start testing.
  </p>
</div>
