<div class="postman-testing-wrapper">
  <p>{{ 'TEST_CASES.POSTMAN_TESTING.TEXT_1' | translate }}</p>
  <p>
    {{ 'TEST_CASES.POSTMAN_TESTING.TEXT_2' | translate }}
    <a target="_blank" href="https://www.getpostman.com/downloads/">{{
      'TEST_CASES.POSTMAN_TESTING.LINK' | translate
    }}</a>
  </p>
  <p>{{ 'TEST_CASES.POSTMAN_TESTING.TEXT_3' | translate }}</p>
  <a
    class="postman-testing-button"
    href="../../../../assets/files/postman-tests.zip"
  >
    <button>{{ 'TEST_CASES.POSTMAN_TESTING.DOWNLOAD' | translate }}</button>
  </a>
  <p>{{ 'TEST_CASES.POSTMAN_TESTING.TEXT_4' | translate }}</p>
</div>
