<nav class="navbar navbar-adorsys fixed-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <!--<img src="./assets/images/adorsys_transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">-->
    Adorsys Online Banking
  </a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/logout">Sign out</a>
    </li>
  </ul>
</nav>
