<div class="card">
  <div class="tan-confirm">

    <h3 class="text-adorsys mb-4 text-left">TAN confirmation</h3>

    <p class="text-secondary mb-5 text-left">
      We have sent you an E-Mail with the TAN. Please check your email and fill in the field below.
    </p>

    <form class="tan-confirm-form form-inline my-2">
      <input type="password" class="tan-confirm-input form-control mr-2 col-md-7" id="confirmTAN">
      <button type="submit" class="btn btn-primary col-md-4">OK</button>
    </form>

  </div>
</div>
