<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="card">
        <img class="card-img-top" src="./assets/images/Logo_XS2ASandbox.png" alt="XS2ASandbox TPP dashboard">
        <div class="card-body">
            <div class="card__headline text-center">
                <h2 class="card-title font-weight-bold">adorsys TPP UI</h2>
                <div class="my-4 card__subtitle">
                    Please log in with your bank account username
                </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
            </div>
           <div class="form__margin">
               <div class="form-group">
                   <label for="login">Login</label>
                   <input [ngClass]="{'is-invalid': loginForm.get('login')?.errors && loginForm.get('login')?.dirty}"
                          autocomplete="off"
                          class="form-control"
                          formControlName="login"
                          id="login"
                          type="text">
                   <div *ngIf="loginForm.get('login')?.errors?.required && loginForm.get('login')?.dirty"
                        class="invalid-feedback">
                       Login is Required
                   </div>
               </div>

               <div class="form-group">
                   <label for="pin">PIN</label>
                   <input [ngClass]="{'is-invalid': loginForm.get('pin')?.errors && loginForm.get('pin')?.dirty}"
                          autocomplete="new-password"
                          class="form-control"
                          formControlName="pin"
                          id="pin"
                          type="password">
                   <div *ngIf="loginForm.get('pin')?.errors?.required && loginForm.get('pin')?.dirty"
                        class="invalid-feedback">
                       Pin is Required
                   </div>
               </div>
           </div>
            <button class="btn btn-primary btn-block" type="submit">Login</button>
            <div class="text-center create-account">
                <a routerLink="/register" class="text-light-grey">Create new account</a>
            </div>
        </div>
    </div>
</form>

