<!--
  ~ Copyright 2018-2022 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<div class="d-flex vh-100">
  <div class="col-2"></div>
  <div class="col-3 bg-white pt-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <a class="navbar-brand" href="#">
        <img class="logo" [src]="customizeService.getLogo()" /> </a
      ><br />
      <h2 class="card-title font-weight-bold">
        <p *ngIf="!customizeService.isCustom()">
          Welcome to <br />adorsys TPP UI
        </p>
      </h2>

      <p class="card-text">Please log in with your bank account user name</p>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div class="mrb-3 mrt">
        <div class="form-group">
          <label class="p-2" for="login" *ngIf="!customizeService.isCustom()"
            >Username</label
          >
          <input
            [ngClass]="{
              'is-invalid':
                loginForm.get('login')?.errors && loginForm.get('login')?.dirty
            }"
            autocomplete="off"
            class="form-control"
            formControlName="login"
            id="login"
            placeholder="Enter your login"
            type="text"
          />
          <div
            *ngIf="
              loginForm.get('login')?.errors?.required &&
              loginForm.get('login')?.dirty
            "
            class="invalid-feedback"
          >
            Login is Required
          </div>
        </div>

        <div class="form-group">
          <label class="p-2" for="pin" *ngIf="!customizeService.isCustom()"
            >Password</label
          >
          <input
            [ngClass]="{
              'is-invalid':
                loginForm.get('pin')?.errors && loginForm.get('pin')?.dirty
            }"
            autocomplete="new-password"
            class="form-control"
            formControlName="pin"
            id="pin"
            placeholder="Enter your pin"
            type="password"
          />
          <div
            *ngIf="
              loginForm.get('pin')?.errors?.required &&
              loginForm.get('pin')?.dirty
            "
            class="invalid-feedback"
          >
            Pin is Required
          </div>
          <div>
            <a routerLink="/reset-password" class="link-color"
              ><small>Forgot PIN?</small></a
            >
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary btn-block mb-3"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
      <div
        class="text-center text-light-green"
        *ngIf="customizeService.showRegister()"
      >
        <a routerLink="/register">Create new account</a>
      </div>
    </form>
    <div class="align-self-end text-center text-light-grey">
      <p>
        powered by <br />
        adorsys
      </p>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col bg-light d-flex flex-column">
    <img
      src="../../../../assets/UI/dots-left.svg"
      class="image-fluid w-50 h-25 align-self-start flip-vertical"
    /><img
      src="../../../../assets/UI/modelbank-illustration.svg"
      class="image-fluid h-50 w-50 align-self-center"
    />
    <img
      src="../../../../assets/UI/dots-right.svg"
      class="image-fluid h-25 w-50 align-self-end"
    />
  </div>
</div>
