<!--
  ~ Copyright 2018-2024 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at sales@adorsys.com.
  -->

<div class="nav-bar">
  <div class="nav-bar-content">
    <img
      *ngIf="navBarSettings?.logo; else emptyTemplate"
      class="logo"
      [src]="navBarSettings.logo"
      (click)="navigationService.goToLogoLink(navBarSettings.logoLink, '/home')"
      alt="Logo"
    />

    <ng-template #emptyTemplate>
      <div class="empty-logo"></div>
    </ng-template>

    <div class="nav">
      <div class="nav-content">
        <div id="navLinks" class="pe-5">
          <a
            *ngFor="let navItem of navigation"
            class="header-item"
            [routerLink]="createRouterLinks(navItem)"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="navigationService.navigateTo(navItem)"
          >
            {{ navItem.navName }}
          </a>
        </div>

        <button mat-button class="m-3 p-1" [matMenuTriggerFor]="menu">UI Links</button>
        <mat-menu #menu="matMenu">
          <a href="#" target="_blank" id="onlineBankingUI2" mat-menu-item>Online Banking UI</a>
          <a href="#" target="_blank" id="TPPUserInterface2" mat-menu-item>TPP UI</a>
          <a href="#" target="_blank" id="AdminUserInterface2" mat-menu-item>Admin UI</a>
        </mat-menu>

        <a href="javascript:void(0);" class="icon-dropdown" id="dropDownIcon" (click)="toggleDropdown()">&#9776;</a>
      </div>

      <div class="langs-wrapper" *ngIf="supportedLanguagesDictionary && supportedLanguages && supportedLanguages.length > 1">
        <div class="lang" (click)="collapseThis()">
          <img class="lang-img" [src]="supportedLanguagesDictionary[language]" [alt]="language" />
          <span class="lang-span">{{ language }}</span>
        </div>

        <div id="langs" [ngClass]="getLangCollapsed() ? 'collapse-menu--collapsed' : 'collapse-menu'">
          <div class="lang-wrapper" *ngFor="let lng of supportedLanguages" (click)="changeLang(lng)" [hidden]="lng === language">
            <div>
              <img class="lang-img" [src]="supportedLanguagesDictionary[lng]" [alt]="lng" /> <span class="lang-span">{{ lng }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showNavDropDown" class="nav-content-responsive" (click)="toggleDropdown()" id="navContentResponsive">
    <a
      *ngFor="let navItem of navigation"
      class="header-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="navigationService.navigateTo(navItem)"
    >
      {{ navItem.navName }}
    </a>
  </div>
</div>
