@media screen and (max-width: 764px) {
  .nav {
    .nav-content {
      a {
        display: none;
      }

      #dropDownIcon {
        display: block !important;
      }
    }
  }
}

.nav,
.footer-bar {
  font-weight: normal;
}

.nav-bar {
  width: 100%;

  .nav-bar-content {
    position: fixed;
    width: var(--headerWidth);
    height: 7.5vw;
    display: flex;
    padding: 0 5vw;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    top: 0;
    color: var(--headerFontColor);
    background-color: var(--headerBG);
    border-top: var(--headerBorderTop);
    @media screen and (max-width: 1080px) {
      width: 100%;
    }
  }

  .nav-content-responsive {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bodyBG);
    z-index: 9999;

    a {
      margin-right: 0;
      padding: 1rem 0;
      text-align: center;
      border-top: 0.2px solid #000000;
    }

    .header-item.active {
      background-color: #fff;
    }

    @media screen and (min-width: 764px) {
      width: 20%;

      a {
        text-align: right;
        padding: 1vw 4vw 1vw 1vw;
      }

      position: absolute;
      top: 7.5vw;
      right: 7vw;
      border-right: 0.5px solid rgba(0, 0, 0, 0.51) !important;
      border-left: 0.5px solid rgba(0, 0, 0, 0.51) !important;
      z-index: 9999;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .nav-content {
      height: 100%;
      align-items: center;
      display: flex;
    }

    a.icon-dropdown {
      display: none;
      text-decoration: none;
      margin-right: 0.2em;
    }
  }

  .header-item {
    color: var(--headerFontColor);
    background-color: var(--headerBG);
    margin-right: 1.5em;
    text-decoration: none;
    cursor: pointer;

    &.active {
      background-color: var(--headerActiveBG);
    }

    &:hover {
      opacity: 0.5;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .langs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .lang-img {
      height: 14px;
      width: 14px;
    }

    .lang-span {
      display: block;
      text-transform: uppercase;
      margin-left: 5px;
      color: #212529;
      opacity: 0.3;
      transition: 0.3s;
      font-size: 12px;
    }

    .lang-wrapper div:hover {
      .lang-span {
        opacity: 1;
      }
    }

    .lang {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 20px;
    }

    #langs,
    .collapse-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: absolute;

      padding: 0 10px;

      top: 35px;
      right: -10px;

      background-color: white;
      box-shadow: 0 1px 4px 0 rgba(98, 98, 98, 0.5);

      max-height: 200px;

      .lang-wrapper {
        cursor: pointer;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 36px;
        }

        margin: 6px 0;
      }
    }

    .collapse-menu {
      max-height: 0;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        max-height: 0;
        margin-left: 0.75em;
        top: 0;
        left: 50%;
        border: 8px solid black;
        border-color: transparent transparent #fff #fff;
        transform-origin: 0 0;
        transform: rotate(135deg);
        box-shadow: -2px 2px 2px 0px rgba(98, 98, 98, 0.15);
      }
    }

    .collapse-menu--collapsed {
      max-height: 0 !important;
      overflow: hidden;
      padding: 0;
    }
  }

  .header-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;

    height: 4vw;
    width: 1.5vw;

    i {
      cursor: pointer;
      opacity: 0.3;
      display: block;
      font-size: 1.5rem;
      margin-left: 0.4vw;
    }

    i:hover {
      opacity: 1;
    }
  }

  .logo {
    flex-shrink: 0;
    max-height: 75%;
    max-width: 25%;
    cursor: pointer;
  }
}

::ng-deep .collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
