[submodule "scripts/release/release-scripts"]
	path = scripts/release-scripts
	url = https://github.com/borisskert/release-scripts.git
	branch = master
[submodule "postman-scripts"]
	path = postman-scripts
	url = ../xs2a-postman-tests
