[submodule "scripts/release/release-scripts"]
	path = scripts/release-scripts
	url = https://github.com/borisskert/release-scripts.git
	branch = master
[submodule "postman"]
	path = postman
	url = https://git.adorsys.de/adorsys/xs2a/xs2a-postman-tests.git 

