<div class="redirect-top-wrapper">
  <h1>Short overview of REDIRECT approach:</h1>
  <ul>
    <li>
      The whole SCA process with two different factors (e.g. username/password
      as proof of knowledge and a one time password (TAN) as proof of
      possession) is provided by the ASPSP and executed directly between PSU and
      ASPSP.
    </li>
    <li>Therefore, the PSU needs to gets redirected from PISP to ASPSP.</li>
    <li>
      The SCA of the PSU is executed directly between the ASPSP and the PSU.
    </li>
    <li>
      After completion of the SCA the PSU gets redirected back to the PISP.
    </li>
  </ul>
  <img src="../../../../assets/images/redirect_pis_initiation.svg" alt="" />
</div>
