<div class="redirect-top-wrapper">
  <h1>{{ 'TEST_CASES.REDIRECT.TITLE' | translate }}</h1>
  <ul>
    <li>{{ 'TEST_CASES.REDIRECT.LI_1' | translate }}</li>
    <li>{{ 'TEST_CASES.REDIRECT.LI_2' | translate }}</li>
    <li>{{ 'TEST_CASES.REDIRECT.LI_3' | translate }}</li>
    <li>{{ 'TEST_CASES.REDIRECT.LI_4' | translate }}</li>
  </ul>

  <ngx-image-zoom
    [thumbImage]="thumbImage"
    [fullImage]="fullImage"
    [zoomMode]="mode"
    [enableScrollZoom]="true"
    [enableLens]="true"
    [lensWidth]="500"
    [lensHeight]="300"
  ></ngx-image-zoom>
</div>
