.redirect-top-wrapper {
  padding: 2vw;
  h1 {
    font-weight: 600;
    font-size: 2vw;
    color: var(--colorPrimary);
  }
  li {
    line-height: 2vw;
    font-size: 1vw;
  }
  img {
    width: 100%;
  }
}
