<div class="bg-sm-light sticky-top">
    <div class="container-fluid">
        <nav class="navbar navbar-light text-primary py-3">
            <a class="navbar-brand" href="#">
                <img class="logo" [src]="customizeService.getLogo()" />
            </a>
        </nav>
    </div>
</div>

<div class="d-md-flex bg-white h-md-100">
    <div class="col">
        <div class="d-md-flex align-items-center h-100 p-4 justify-content-center">
            <div class="d-md-flex align-items-center">
                <form [formGroup]="confirmNewPasswordForm" (ngSubmit)="confirmNewPasswordForm   .valid && onSubmit()">

                    <div class="card">
                        <div class="card-body">
                            <div class="card__headline text-center">
                                <h2 class="card-title font-weight-bold">Reset PIN</h2>
                                <div class="my-4 card__subtitle">
                                    Please enter the received code and your new pin
                                </div>
                            </div>
                            <div *ngIf="errorMessage" class="alert alert-danger">
                                {{errorMessage}}
                            </div>
                            <div class="form__margin">
                                <div class="form-group">
                                    <label for="newPassword">New pin*</label>
                                    <input [ngClass]="{'is-invalid': confirmNewPasswordForm.get('newPassword')?.errors && confirmNewPasswordForm.get('newPassword')?.touched
                   || submitted && confirmNewPasswordForm.get('newPassword')?.errors}"
                                           autocomplete="off"
                                           class="form-control"
                                           formControlName="newPassword"
                                           id="newPassword"
                                           type="password">
                                    <div *ngIf="confirmNewPasswordForm.get('newPassword')?.errors?.required"
                                         class="invalid-feedback">
                                        New pin is Required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">Code*</label>
                                    <input [ngClass]="{'is-invalid': confirmNewPasswordForm.get('code')?.errors && confirmNewPasswordForm.get('code')?.touched
                   || submitted && confirmNewPasswordForm.get('code')?.errors}"
                                           autocomplete="off"
                                           class="form-control"
                                           formControlName="code"
                                           id="code"
                                           type="text">
                                    <div *ngIf="confirmNewPasswordForm.get('code')?.errors?.required"
                                         class="invalid-feedback">
                                        Code is Required
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="confirmNewPasswordForm.invalid" class="btn btn-primary btn-block"
                                    type="submit">Reset pin
                            </button>
                            <div class="text-center text-light-grey">
                                <a routerLink="/login">Back to login</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
