.divider {
  margin-top: 3vw;
  height: 0.5vw;
  width: 6vw;
  background-color: #eed52f;
}

.faq-title {
  opacity: 0.9;
  font-weight: 600;
  font-size: 2.8vw;
  color: #054f72;
  text-align: center;
}

h1 {
  opacity: 0.9;
  font-weight: 600;
  font-size: 2vw;
  color: #054f72;
}

h2 {
  font-size: 1.5vw;
  color: #5f5f5f;
}

.default-text {
  color: #868e96;
  opacity: 0.9;
  font-weight: 800;
  font-size: 1.4vw;
  line-height: 2.2vw;
}

section {
  margin-bottom: 7.5vw;
}

.app-line-command-wrapper {
  border: 1px solid #e8e8ea;
  padding: 0.5%;
  border-radius: 3px;
  background-color: #f8f8fc;
  span {
    font-size: 1vw;
    color: #e83e8c;
    word-break: break-word;
  }
}
