<div class="main-wrapper container">
  <h1 class="faq-title">{{ 'FAQ.TITLE' | translate }}</h1>

  <section>
    <div class="divider"></div>
    <h1>{{ 'FAQ.CONSENTS.TITLE' | translate }}</h1>
    <h2>{{ 'FAQ.CONSENTS.SUBTITLE_1' | translate }}</h2>
    <p class="default-text">{{ 'FAQ.CONSENTS.PART_1' | translate }}</p>
    <p class="json-text">{{ jsonData1 | json }}</p>
    <p class="default-text">{{ 'FAQ.CONSENTS.PART_2' | translate }}</p>
    <p class="default-text">{{ 'FAQ.CONSENTS.PART_3' | translate }}</p>
    <p class="json-text">{{ jsonData2 | json }}</p>
    <p class="default-text">{{ 'FAQ.CONSENTS.PART_4' | translate }}</p>
    <h2>{{ 'FAQ.CONSENTS.SUBTITLE_2' | translate }}</h2>
    <p class="default-text">{{ 'FAQ.CONSENTS.PART_5' | translate }}</p>
    <p class="default-text">{{ 'FAQ.CONSENTS.PART_8' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'FAQ.STRONG.TITLE' | translate }}</h1>
    <h2>{{ 'FAQ.STRONG.SUBTITLE_1' | translate }}</h2>
    <p class="default-text">
      {{ 'FAQ.STRONG.PART_1' | translate }}
      <span class="italic-text">{{ 'FAQ.STRONG.RECEIVED' | translate }}</span>
      {{ 'FAQ.STRONG.PART_2' | translate }}
    </p>
    <p class="default-text">{{ 'FAQ.STRONG.PART_3' | translate }}</p>
    <h2>{{ 'FAQ.STRONG.SUBTITLE_2' | translate }}</h2>
    <p class="default-text">{{ 'FAQ.STRONG.PART_4' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'FAQ.CERTIFICATES.TITLE' | translate }}</h1>
    <h2>{{ 'FAQ.CERTIFICATES.SUBTITLE_1' | translate }}</h2>
    <p class="default-text">
      {{ 'FAQ.CERTIFICATES.PART_1' | translate }}
      {{ 'FAQ.CERTIFICATES.PART_2' | translate }}
      <span class="app-line-command-wrapper"> <span>(.pem)</span> </span>
      {{ 'FAQ.CERTIFICATES.PART_3' | translate }}
      <span class="app-line-command-wrapper"> <span>(.key)</span> </span>
      {{ 'FAQ.CERTIFICATES.PART_4' | translate }}
      <span class="app-line-command-wrapper"> <span>.zip</span> </span>
      {{ 'FAQ.CERTIFICATES.PART_5' | translate }}
    </p>

    <h2>{{ 'FAQ.CERTIFICATES.SUBTITLE_2' | translate }}</h2>
    <p class="default-text">
      {{ 'FAQ.CERTIFICATES.PART_6' | translate }}
      <span class="app-line-command-wrapper"> <span>.pem</span> </span>
      {{ 'FAQ.CERTIFICATES.PART_7' | translate }}
      <span class="app-line-command-wrapper">
        <span>--cert ./certificate.p</span>
      </span>
      {{ 'FAQ.CERTIFICATES.PART_8' | translate }}
      <span class="app-line-command-wrapper">
        <span>--key ./private.key</span> </span
      >{{ 'FAQ.CERTIFICATES.PART_9' | translate }}
      <span class="italic-text"
        >"Preferences > Certificates > Add Certificate"</span
      >
      {{ 'FAQ.CERTIFICATES.PART_10' | translate }}
      {{ 'FAQ.CERTIFICATES.PART_11' | translate
      }}<span class="italic-text">"https://"</span>
      {{ 'FAQ.CERTIFICATES.PART_12' | translate }}
      <span class="app-line-command-wrapper"> <span>.pem</span> </span>
      {{ 'FAQ.CERTIFICATES.PART_13' | translate }}
      <span class="app-line-command-wrapper"> <span>.key</span> </span>
      {{ 'FAQ.CERTIFICATES.PART_14' | translate }}
    </p>

    <h2>{{ 'FAQ.CERTIFICATES.SUBTITLE_3' | translate }}</h2>
    <p class="default-text">{{ 'FAQ.CERTIFICATES.PART_15' | translate }}</p>
    <p class="json-text">{{ jsonData3 | json }}</p>
    <p class="default-text">{{ 'FAQ.CERTIFICATES.PART_16' | translate }}</p>
    <p class="json-text">{{ jsonData4 | json }}</p>
  </section>
</div>
