<div>
  <ul class="nav flex-md-column">
    <li class="nav-item">
      <a
        [routerLinkActive]="['active']"
        [routerLink]="['/accounts']"
        class="nav-link"
      >
        <!-- <div class="icon__container">
            <app-icon svgIcon="euro" inline="true"></app-icon>
        </div> -->
        <span class="nav__title">Accounts</span>
      </a>
    </li>
    <li class="nav-item">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node">
          <button mat-icon-button disabled></button>
          <a
            [routerLinkActive]="['active']"
            [routerLink]="['/consents/' + node.name]"
            class="nav-link w-100"
          >
            {{ node.name | uppercase }}
          </a>
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'
              }}
            </mat-icon>
          </button>
          {{ node.name }}
        </mat-tree-node>
      </mat-tree>
      <!--      <a [routerLinkActive]="['active']" [routerLink]="['/consents']" class="nav-link ">-->
      <!--        <div class="icon__container">-->
      <!--          <app-icon svgIcon="euro" inline="true"></app-icon>-->
      <!--        </div>-->
      <!--        <span class="nav__title">Consents</span>-->
      <!--      </a>-->
    </li>
    <li class="nav-item">
      <a
        [routerLinkActive]="['active']"
        [routerLink]="['/periodic-payments']"
        class="nav-link"
      >
        <!-- <div class="icon__container">
            <app-icon svgIcon="euro" inline="true"></app-icon>
        </div> -->
        <span class="nav__title">Payments</span>
      </a>
    </li>
  </ul>
</div>
