<div class="bg-sm-light sticky-top">
    <nav class="navbar navbar-light text-primary py-3">
      <a class="navbar-brand" href="#">
        <img class="logo" [src]="customizeService.getLogo()" />
      </a>
    </nav>
</div>

<div class="d-md-flex bg-white h-md-75">
  <div class="col">
    <div class="d-md-flex align-items-center h-100 p-4 justify-content-center">
      <div class="d-md-flex align-items-center">

          <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title text-center font-weight-bold "><span *ngIf="!customizeService.isCustom()">adorsys </span>Online banking</h2>
                <div class="font-weight-light text-muted card__subtitle">
                  Please log in with your bank account username and pin
                </div>

                <div *ngIf="errorMessage" class="alert alert-danger">
                  {{ errorMessage }}
                </div>


              <div class="form_margin">
                <div class="form-group">
                  <label for="login" class="text-muted" *ngIf="!customizeService.isCustom()">Your login:</label><br>
                  <input type="text"
                         id="login"
                         name="login"
                         formControlName="login"
                         placeholder="Enter your login"
                         [ngClass]="{ 'is-invalid': loginForm.controls['login'].touched && loginForm.controls['login'].errors }"
                         class="form-control">
                  <div class="invalid-feedback"
                       *ngIf="loginForm.controls['login'].touched && loginForm.controls['login'].hasError('required')">
                    Login is required
                  </div>
                </div>

                <div class="form-group">
                  <label for="pin" class="text-muted" *ngIf="!customizeService.isCustom()">PIN:</label><br>
                  <input type="password"
                         id="pin"
                         name="pin"
                         formControlName="pin"
                         placeholder="Enter your pin"
                         [ngClass]="{ 'is-invalid': loginForm.controls['pin'].touched && loginForm.controls['pin'].errors }"
                         class="form-control">
                  <div class="invalid-feedback"
                       *ngIf="loginForm.controls['pin'].touched && loginForm.controls['pin'].hasError('required')">PIN is
                    required
                  </div>
                  <div class="text-light-grey">
                      <a routerLink="/reset-password"><small>Forgot PIN?</small></a>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid" >Login</button>

            </div>
          </form>
      </div>
    </div>
  </div>
</div>
