<!--
  ~ Copyright 2018-2023 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<div class="bg-sm-light sticky-top">
  <nav class="navbar navbar-light text-primary py-3">
    <a class="navbar-brand" href="#">
      <img class="logo" [src]="customizeService.getLogo()" />
    </a>
  </nav>
</div>

<div class="d-md-flex bg-white">
  <div class="col">
    <div class="d-md-flex align-items-center h-100 p-4 justify-content-center">
      <div class="d-md-flex align-items-center">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="loginForm.valid && onSubmit()"
        >
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center font-weight-bold">
                <span *ngIf="!customizeService.isCustom()">adorsys </span>Online
                banking
              </h2>
              <div class="card__subtitle">
                Please log in with your bank account username
              </div>

              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>

              <div class="mrb-7 mrt">
                <div class="form-group">
                  <label
                    for="login"
                    class="text-muted"
                    *ngIf="!customizeService.isCustom()"
                    >Your login:</label
                  ><br />
                  <input
                    type="text"
                    id="login"
                    name="login"
                    formControlName="login"
                    placeholder="Enter your login"
                    [ngClass]="{
                      'is-invalid':
                        loginForm.controls['login'].touched &&
                        loginForm.controls['login'].errors
                    }"
                    class="form-control"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      loginForm.controls['login'].touched &&
                      loginForm.controls['login'].hasError('required')
                    "
                  >
                    Login is required
                  </div>
                </div>

                <div class="form-group">
                  <label
                    for="pin"
                    class="text-muted"
                    *ngIf="!customizeService.isCustom()"
                    >PIN:</label
                  ><br />
                  <input
                    type="password"
                    id="pin"
                    name="pin"
                    formControlName="pin"
                    placeholder="Enter your pin"
                    [ngClass]="{
                      'is-invalid':
                        loginForm.controls['pin'].touched &&
                        loginForm.controls['pin'].errors
                    }"
                    class="form-control"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      loginForm.controls['pin'].touched &&
                      loginForm.controls['pin'].hasError('required')
                    "
                  >
                    PIN is required
                  </div>
                  <div>
                    <a routerLink="/reset-password"
                      ><small>Forgot PIN?</small></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
