<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">

    <div class="card">
        <div class="card-body">
            <h2 class="card-title font-weight-bold">Welcome</h2>
            <div class="font-weight-light my-4 text-muted">Please log in with your bank account username.</div>

            <div class="col-12 font-weight-light">
                <div class=" row form-group">
                    <label class="text-muted" for="login">Login</label>
                    <input [ngClass]="{'is-invalid': loginForm.get('login')?.errors && loginForm.get('login')?.dirty}"
                           class="form-control" formControlName="login" id="login" name="login" type="text">
                </div>
                <div class=" row form-group">
                    <label class="text-muted" for="login">PIN</label>
                    <input [ngClass]="{'is-invalid': loginForm.get('pin')?.errors && loginForm.get('pin')?.dirty}"
                           class="form-control" formControlName="pin" id="pin" name="pin" type="password">
                </div>
            </div>
        </div>

        <div class="card-footer no-bg-color">
            <div class="row my-3">
                <div class="col-12 col-sm-6 pr-sm-2">
                    <button type="button"  class="btn btn-outline-secondary btn-block" (click)="cancel()">Cancel
                    </button>
                </div>
                <div class="col-12 col-sm-6 pl-sm-2">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Next
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>
