<div class="play-with-data-wrapper">
  <div class="request-method">
    <span
      class="line-command-wrapper"
      [ngStyle]="
        method === 'POST'
          ? { 'background-color': '#4acb91' }
          : method === 'GET'
          ? { 'background-color': '#007db8' }
          : method === 'PUT'
          ? { 'background-color': '#ffa93f' }
          : method === 'DELETE'
          ? { 'background-color': '#b22f3f' }
          : null
      "
    >
      <span>{{ method }}</span>
    </span>
    <div class="url">
      <span class="top-line">{{ url }}</span>
      <select
        id="paymentService"
        *ngIf="paymentServiceFlag"
        [(ngModel)]="paymentService"
      >
        <option [value]="ps" *ngFor="let ps of paymentServiceSelect">
          {{ ps }}
        </option>
      </select>
      <span class="top-line" *ngIf="paymentProductFlag || accountIdFlag"
        >/</span
      >
      <input
        type="text"
        class="payment-id"
        *ngIf="accountIdFlag"
        [(ngModel)]="accountId"
      />
      <select
        id="paymentProduct"
        *ngIf="paymentProductFlag"
        [(ngModel)]="paymentProduct"
      >
        <option [value]="'/' + pp" *ngFor="let pp of paymentProductSelect">
          {{ pp }}
        </option>
      </select>
      <span class="top-line" *ngIf="paymentIdFlag || consentIdFlag">/</span>

      <input
        type="text"
        class="payment-id"
        *ngIf="paymentIdFlag"
        [(ngModel)]="paymentId"
      />

      <input
        type="text"
        class="payment-id"
        *ngIf="consentIdFlag"
        [(ngModel)]="consentId"
      />

      <span class="top-line" *ngIf="variablePathEnd">{{
        variablePathEnd
      }}</span>
      <span
        class="top-line"
        *ngIf="authorisationIdFlag || cancellationIdFlag || transactionIdFlag"
        >/</span
      >
      <input
        type="text"
        class="payment-id"
        *ngIf="authorisationIdFlag"
        [(ngModel)]="authorisationId"
      />
      <input
        type="text"
        class="payment-id"
        *ngIf="cancellationIdFlag"
        [(ngModel)]="cancellationId"
      />
      <input
        type="text"
        class="payment-id"
        *ngIf="transactionIdFlag"
        [(ngModel)]="transactionId"
      />
      <span class="top-line" *ngIf="dateFromFlag">?dateFrom=</span>
      <input
        type="text"
        class="payment-id"
        *ngIf="dateFromFlag"
        [(ngModel)]="dateFrom"
      />
      <span class="top-line" *ngIf="bookingStatusFlag">&bookingStatus=</span>
      <select
        id="bookingStatus"
        *ngIf="bookingStatusFlag"
        [(ngModel)]="bookingStatus"
      >
        <option [value]="bs" *ngFor="let bs of bookingStatusSelect">
          {{ bs }}
        </option>
      </select>
    </div>
  </div>
  <div class="full-path" *ngIf="false">
    <span>Full path:</span> <span>{{ url }}</span>
    <span *ngIf="paymentService">{{ paymentService }}</span>
    <span *ngIf="paymentProduct">{{ paymentProduct }}</span>
    <span *ngIf="paymentId">{{ '/' + paymentId }}</span>
    <span *ngIf="accountId">{{ '/' + accountId }}</span>
    <span *ngIf="consentIdFlag">{{ '/' + consentId }}</span>
    <span *ngIf="variablePathEnd">{{ variablePathEnd }}</span>
    <span *ngIf="transactionId">{{ '/' + transactionId }}</span>
    <span *ngIf="dateFrom">{{ '?dateFrom=' + dateFrom }}</span>
    <span *ngIf="bookingStatus">{{ '&bookingStatus=' + bookingStatus }}</span>
    <span *ngIf="authorisationId">{{ '/' + authorisationId }}</span>
    <span *ngIf="cancellationId">{{ '/' + cancellationId }}</span>
  </div>

  <div class="play-with-data-table bg th">
    <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
    <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
  </div>
  <div
    class="play-with-data-table"
    *ngFor="let item of (headers | keyvalue); let i = index; trackBy: trackByFn"
    [ngClass]="i % 2 ? 'bg' : null"
  >
    <span>{{ item.key }}</span>
    <input [(ngModel)]="headers[item.key]" type="text" />
  </div>

  <div *ngFor="let consent of consentTypes; let i = index" class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="consentType"
      [id]="consent"
      [checked]="i == 0"
      (change)="handleConsentSelected(consent)"
    />
    <label class="form-check-label ml-4" [for]="consent"> {{ consent }} </label>
  </div>

  <div class="send-body" *ngIf="body">
    <span>Body</span>
    <textarea
      name=""
      id="textArea"
      cols="30"
      rows="10"
      [value]="body | json"
    ></textarea>
  </div>

  <ng-container *ngIf="response">
    <div *ngIf="response.status || response.statusText" class="response-status">
      <span class="status-style">Status</span>
      <div class="response-status-wrapper">
        <span>{{ response.status }}</span>
        <span>{{ getStatusText(response.status) }}</span>
      </div>
    </div>

    <div *ngIf="response.body" class="response-body">
      <span>Response body</span>
      <p class="response-body-text">{{ response.body | json }}</p>
    </div>

    <div *ngIf="fieldsToCopy.length && response.body">
      <table>
        <tr
          class="copy-field-wrapper"
          *ngFor="let field of fieldsToCopy; let i = index"
        >
          <div
            *ngIf="
              copyService.getCopyValue(i, fieldsToCopy, response, paymentId)
            "
          >
            <td class="copy-label">
              <label [for]="'input-' + i">{{ field }}</label>
            </td>
            <td class="copy-field">
              <input
                type="text"
                [value]="
                  copyService.getCopyValue(i, fieldsToCopy, response, paymentId)
                "
                [id]="'input-' + i"
              />
            </td>
            <td>
              <button
                class="copy-btn"
                (click)="copyService.copyThis(i, fieldsToCopy)"
              >
                Copy
              </button>
            </td>
          </div>
        </tr>
      </table>
    </div>
  </ng-container>

  <ngx-loading
    [show]="dataService.getIsLoading()"
    [config]="{
      backdropBackgroundColour: 'rgba(255,255,255,0.5)',
      backdropBorderRadius: '10px',
      primaryColour: '#000',
      secondaryColour: '#000',
      tertiaryColour: '#000'
    }"
  ></ngx-loading>

  <div class="btns">
    <button class="submit-btn" (click)="sendRequest()">Submit</button>
    <a
      [href]="redirectUrl"
      target="_blank"
      class="redirect-btn"
      *ngIf="redirectUrl"
    >
      Redirect Url
    </a>
  </div>
</div>
