.play-with-data-wrapper {
  padding: 2vw;
  position: relative;
  .request-method {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
  }
  .line-command-wrapper {
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8e8ea;
    padding: 0.5%;
    margin-right: 0.5vw;
    border-radius: 3px;
    span {
      font-size: 1vw;
      color: #fff;
    }
  }
  .play-with-data-table {
    display: flex;
    align-items: center;
    padding-left: 1vw;
    height: 3vw;
    span {
      width: 40%;
      font-size: 1vw;
    }
    input {
      outline: none;
      width: 15vw;
      font-size: 1vw;
      padding: 0.2vw 0.5vw;
    }
  }
  .send-body {
    span {
      margin: 2vw 0;
      display: block;
      font-size: 2vw;
    }
    textarea {
      display: block;
      width: 32vw !important;
      font-size: 1vw;
      resize: vertical;
      padding: 1vw;
    }
  }
  .response-status {
    .response-status-wrapper {
      background-color: #f3f3f3;
      padding: 0.5vw 0 0.5vw 1vw;
      span {
        font-size: 1vw;
        &:first-of-type {
          margin-right: 2vw;
          font-weight: 800;
        }
      }
    }
  }
  .response-body {
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    span {
      margin: 2vw 0;
      display: block;
      font-size: 2vw;
    }
    .response-body-text {
      padding: 0.7vw;
      font-size: 0.7vw;
      color: black;
      background-color: #eeeeee;
      white-space: pre-wrap;
      line-height: 1.3vw !important;
    }
  }
  .submit-btn {
    background-color: #054f72;
    color: #fff;
    width: 10vw;
    height: 2.5vw;
    font-size: 1vw;
    margin-top: 2.5vw;
    outline: none;
    cursor: pointer;
  }
}
