/*!
 * Copyright 2018-2023 adorsys GmbH & Co KG
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version. This program is distributed in the hope that
 * it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 *
 * This project is also available under a separate commercial license. You can
 * contact us at psd2@adorsys.com.
 */

@import "~src/assets/themes/variables";
/************************************+
  DROP-ZONE
*************************************/
.drop-zone {
  color: $light-grey;
  height: 200px;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  background-color: $light-grey-10;
}

.fileInput {
  display: none;
}

/************************************+
  TABLE
*************************************/
th {
  text-align: left;
}

button {
}

.my-drop-zone {
  border: dotted 3px $light-grey;
}
.nv-file-over {
  border: dotted 3px red;
} /* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.drop-text {
  margin-top: 10px;
  // margin-top: 10vh;
  .icon {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 25px auto 25px auto;
  }
}

label {
  border: 2px dashed $light-grey;
}
