<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.DOC' | translate }}</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.PLAY' | translate }}</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>{{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.TITLE' | translate }}</h1>

      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_1' | translate }}
        <span class="bold-text">POST</span> endpoint
        <app-line-command
          title="/v1/consents/{consentId}/authorisations"
        ></app-line-command
        >.
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_2' | translate }}
        <span class="bold-text">{{
          'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.STEP' | translate
        }}</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_3' | translate }}
        <app-line-command title="consentId"></app-line-command>.
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_4' | translate }}</p>
      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>TPP-QWAC-Certificate</span>
        <span> -----BEGIN CERTIFICATE-----</span>
      </div>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_5' | translate }}
        <span class="bold-text">YOUR_USER_LOGIN</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_6' | translate }}
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_7' | translate }}
        <span class="italic-text">{{
          'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.ITALIC' | translate
        }}</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_8' | translate }}
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="POST"
        [headers]="headers"
        [consentIdFlag]="true"
        [variablePathEnd]="'/authorisations'"
        url="v1/consents"
        [fieldsToCopy]="['authorisationId', 'consentId']"
        eventName="embedded_post_authorise_consent"
        eventCategory="send_request"
        eventAction="click"
        eventLabel="embedded_post_authorise_consent"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
