<!--
  ~ Copyright 2018-2024 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at sales@adorsys.com.
  -->

<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'documentation' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('documentation')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.DOC' | translate }}</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.PLAY' | translate }}</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div class="endpoint-documentation" *ngIf="activeSegment === 'documentation'; else play_with_data">
      <h1>
        {{ 'TEST_CASES.SIDE_NAV.CONSENT.EMBEDDED.START_AUTHORISATION_PROCESS' | translate }}
      </h1>

      <h2>{{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.TITLE' | translate }}</h2>
      <br />
      <span class="subtitle">{{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.SUBTITLE' | translate }}</span>

      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_1' | translate }} <span class="bold-text">POST</span> endpoint
        <app-line-command title="/v1/consents/{consentId}/authorisations"></app-line-command>.
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_2' | translate }}
        <span class="bold-text">{{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.STEP' | translate }}</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_3' | translate }} <app-line-command title="consentId"></app-line-command>.
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_4' | translate }}</p>
      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span> <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table"><span>X-Request-ID</span> <span>2f77a125-aa7a-45c0-b414-cea25a116035</span></div>
      <div class="api-table bg"><span>PSU-ID</span> <span>YOUR_USER_LOGIN</span></div>
      <div class="api-table"><span>TPP-QWAC-Certificate</span> <span> -----BEGIN CERTIFICATE-----</span></div>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_5' | translate }} <span class="bold-text">"PSU-ID"</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_6' | translate }}
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_7' | translate }}
        <span class="italic-text">{{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.ITALIC' | translate }}</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_CONS_AUTH.PART_8' | translate }}
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="POST"
        [headers]="headers"
        [consentIdFlag]="true"
        [consentId]="consentId"
        [variablePathEnd]="'/authorisations'"
        url="v1/consents"
        [fieldsToCopy]="['authorisationId', 'consentId']"
        eventName="embedded_post_authorise_consent"
        eventCategory="send_request"
        eventAction="click"
        eventLabel="embedded_post_authorise_consent"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
