<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>Documentation</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>Play with data</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>S1TEP 2: Cancel payment</h1>
      <p>
        Start with the authorisation process. Follow
        <app-line-command title="scaRedirect"></app-line-command>
        link to the online banking page.
      </p>
      <p>
        1. Initiate cancellation process with
        <span class="bold-text">DELETE</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}"
        ></app-line-command
        >.
      </p>
      <p>
        Choose the same
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="payment-product"></app-line-command>
        you chose in <span class="bold-text">STEP 1</span>.
      </p>

      <p>
        2. Enter payment id you have got from the previous response in
        <span class="bold-text">STEP 1</span> in the field
        <app-line-command title="paymentId"></app-line-command>.
      </p>

      <p>
        3. After choosing payment service and payment product, fill the header
        fields with the following values:
      </p>

      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <div class="api-table">
        <span>TPP-Redirect-Preferred</span> <span>true</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Redirect-URI</span>
        <span>https://adorsys.de/en/psd2-tpp/</span>
      </div>
      <div class="api-table">
        <span>TPP-Nok-Redirect-URI</span> <span>https://www.google.com</span>
      </div>
      <p>
        4. Hit <span class="italic-text">"Execute"</span> button and get 200
        HTTP code and related information.
      </p>
      <h1>STEP 3: Authorise payment</h1>
      <p>
        1. Start with the authorisation process for cancellation. Follow
        <app-line-command title="scaRedirect"></app-line-command>
        link to the online banking page.
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="DELETE"
        [headers]="headers"
        [paymentServiceFlag]="true"
        [paymentProductFlag]="true"
        [paymentIdFlag]="true"
        url="v1/"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
