<div class="getting-started-container">
  <section>
    <div class="divider"></div>
    <h1 class="title">Introduction</h1>
    <p>
      The
      <a
        target="_blank"
        href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32015L2366&from=EN"
      >
        Payment Service Directive 2 (PSD2)</a
      >
      instructs banks (Account Servicing Payment Service Providers or ASPSPs) to
      provide a fully productive Access-to-Account (XS2A) interface to Third
      Party Providers (TPPs) until September 2019. XS2A itself consists of
      banking services to initiate payments (PIS), request account data (AIS)
      and get the confirmation of the availability of funds (PIIS). In order to
      guarantee the compliance of this deadline due to adaptions and bugs, PSD2
      claims the banks to provide a functional dynamic sandbox offering the XS2A
      services in a non-productive environment until June 2019.
    </p>

    <p>
      The <span class="bold">XS2ASandbox</span> is a dynamic sandbox environment
      that fully meets the PSD2 requirements for providing APIs for Third-Party
      Providers (TPP). Based on the Berlin Group’s NextGen PSD2 specification
      for access to accounts (XS2A),
    </p>

    <p>
      This developer portal is created to help TPP developers start working with
      XS2ASandbox.
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>XS2ASandbox architecture and modules</h1>
    <p>
      Components of XS2ASandbox with their connections to each other are shown
      in Figure 1.1.
    </p>
    <img
      style="width: 100%;"
      src="../../assets/images/Graphic_XS2A_Sandbox.jpg"
    />
    <p>Figure 1.1: Components of the XS2ASandbox</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>XS2A Interface</h1>
    <p>
      Central component of the <span class="bold">XS2ASandbox</span> is the XS2A
      interface which meets the requirements of the Berlin Group's specification
      <a
        target="_blank"
        href="https://www.berlin-group.org/psd2-access-to-bank-accounts"
        >NextGenPSD2</a
      >
      (Version 1.3) and is based on test data. You can visit our
      <a target="_blank" href="http://localhost:8089/swagger-ui.html"
        >XS2A Swagger UI</a
      >
      or find full
      <a target="_blank" href="https://github.com/adorsys/xs2a"
        >OpenSource XS2A Interface on Github.</a
      >
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>ASPSP-Profile</h1>
    <p>
      Besides the actual interface, PSD2 instructs ASPSPs to offer a technical
      documentation free of charge containing amongst others, information about
      supported payment products and payment services. This information is
      stored in <span class="bold">ASPSP-profile</span> (bank profile), a
      service based on yaml file where a bank can provide available payment
      products, payment services, supported SCA approaches and other
      bank-specific settings.
    </p>
    <div class="divider"></div>
    <h2>Active XS2A Configuration (Bank Profile)</h2>
    <ul>
      <li>Supported SCA-Approach: Redirect, Embedded</li>
      <li>
        Available payment types and payment products for each type:
        <ul>
          <li>Single (sepa-credit-transfers)</li>
          <li>Future-Dated (sepa-credit-transfers)</li>
          <li>Bulk (sepa-credit-transfers)</li>
          <li>Periodic (sepa-credit-transfers)</li>
        </ul>
      </li>
      <li>Confirmation of Funds: supported</li>
      <li>
        Redirect URLs to Online Banking:
        <ul>
          <li>
            Redirect URL for Payment confirmation: **
            http://localhost:4400/payment-initiation/login?paymentId=encrypted-payment-id&redirectId=redirect-id
            **
          </li>
          <li>
            Redirect URL for Payment cancellation: **
            http://localhost:4400/payment-cancellation/login?paymentId=encrypted-payment-id&redirectId=redirect-id
            **
          </li>
          <li>
            Redirect URL for Account Consent confirmation: **
            http://localhost:4400/account-information/login?encryptedConsentId=encrypted-consent-id&redirectId=redirect-id
            **
          </li>
        </ul>
      </li>
      <li>
        Supported types of Consents:
        <ul>
          <li>Dedicated: Yes</li>
          <li>Bank-Offered: Yes</li>
          <li>Global: Yes</li>
          <li>Available Accounts: Yes</li>
        </ul>
      </li>
    </ul>

    <span style="font-size: 1.2vw;color: #9e9e9e;"
      >Currently disabled features:</span
    >

    <ul>
      <li>Signing Basket</li>
      <li>Delta-Reports</li>
    </ul>

    <div class="divider"></div>
    <h2>Corresponding ASPSP-Profile settings in .yaml file:</h2>

    <div class="yaml">
      {{
        'setting: \n' +
          'frequencyPerDay: 5 \n' +
          'combinedServiceIndicator: false \n' +
          'scaApproaches:  \n' +
          '- REDIRECT  \n' +
          '- EMBEDDED \n' +
          'tppSignatureRequired: false \n' +
          'bankOfferedConsentSupport: true \n' +
          'pisRedirectUrlToAspsp: http://localhost:4400/payment-initiation/' +
          'login?paymentId={encrypted-payment-id}&redirectId={redirect-id} \n' +
          'pisPaymentCancellationRedirectUrlToAspsp: http://localhost:4400/' +
          'payment-cancellation/login?paymentId={encrypted-payment-id}&redirectId={redirect-id} \n' +
          'aisRedirectUrlToAspsp: http://localhost:4400/account-information/' +
          'login?encryptedConsentId={encrypted-consent-id}&redirectId={redirect-id} \n' +
          'multicurrencyAccountLevel: SUBACCOUNT \n' +
          'availableBookingStatuses:  \n' +
          '- BOOKED  \n' +
          '- PENDING \n' +
          'supportedAccountReferenceFields: \n ' +
          '- MSISDN \n' +
          'consentLifetime: 0 \n' +
          'transactionLifetime: 0 \n' +
          'allPsd2Support: true \n' +
          'transactionsWithoutBalancesSupported: true \n' +
          'signingBasketSupported: false \n' +
          'paymentCancellationAuthorizationMandated: true \n' +
          'piisConsentSupported: true \n' +
          'deltaReportSupported: false \n' +
          'redirectUrlExpirationTimeMs: 600000 \n' +
          'notConfirmedConsentExpirationPeriodMs: 86400000 \n' +
          'notConfirmedPaymentExpirationPeriodMs: 86400000 \n' +
          'supportedPaymentTypeAndProductMatrix: \n' +
          'SINGLE:  \n' +
          '- sepa-credit-transfers  \n' +
          '- instant-sepa-credit-transfers \n' +
          'PERIODIC:  \n' +
          '- sepa-credit-transfers  \n' +
          '- instant-sepa-credit-transfers \n' +
          'BULK: \n ' +
          '- sepa-credit-transfers  \n' +
          '- instant-sepa-credit-transfers \n' +
          'paymentCancellationRedirectUrlExpirationTimeMs: 600000 \n' +
          'availableAccountsConsentSupported: true \n' +
          'scaByOneTimeAvailableAccountsConsentRequired: true \n' +
          'psuInInitialRequestMandated: false \n'
      }}
    </div>
  </section>

  <section>
    <div class="divider"></div>
    <h1>TPP Certificate Service</h1>
    <p>
      Usually, before accessing the XS2A services a TPP would need to register
      at its National Competent Authority (NCA) and request an
      <a
        target="_blank"
        href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32014R0910&from=EN"
        >eIDAS</a
      >
      certificate at an appropriate Trust Service Provider (TSP). Issuing a real
      certificate just for testing purposes would be too much effort, which is
      why the <span class="bold">XS2ASandbox</span> is additionally simulating a
      fictional TSP issuing Qualified Website Authentication Certificates
      (QWAC). A QWAC is part of eIDAS and might be better known
      <a target="_blank" href="https://www.ietf.org/rfc/rfc3739.txt"
        >as X.509</a
      >
      certificate. For PSD2-purposes the certificate gets extended by the
      QcStatement containing appropriate values such as the role(s) of the PSP
      (see
      <a
        target="_blank"
        href="https://www.etsi.org/deliver/etsi_ts/119400_119499/119495/01.01.02_60/ts_119495v010102p.pdf"
        >ETSI</a
      >).
    </p>

    <p>
      After embedding the QWAC in the actual XS2A request, the role and the
      signature get validated at a central reverse proxy before it gets finally
      passed to the interface where the banking logic happens.
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>TPP User Interface</h1>
    <p>
      TPP developers can register themselves into the system, obtain certificate
      and download test data for their TPP application using generated
      certificate and prepared data in TPP UI.
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>Online banking</h1>
    <p>
      In case of REDIRECT SCA approach a user wants to provide consent for using
      their account information or for payment confirmation/cancellation. Online
      banking is a user interface to provide consent to a bank. Links for a
      consent confirmation and payment confirmation or cancellation are provided
      in the response of the corresponding endpoints.
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>Links to environments</h1>
    <div class="links-to-environments bg th">
      <span>Service</span> <span>Local environment</span>
      <span>XS2ASandbox Demo environment</span>
    </div>

    <div class="links-to-environments">
      <span>Developer portal</span>
      <span
        ><a target="_blank" href="http://localhost:4206"
          >http://localhost:4206</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-developerportalui.cloud.adorsys.de"
        >
          https://demo-dynamicsandbox-developerportalui.cloud.adorsys.de</a
        >
      </span>
    </div>

    <div class="links-to-environments bg">
      <span>XS2A Interface Swagger</span>
      <a target="_blank" href="http://localhost:8080/swagger-ui.html"
        >http://localhost:8089/swagger-ui.html</a
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-xs2a.cloud.adorsys.de/"
        >
          https://demo-dynamicsandbox-xs2a.cloud.adorsys.de/</a
        >
      </span>
    </div>

    <div class="links-to-environments">
      <span>Consent management system</span>
      <span
        ><a target="_blank" href="http://localhost:38080/swagger-ui.html">
          http://localhost:38080/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-cms.cloud.adorsys.de"
        >
          https://demo-dynamicsandbox-cms.cloud.adorsys.de</a
        >
      </span>
    </div>

    <div class="links-to-environments bg">
      <span>Ledgers</span>
      <span
        ><a target="_blank" href="http://localhost:8088/swagger-ui.html"
          >http://localhost:8088/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-ledgers.cloud.adorsys.de"
        >
          https://demo-dynamicsandbox-ledgers.cloud.adorsys.de</a
        >
      </span>
    </div>
    <div class="links-to-environments">
      <span>ASPSP-Profile Swagger</span>
      <span
        ><a target="_blank" href="http://localhost:48080/swagger-ui.html"
          >http://localhost:48080/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-aspspprofile.cloud.adorsys.de"
        >
          https://demo-dynamicsandbox-aspspprofile.cloud.adorsys.de</a
        >
      </span>
    </div>

    <div class="links-to-environments bg">
      <span>TPP User Interface</span>
      <span
        ><a target="_blank" href="http://localhost:4205"
          >http://localhost:4205</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-tppui.cloud.adorsys.de/login"
        >
          https://demo-dynamicsandbox-tppui.cloud.adorsys.de/login</a
        >
      </span>
    </div>

    <div class="links-to-environments">
      <span>Online banking UI</span>
      <span
        ><a target="_blank" href="http://localhost:4400/"
          >http://localhost:4400</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-onlinebankingui.cloud.adorsys.de/account-information/login"
        >
          https://demo-dynamicsandbox-onlinebankingui.cloud.adorsys.de/account-information/login</a
        >
      </span>
    </div>

    <div class="links-to-environments bg">
      <span>Online banking backend</span>
      <span
        ><a target="_blank" href="http://localhost:8090/swagger-ui.html"
          >http://localhost:8090/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-onlinebanking.cloud.adorsys.de/swagger-ui.html"
        >
          https://demo-dynamicsandbox-onlinebanking.cloud.adorsys.de/swagger-ui.html</a
        >
      </span>
    </div>
    <div class="links-to-environments">
      <span>Certificate Generator</span>
      <span
        ><a target="_blank" href="http://localhost:8090/swagger-ui.html"
          >http://localhost:8092/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-certificategenerator.cloud.adorsys.de/swagger-ui.html"
        >
          https://demo-dynamicsandbox-certificategenerator.cloud.adorsys.de/swagger-ui.html</a
        >
      </span>
    </div>
  </section>

  <section>
    <div class="divider"></div>
    <h1>How to download, setup and run the project</h1>
    <h2>Prerequisites</h2>

    <p>
      This sandbox runs with the docker-compose that can be found at
      docker-compose.yml and Makefile in project directory. But before you run
      XS2ASandbox, first check if all build dependencies are installed:

      <span class="app-line-command-wrapper"> <span> make check </span> </span>
    </p>
    <p>
      If something is missing, install it to your local machine, otherwise the
      build will fail. List of dependencies that are required to use
      XS2ASandbox: Java 8, NodeJs, Angular CLI, Asciidoctor, jq, Docker, Docker
      Compose, Maven, PlantUML. Here are links where you can install needed
      dependencies:
    </p>
    <section>
      <div class="links-to-environments bg th">
        <span>Dependency</span> <span>Link</span>
      </div>

      <div class="links-to-environments">
        <span>Java 8</span>
        <span>
          <a target="_blank" href="https://openjdk.java.net/install/">
            https://openjdk.java.net/install/
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Node.js 11.x</span>
        <span>
          <a target="_blank" href="https://nodejs.org/en/download">
            https://nodejs.org/en/download
          </a>
        </span>
      </div>

      <div class="links-to-environments" bg>
        <span>Angular CLI 7.x</span>
        <span>
          <a target="_blank" href="https://angular.io/guide/quickstart">
            https://angular.io/guide/quickstart
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Asciidoctor 2.0</span>
        <span>
          <a target="_blank" href="https://asciidoctor.org">
            https://asciidoctor.org
          </a>
        </span>
      </div>

      <div class="links-to-environments" bg>
        <span>jq 1.6</span>
        <span>
          <a target="_blank" href="https://stedolan.github.io/jq/download">
            https://stedolan.github.io/jq/download
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Docker 1.17</span>
        <span>
          <a target="_blank" href="https://www.docker.com/get-started">
            https://www.docker.com/get-started
          </a>
        </span>
      </div>

      <div class="links-to-environments" bg>
        <span>Docker Compose 1.24</span>
        <span>
          <a target="_blank" href="https://docs.docker.com/compose/install">
            https://docs.docker.com/compose/install
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Maven 3.5</span>
        <span>
          <a target="_blank" href="https://www.docker.com/get-started">
            https://maven.apache.org/download.cgi
          </a>
        </span>
      </div>

      <div class="links-to-environments" bg>
        <span>PlantUML 1.2019.3</span>
        <span>
          <a target="_blank" href="http://plantuml.com/en/starting">
            http://plantuml.com/en/starting
          </a>
        </span>
      </div>
    </section>

    <p>Stop running containers in terminal with key combination Control + C.</p>
    <p>
      You can remove all the Sandbox containers from Docker with the following
      command:
    </p>
    <span class="app-line-command-wrapper">
      <span>docker-compose rm -s -f -v</span> <br />
    </span>

    <h2>Note 1</h2>
    <p>
      Please, use Node.js version lower than 12 (e.g. 10.x.x or 11.x.x).
      Otherwise angular applications would not be built due to version
      conflicts.
    </p>

    <h2>Note 2</h2>
    <p>
      Check amount of memory given to Docker (Open Docker Desktop -> Preferences
      -> Advanced -> Memory). For a fast and painless start of all the services
      it should be not less than 5 GB.
    </p>

    <div class="divider"></div>

    <h2>Download XS2ASandbox</h2>
    <p>
      Download the project directly
      <a target="_blank" href="https://github.com/adorsys/XS2A-Sandbox"
        >from GitHub</a
      >
      or use command:
    </p>
    <span class="app-line-command-wrapper">
      <span>git clone https://github.com/adorsys/XS2A-Sandbox</span>
    </span>

    <div class="divider"></div>

    <h2>Build and run XS2ASandbox</h2>
    <p>After downloading the project go to the project directory:</p>
    <span class="app-line-command-wrapper"> <span>cd XS2A-Sandbox</span> </span>
    <p>Build all the services with the command:</p>
    <span class="app-line-command-wrapper"> <span>make</span> </span>

    <p>
      After building services you can run XS2ASandbox in two ways - with a
      simple docker command:
    </p>
    <span class="app-line-command-wrapper">
      <span>docker-compose up</span>
    </span>

    <p>Or with Makefile commands:</p>
    <p>1. Build and run services</p>
    <span class="app-line-command-wrapper"> <span> make run</span> </span>
    <p>2. Run services without build</p>
    <span class="app-line-command-wrapper"> <span>make start</span> </span>
  </section>

  <section>
    <div class="divider"></div>
    <h1>Troubleshooting</h1>

    <p>
      These are common mistakes you can get during the start of XS2ASandbox and
      an instruction how to get rid of it:
    </p>

    <h2>Liquibase changelog error</h2>

    <p>
      This error can be produced if you had unsuccessful start of XS2ASandbox
      earlier. Example of possible stack trace:
    </p>

    <div class="yaml">
      {{
        'ledgers                       | 2019-05-02 13:54:29.410  INFO 1 --- [           main] liquibase.executor.jvm.JdbcExecutor      : SELECT LOCKED FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers                       | 2019-05-02 13:54:39.697  INFO 1 --- [           main] l.lockservice.StandardLockService        : Waiting for changelog lock.... \n' +
          'ledgers                       | 2019-05-02 13:54:55.137  INFO 1 --- [           main] liquibase.executor.jvm.JdbcExecutor      : SELECT LOCKED FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers                       | 2019-05-02 13:55:35.940  INFO 1 --- [           main] l.lockservice.StandardLockService        : Waiting for changelog lock.... \n' +
          'ledgers                       | 2019-05-02 13:55:45.995  INFO 1 --- [           main] liquibase.executor.jvm.JdbcExecutor      : SELECT LOCKED FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers                       | 2019-05-02 13:55:46.967  INFO 1 --- [           main] l.lockservice.StandardLockService        : Waiting for changelog lock.... \n' +
          'ledgers                       | 2019-05-02 13:55:59.167  INFO 1 --- [           main] liquibase.executor.jvm.JdbcExecutor      : SELECT LOCKED FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers                       | 2019-05-02 13:57:38.705  INFO 1 --- [           main] l.lockservice.StandardLockService        : Waiting for changelog lock.... \n' +
          'ledgers exited with code 137'
      }}
    </div>

    <p>Possible solution:</p>
    <p>
      Find and delete all folders "ledgerdbs" and "xs2adbs". Clear all docker
      containers with command:
    </p>

    <span class="app-line-command-wrapper">
      <span>docker-compose rm -s -f -v</span> <br />
    </span>

    <p>Restart all services.</p>

    <h2>Node version error</h2>

    <p>
      This error can be produced because of wrong NodeJs version (version higher
      than 11.x). Example of possible stack trace:
    </p>

    <div class="yaml">
      {{
        'gyp ERR! build error \n' +
          'gyp ERR! stack Error: `make` failed with exit code: 2 \n' +
          'gyp ERR! stack     at ChildProcess.onExit (/Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/node-gyp/lib/build.js:262:23) \n' +
          'gyp ERR! stack     at ChildProcess.emit (events.js:196:13) \n' +
          'gyp ERR! stack     at Process.ChildProcess._handle.onexit (internal/child_process.js:256:12) \n' +
          'gyp ERR! System Darwin 17.7.0 \n' +
          'gyp ERR! command "/usr/local/Cellar/node/12.1.0/bin/node" "/Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/node-gyp/bin/node-gyp.js" "rebuild" "--verbose" "--libsass_ext=" "--libsass_cflags=" "--libsass_ldflags=" "--libsass_library=" \n' +
          'gyp ERR! cwd /Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/@angular-devkit/build-angular/node_modules/node-sass \n' +
          'gyp ERR! node -v v12.1.0 \n' +
          'gyp ERR! node-gyp -v v3.8.0 \n' +
          'gyp ERR! not ok'
      }}
    </div>

    <p>Possible solution:</p>

    <p>First, check your version of NodeJs with the command:</p>
    <span class="app-line-command-wrapper"> <span>node -v</span> <br /> </span>

    <p>
      If version is higher than 11.x - change version of NodeJs to earlier one.
    </p>
    <h2></h2>
  </section>

  <section>
    <div class="divider"></div>

    <h1>How to register TPP and start testing</h1>
    <ol>
      <li>
        Open
        <a target="_blank" href="http://localhost:4205"
          >TPP User Interface login page</a
        >.
      </li>
      <li>
        If you have no login and password - register yourself by clicking
        "Register" button.
      </li>
      <li>
        Register yourself, create a certificate and log into the system. Note:
        TPP ID should consist of at least 8 digits, no letters or other signs
        allowed.
      </li>
      <li>Upload the test data and start testing.</li>
      <p>
        Whole flow for TPPs to start their work with XS2ASandbox is displayed in
        Figure 1.2:
      </p>
      <img style="width: 100%" src="../../assets/images/Flow.png" />
      <p>Figure 1.2: TPP flow step-by-step</p>
    </ol>
  </section>

  <section>
    <div class="divider"></div>
    <h1>What's next?</h1>
    <p>
      When you are done with all steps from
      <a href="/getting-started">Getting started</a> manual, check
      <a href="/test-cases">Test cases</a> section for further testing. There
      you will find prepared <span class="bold">Postman tests</span>, XS2A
      Interface API description and instructions how to test XS2ASandbox with
      <span class="bold">Swagger</span>.
    </p>
  </section>
</div>
