.bold {
  font-weight: 900;
  color: #3b4151;
}

.divider {
  margin-top: 3vw;
}

li {
  font-weight: 600;
}

img {
  margin-top: 3vw;
  width: 100%;
}

section {
  margin-bottom: 7.5vw;

  .links-to-environments {
    background-color: var(--tableBG);
    border-bottom: var(--tableBorderStyleBottom);
    border-left: var(--tableBorderStyleLeft);
    border-right: var(--tableBorderStyleRight);
    border-top: var(--tableBorderStyleTop);

    display: flex;
    align-items: center;
    padding: 0.8em;

    a {
      width: 30%;
      display: block;
      font-size: 0.8em;
    }

    span {
      width: 30%;
    }
  }

  .links-to-environments.bg {
    background-color: var(--tableStripedBG);
  }

  .currently-disabled-features {
    font-size: 1.2rem;
  }

  .app-line-command-wrapper {
    border: 1px solid #e8e8ea;
    padding: 0.5%;
    border-radius: 3px;
    background-color: #f8f8fc;

    span {
      color: #e83e8c;
      word-break: break-word;
    }
  }
}

.customization {
  .JSON {
    cursor: pointer;
    color: #0000ee;
    text-decoration: underline;
  }

  ul:first-child {
    padding-inline-start: 20px;
  }

  ol > li:nth-child(2) {
    margin-bottom: 0.7vw;
  }

  .steps-list {
    padding-inline-start: 15px;
  }
}

.yaml {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #272822;
  padding: 1.5em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
