<div class="getting-started-container container">
  <section>
    <div class="divider"></div>
    <h1 class="title">
      {{ 'GETTING_STARTED.INTRODUCTION.TITLE' | translate }}
    </h1>
    <p>
      {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.THE_1' | translate }}
      <a
        target="_blank"
        href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32015L2366&from=EN"
      >
        {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.LINK' | translate }}
      </a>
      {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.PART_1' | translate }}
    </p>

    <p>
      {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.THE_2' | translate }}
      <span class="bold">{{
        'GETTING_STARTED.INTRODUCTION.CONTENT.XS2A' | translate
      }}</span>
      {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.PART_2' | translate }}
    </p>

    <p>{{ 'GETTING_STARTED.INTRODUCTION.CONTENT.PART_3' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.ARCHITECTURE.TITLE' | translate }}</h1>
    <p>{{ 'GETTING_STARTED.ARCHITECTURE.CONTENT' | translate }}</p>
    <img src="../../assets/images/Graphic_XS2A_Sandbox.jpg" />
    <p>{{ 'GETTING_STARTED.ARCHITECTURE.CAPTION' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.INTERFACE.TITLE' | translate }}</h1>
    <p>
      {{ 'GETTING_STARTED.INTERFACE.CONTENT.PART_1' | translate }}
      <span class="bold">{{
        'GETTING_STARTED.INTERFACE.CONTENT.XS2A' | translate
      }}</span>
      {{ 'GETTING_STARTED.INTERFACE.CONTENT.PART_2' | translate }}
      <a
        target="_blank"
        href="https://www.berlin-group.org/psd2-access-to-bank-accounts"
      >
        NextGenPSD2
      </a>
      {{ 'GETTING_STARTED.INTERFACE.CONTENT.PART_3' | translate }}
      <a target="_blank" [href]="getEnvLink('XS2A_INTERFACE_SWAGGER')">
        XS2A Swagger UI
      </a>
      {{ 'GETTING_STARTED.INTERFACE.CONTENT.PART_4' | translate }}
      <a target="_blank" href="https://github.com/adorsys/xs2a">
        {{ 'GETTING_STARTED.INTERFACE.CONTENT.LINK' | translate }}
      </a>
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.PROFILE.TITLE' | translate }}</h1>
    <p>
      {{ 'GETTING_STARTED.PROFILE.CONTENT.PART_1' | translate }}
      <span class="bold">{{
        'GETTING_STARTED.PROFILE.CONTENT.ASPSP' | translate
      }}</span>
      {{ 'GETTING_STARTED.PROFILE.CONTENT.PART_2' | translate }}
    </p>
    <div class="divider"></div>
    <h2>{{ 'GETTING_STARTED.PROFILE.SUBTITLE_1' | translate }}</h2>
    <ul>
      <li>{{ 'GETTING_STARTED.PROFILE.LIST.LI_1' | translate }}</li>
      <li>
        {{ 'GETTING_STARTED.PROFILE.LIST.LI_2' | translate }}
        <ul>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_1.LI_1' | translate }}</li>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_1.LI_2' | translate }}</li>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_1.LI_3' | translate }}</li>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_1.LI_4' | translate }}</li>
        </ul>
      </li>
      <li>{{ 'GETTING_STARTED.PROFILE.LIST.LI_3' | translate }}</li>
      <li>
        {{ 'GETTING_STARTED.PROFILE.LIST.LI_4' | translate }}
        <ul>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_2.LI_1' | translate }}</li>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_2.LI_2' | translate }}</li>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_2.LI_3' | translate }}</li>
        </ul>
      </li>
      <li>
        {{ 'GETTING_STARTED.PROFILE.LIST.LI_5' | translate }}
        <ul>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_3.LI_1' | translate }}</li>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_3.LI_2' | translate }}</li>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_3.LI_3' | translate }}</li>
          <li>{{ 'GETTING_STARTED.PROFILE.LIST.UL_3.LI_4' | translate }}</li>
        </ul>
      </li>
    </ul>

    <span class="currently-disabled-features">{{
      'GETTING_STARTED.PROFILE.LIST.DISABLED' | translate
    }}</span>

    <ul>
      <li>{{ 'GETTING_STARTED.PROFILE.LIST.LI_6' | translate }}</li>
      <li>{{ 'GETTING_STARTED.PROFILE.LIST.LI_7' | translate }}</li>
    </ul>

    <div class="divider"></div>
    <h2>{{ 'GETTING_STARTED.PROFILE.SUBTITLE_2' | translate }}</h2>

    <div class="yaml">
      {{
        'setting: \n' +
          'frequencyPerDay: 5 \n' +
          'combinedServiceIndicator: false \n' +
          'scaApproaches: \n' +
          '- REDIRECT \n' +
          '- EMBEDDED \n' +
          'tppSignatureRequired: false \n' +
          'bankOfferedConsentSupport: true \n' +
          'pisRedirectUrlToAspsp: http://localhost:4400/payment-initiation/' +
          'login?paymentId={encrypted-payment-id}&redirectId={redirect-id} \n' +
          'pisPaymentCancellationRedirectUrlToAspsp: http://localhost:4400/' +
          'payment-cancellation/login?paymentId={encrypted-payment-id}&redirectId={redirect-id} \n' +
          'aisRedirectUrlToAspsp: http://localhost:4400/account-information/' +
          'login?encryptedConsentId={encrypted-consent-id}&redirectId={redirect-id} \n' +
          'multicurrencyAccountLevel: SUBACCOUNT \n' +
          'availableBookingStatuses: \n' +
          '- BOOKED \n' +
          '- PENDING \n' +
          'supportedAccountReferenceFields: \n ' +
          '- MSISDN \n' +
          'consentLifetime: 0 \n' +
          'transactionLifetime: 0 \n' +
          'allPsd2Support: true \n' +
          'transactionsWithoutBalancesSupported: true \n' +
          'signingBasketSupported: false \n' +
          'paymentCancellationAuthorizationMandated: true \n' +
          'piisConsentSupported: true \n' +
          'deltaReportSupported: false \n' +
          'redirectUrlExpirationTimeMs: 600000 \n' +
          'notConfirmedConsentExpirationPeriodMs: 86400000 \n' +
          'notConfirmedPaymentExpirationPeriodMs: 86400000 \n' +
          'supportedPaymentTypeAndProductMatrix: \n' +
          'SINGLE: \n' +
          '- sepa-credit-transfers \n' +
          '- instant-sepa-credit-transfers \n' +
          'PERIODIC: \n' +
          '- sepa-credit-transfers \n' +
          '- instant-sepa-credit-transfers \n' +
          'BULK: \n ' +
          '- sepa-credit-transfers \n' +
          '- instant-sepa-credit-transfers \n' +
          'paymentCancellationRedirectUrlExpirationTimeMs: 600000 \n' +
          'availableAccountsConsentSupported: true \n' +
          'scaByOneTimeAvailableAccountsConsentRequired: true \n' +
          'psuInInitialRequestMandated: false \n'
      }}
    </div>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.CERTIFICATE.TITLE' | translate }}</h1>
    <p>
      {{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_1' | translate }}
      <a
        target="_blank"
        href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32014R0910&from=EN"
      >
        eIDAS
      </a>
      {{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_2' | translate }}
      <span class="bold">XS2ASandbox</span>
      {{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_3' | translate }}
      <a target="_blank" href="https://www.ietf.org/rfc/rfc3739.txt"> X.509 </a>
      {{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_4' | translate }}
      <a
        target="_blank"
        href="https://www.etsi.org/deliver/etsi_ts/119400_119499/119495/01.01.02_60/ts_119495v010102p.pdf"
        >ETSI</a
      >
      ).
    </p>

    <p>{{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_5' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.UI.TITLE' | translate }}</h1>
    <p>{{ 'GETTING_STARTED.UI.CONTENT' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.OBA.TITLE' | translate }}</h1>
    <p>{{ 'GETTING_STARTED.OBA.CONTENT' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.LINKS_TO.TITLE' | translate }}</h1>
    <div class="links-to-environments bg th">
      <span>{{ 'GETTING_STARTED.LINKS_TO.TABLE.R1_C1' | translate }}</span>
      <span>{{ 'GETTING_STARTED.LINKS_TO.TABLE.R1_C2' | translate }}</span>
      <span>{{ 'GETTING_STARTED.LINKS_TO.TABLE.R1_C3' | translate }}</span>
    </div>

    <div
      *ngFor="let link of settings.envLinks; let i = index"
      class="links-to-environments"
      [ngClass]="i % 2 == 0 ? '' : 'bg'"
    >
      <span>{{
        'GETTING_STARTED.LINKS_TO.TABLE.' + link.name | translate
      }}</span>

      <span>
        <a
          class="links-to-environments-link"
          target="_blank"
          href="{{link.localEnvironmentLink}}"
        >
          {{ link.localEnvironmentLink }}
        </a>
      </span>

      <span>
        <a
          class="links-to-environments-link"
          target="_blank"
          href="{{link.productionEnvironmentLink}}"
        >
          {{ link.productionEnvironmentLink }}
        </a>
      </span>
    </div>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.HOW_TO_DOWN.TITLE' | translate }}</h1>
    <h2>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBTITLE_1' | translate }}</h2>

    <p>
      {{ 'GETTING_STARTED.HOW_TO_DOWN.CONTENT.PART_1' | translate }}
      <span class="app-line-command-wrapper"> <span> make check </span> </span>
    </p>
    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.CONTENT.PART_2' | translate }}</p>

    <section>
      <div class="links-to-environments bg th">
        <span>{{
          'GETTING_STARTED.HOW_TO_DOWN.CONTENT.TH_1' | translate
        }}</span>
        <span>{{
          'GETTING_STARTED.HOW_TO_DOWN.CONTENT.TH_2' | translate
        }}</span>
      </div>

      <div class="links-to-environments">
        <span>Java 8</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="https://openjdk.java.net/install/"
          >
            https://openjdk.java.net/install/
          </a>
        </span>
      </div>

      <div class="links-to-environments bg">
        <span>Node.js 11.x</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="https://nodejs.org/en/download"
          >
            https://nodejs.org/en/download
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Angular CLI 7.x</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="https://angular.io/guide/quickstart"
          >
            https://angular.io/guide/quickstart
          </a>
        </span>
      </div>

      <div class="links-to-environments bg">
        <span>Asciidoctor 2.0</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="https://asciidoctor.org"
          >
            https://asciidoctor.org
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>jq 1.6</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="https://stedolan.github.io/jq/download"
          >
            https://stedolan.github.io/jq/download
          </a>
        </span>
      </div>

      <div class="links-to-environments bg">
        <span>Docker 1.17</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="https://www.docker.com/get-started"
          >
            https://www.docker.com/get-started
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Docker Compose 1.24</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="https://docs.docker.com/compose/install"
          >
            https://docs.docker.com/compose/install
          </a>
        </span>
      </div>

      <div class="links-to-environments bg">
        <span>Maven 3.5</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="https://www.docker.com/get-started"
          >
            https://maven.apache.org/download.cgi
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>PlantUML 1.2019.3</span>
        <span>
          <a
            class="links-to-environments-link"
            target="_blank"
            href="http://plantuml.com/en/starting"
          >
            http://plantuml.com/en/starting
          </a>
        </span>
      </div>
    </section>

    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.CONTENT.PART_3' | translate }}</p>
    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.CONTENT.PART_4' | translate }}</p>
    <span class="app-line-command-wrapper">
      <span>docker-compose rm -s -f -v</span>
    </span>

    <h2>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBTITLE_2' | translate }}</h2>
    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.TEXT_1' | translate }}</p>

    <h2>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBTITLE_3' | translate }}</h2>
    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.TEXT_2' | translate }}</p>

    <div class="divider"></div>

    <h2>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_1.TITLE' | translate }}</h2>
    <p>
      {{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_1.PART_1' | translate }}
      <a target="_blank" href="https://github.com/adorsys/XS2A-Sandbox">
        {{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_1.LINK' | translate }}
      </a>
      {{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_1.PART_2' | translate }}
    </p>
    <span class="app-line-command-wrapper">
      <span>git clone https://github.com/adorsys/XS2A-Sandbox</span>
    </span>

    <div class="divider"></div>

    <h2>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_2.TITLE' | translate }}</h2>
    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_2.PART_1' | translate }}</p>
    <span class="app-line-command-wrapper"> <span>cd XS2A-Sandbox</span> </span>
    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_2.PART_2' | translate }}</p>
    <span class="app-line-command-wrapper"> <span>make</span> </span>

    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_2.PART_3' | translate }}</p>
    <span class="app-line-command-wrapper">
      <span>docker-compose up</span>
    </span>

    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_2.PART_4' | translate }}</p>
    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_2.PART_5' | translate }}</p>
    <span class="app-line-command-wrapper"> <span> make run</span> </span>
    <p>{{ 'GETTING_STARTED.HOW_TO_DOWN.SUBSECTION_2.PART_6' | translate }}</p>
    <span class="app-line-command-wrapper"> <span>make start</span> </span>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.TROUBLES.TITLE' | translate }}</h1>

    <p>{{ 'GETTING_STARTED.TROUBLES.PART_1' | translate }}</p>

    <h2>{{ 'GETTING_STARTED.TROUBLES.SUBTITLE_1' | translate }}</h2>

    <p>{{ 'GETTING_STARTED.TROUBLES.PART_2' | translate }}</p>

    <div class="yaml">
      {{
        'ledgers | 2019-05-02 13:54:29.410 INFO 1 --- [ main] liquibase.executor.jvm.JdbcExecutor : SELECT LOCKED
            FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers | 2019-05-02 13:54:39.697 INFO 1 --- [ main] l.lockservice.StandardLockService : Waiting for
            changelog lock.... \n' +
          'ledgers | 2019-05-02 13:54:55.137 INFO 1 --- [ main] liquibase.executor.jvm.JdbcExecutor : SELECT LOCKED
            FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers | 2019-05-02 13:55:35.940 INFO 1 --- [ main] l.lockservice.StandardLockService : Waiting for
            changelog lock.... \n' +
          'ledgers | 2019-05-02 13:55:45.995 INFO 1 --- [ main] liquibase.executor.jvm.JdbcExecutor : SELECT LOCKED
            FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers | 2019-05-02 13:55:46.967 INFO 1 --- [ main] l.lockservice.StandardLockService : Waiting for
            changelog lock.... \n' +
          'ledgers | 2019-05-02 13:55:59.167 INFO 1 --- [ main] liquibase.executor.jvm.JdbcExecutor : SELECT LOCKED
            FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers | 2019-05-02 13:57:38.705 INFO 1 --- [ main] l.lockservice.StandardLockService : Waiting for
            changelog lock.... \n' +
          'ledgers exited with code 137'
      }}
    </div>

    <p>{{ 'GETTING_STARTED.TROUBLES.PART_3' | translate }}</p>
    <p>{{ 'GETTING_STARTED.TROUBLES.PART_4' | translate }}</p>

    <span class="app-line-command-wrapper">
      <span>docker-compose rm -s -f -v</span>
    </span>

    <p>{{ 'GETTING_STARTED.TROUBLES.PART_5' | translate }}</p>

    <h2>{{ 'GETTING_STARTED.TROUBLES.SUBTITLE_2' | translate }}</h2>

    <p>{{ 'GETTING_STARTED.TROUBLES.PART_6' | translate }}</p>

    <div class="yaml">
      {{
        'gyp ERR! build error \n' +
          'gyp ERR! stack Error: `make` failed with exit code: 2 \n' +
          'gyp ERR! stack at ChildProcess.onExit
            (/Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/node-gyp/lib/build.js:262:23) \n' +
          'gyp ERR! stack at ChildProcess.emit (events.js:196:13) \n' +
          'gyp ERR! stack at Process.ChildProcess._handle.onexit (internal/child_process.js:256:12) \n' +
          'gyp ERR! System Darwin 17.7.0 \n' +
          'gyp ERR! command "/usr/local/Cellar/node/12.1.0/bin/node"
            "/Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/node-gyp/bin/node-gyp.js" "rebuild" "--verbose"
            "--libsass_ext=" "--libsass_cflags=" "--libsass_ldflags=" "--libsass_library=" \n' +
          'gyp ERR! cwd
            /Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/@angular-devkit/build-angular/node_modules/node-sass
            \n' +
          'gyp ERR! node -v v12.1.0 \n' +
          'gyp ERR! node-gyp -v v3.8.0 \n' +
          'gyp ERR! not ok'
      }}
    </div>

    <p>{{ 'GETTING_STARTED.TROUBLES.PART_7' | translate }}</p>

    <p>{{ 'GETTING_STARTED.TROUBLES.PART_8' | translate }}</p>
    <span class="app-line-command-wrapper"> <span>node -v</span> </span>

    <p>{{ 'GETTING_STARTED.TROUBLES.PART_9' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>

    <h1>{{ 'GETTING_STARTED.HOW_TO_REG.TITLE' | translate }}</h1>
    <ol>
      <li>
        {{ 'GETTING_STARTED.HOW_TO_REG.LIST.LI_1' | translate }}
        <a target="_blank" href="http://localhost:4205">{{
          'GETTING_STARTED.HOW_TO_REG.LIST.LINK' | translate
        }}</a
        >.
      </li>
      <li>{{ 'GETTING_STARTED.HOW_TO_REG.LIST.LI_2' | translate }}</li>
      <li>{{ 'GETTING_STARTED.HOW_TO_REG.LIST.LI_3' | translate }}</li>
      <li>{{ 'GETTING_STARTED.HOW_TO_REG.LIST.LI_4' | translate }}</li>
      <p>{{ 'GETTING_STARTED.HOW_TO_REG.LIST.TEXT_1' | translate }}</p>
      <img src="../../assets/images/Flow.png" />
      <p>{{ 'GETTING_STARTED.HOW_TO_REG.LIST.TEXT_2' | translate }}</p>
    </ol>
  </section>

  <section class="customization">
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.HOW_TO_CST.TITLE' | translate }}</h1>
    <ol>
      <li>{{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LI_1' | translate }}</li>
      <li>
        <span class="JSON" (click)="exportTheme()">{{
          'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LI_2' | translate
        }}</span>
        <app-code-area
          [json]="defaultTheme"
          [id]="'defaultTheme'"
        ></app-code-area>
      </li>
      <li>
        {{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LI_3' | translate }}
        <ul>
          <li>
            {{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.LI_1' | translate }}
            <ul>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_1'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_2'
                    | translate
                }}
              </li>
              <ul>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_2_INNER_LIST_1.LI_1'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_2_INNER_LIST_1.LI_2'
                      | translate
                  }}
                </li>
              </ul>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_3'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_4'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5'
                    | translate
                }}
              </li>
              <ul>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_1'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_2'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_3'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_4'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_5'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_6'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_7'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_8'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_9'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_10'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_11'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_12'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_13'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_14'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_15'
                      | translate
                  }}
                </li>
                <li>
                  {{
                    'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_1.LI_5_INNER_LIST_1.LI_16'
                      | translate
                  }}
                </li>
              </ul>
            </ul>
          </li>
          <li>
            {{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.LI_2' | translate }}
            <ul>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_2.LI_1'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_2.LI_2'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_2.LI_3'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_2.LI_4'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_2.LI_5'
                    | translate
                }}
              </li>
            </ul>
          </li>
          <li>
            {{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.LI_3' | translate }}
            <ul>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_3.LI_1'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_3.LI_2'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_3.LI_3'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_3.LI_4'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_3.LI_5'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_3.LI_6'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_3.LI_7'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_1.INNER_LIST_3.LI_8'
                    | translate
                }}
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        {{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LI_4' | translate }}
        <span class="app-line-command-wrapper">
          <span>./developer-portal-ui/src/assets/UI/custom/</span>
        </span>
      </li>
      <li>
        {{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LI_5' | translate }}
        <ul class="steps-list">
          <li>
            {{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.LI_1' | translate }}
            <ul>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.INNER_LIST_1.LI_1'
                    | translate
                }}
                <span class="app-line-command-wrapper">
                  <span>./developer-portal-ui/src/assets/UI/custom/</span>
                </span>
              </li>
            </ul>
          </li>
          <li>
            {{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.LI_2' | translate }}
            <ul>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.INNER_LIST_2.LI_1'
                    | translate
                }}
                <a
                  href="https://docs.okd.io/latest/cli_reference/get_started_cli.html"
                >
                  https://docs.okd.io/latest/cli_reference/get_started_cli.html
                </a>
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.INNER_LIST_2.LI_2'
                    | translate
                }}
              </li>

              <span class="app-line-command-wrapper">
                <span>cd ./local_src_folder/</span>
              </span>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.INNER_LIST_2.LI_3'
                    | translate
                }}
              </li>
              <span class="app-line-command-wrapper">
                <span>oc login</span>
              </span>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.INNER_LIST_2.LI_4'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.INNER_LIST_2.LI_5'
                    | translate
                }}
              </li>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.INNER_LIST_2.LI_6'
                    | translate
                }}
              </li>
              <span class="app-line-command-wrapper">
                <span> oc project adorsys-dynamic-sandbox-dev </span>
              </span>
              <li>
                {{
                  'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LIST_2.INNER_LIST_2.LI_7'
                    | translate
                }}
                <ul>
                  <li>
                    <span class="app-line-command-wrapper">
                      <span
                        >oc cp ./logo.png $(oc get pods |grep
                        "developerportalui" |awk '{{
                          '{print $1}'
                        }}'):/usr/share/nginx/html/assets/UI/custom/</span
                      >
                    </span>
                  </li>
                  <li>
                    <span class="app-line-command-wrapper">
                      <span
                        >oc cp ./contact.png $(oc get pods |grep
                        "developerportalui" |awk '{{
                          '{print $1}'
                        }}'):/usr/share/nginx/html/assets/UI/custom/</span
                      >
                    </span>
                  </li>
                  <li>
                    <span class="app-line-command-wrapper">
                      <span
                        >oc cp ./ $(oc get pods |grep "developerportalui" |awk
                        '{{
                          '{print $1}'
                        }}'):/usr/share/nginx/html/assets/UI/custom/</span
                      >
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>{{ 'GETTING_STARTED.HOW_TO_CST.TOP_LIST.LI_6' | translate }}</li>
    </ol>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.WHAT_NEXT.TITLE' | translate }}</h1>
    <p>
      {{ 'GETTING_STARTED.WHAT_NEXT.PART_1' | translate }}
      <a href="/getting-started">{{
        'GETTING_STARTED.WHAT_NEXT.LINK_1' | translate
      }}</a>
      {{ 'GETTING_STARTED.WHAT_NEXT.PART_2' | translate }}
      <a href="/test-cases">{{
        'GETTING_STARTED.WHAT_NEXT.LINK_2' | translate
      }}</a>
      {{ 'GETTING_STARTED.WHAT_NEXT.PART_3' | translate }}
      <span class="bold">{{
        'GETTING_STARTED.WHAT_NEXT.POSTMAN' | translate
      }}</span>
      {{ 'GETTING_STARTED.WHAT_NEXT.PART_4' | translate }}
      <span class="bold">Swagger</span>.
    </p>
  </section>
</div>
