h1 {
  opacity: 0.9;
  font-weight: 600;
  font-size: 2vw;
  color: #054f72;
}

.bold {
  font-weight: 900;
}

.divider {
  margin-top: 3vw;
  height: 0.5vw;
  width: 6vw;
  background-color: #eed52f;
}

h2 {
  font-size: 1.5vw;
  color: #5f5f5f;
}

p {
  color: #868e96;
  opacity: 0.9;
  font-size: 1.4vw;
  line-height: 2.2vw;
  font-weight: 800;
}

a {
  font-size: 1.4vw;
}

img {
  margin-top: 3vw;
}

section {
  margin-bottom: 7.5vw;
  .bg {
    background-color: #f3f3f3;
  }
  .th {
    font-weight: 900;
  }
  .links-to-environments {
    display: flex;
    align-items: center;
    padding-left: 1vw;
    height: 3vw;
    span {
      width: 30%;
      font-size: 1vw;
    }
  }
  .app-line-command-wrapper {
    border: 1px solid #e8e8ea;
    padding: 0.5%;
    border-radius: 3px;
    background-color: #f8f8fc;
    span {
      font-size: 1vw;
      color: #e83e8c;
      word-break: break-word;
    }
  }
}

li {
  line-height: 2.5vw;
  font-size: 1vw;
}
