<!--
  ~ Copyright 2018-2023 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<div class="container-fluid">
  <div class="header__title">Accounts</div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">IBAN</th>
              <th scope="col">Currency</th>
              <th scope="col">Account Type</th>
              <th scope="col">Usage Type</th>
              <th scope="col">Account Status</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let account of accounts; index as i"
              [routerLink]="['/accounts/' + account.id]"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ account.iban }}</td>
              <td>{{ account.currency }}</td>
              <td>{{ account.accountType }}</td>
              <td>{{ account.usageType }}</td>
              <td>{{ account.accountStatus }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
