<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div>
    <h1 class="h2">Create new account</h1>
  </div>
</div>

<div class="container">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div class="form-group required">
      <label for="accountType" class="control-label">Account type</label>
      <select id="accountType" class="form-control" formControlName="accountType" [ngClass]="{'is-invalid': accountType.invalid && (accountType.dirty || accountType.touched || submitted)}">
        <option *ngFor="let accountType of accountTypes" [value]="accountType">{{accountType}}</option>
      </select>
      <div class="invalid-feedback">
        <div *ngIf="accountType.errors?.required">
          Required
        </div>
      </div>
    </div>
    <div class="form-group required">
      <label for="usageType" class="control-label">Usage type</label>
      <select id="usageType" class="form-control" formControlName="usageType" [ngClass]="{'is-invalid': usageType.invalid && (usageType.dirty || usageType.touched || submitted)}">
        <option *ngFor="let usageType of usageTypes" [value]="usageType">{{usageType}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="usageType.errors?.required">
        <div >
          Required
        </div>
      </div>
    </div>
    <div class="form-group required">
      <label for="currency" class="control-label">Currency code</label>
      <input id="currency"
             type="text"
             class="form-control"
             formControlName="currency"
             [ngClass]="{'is-invalid': currency.invalid && (currency.dirty || currency.touched || submitted)}">
      <div class="invalid-feedback">
        <div *ngIf="currency.errors?.required">
          Required
        </div>
      </div>
    </div>
    <div class="form-group required">
      <label for="iban" class="control-label">IBAN</label>
      <input id="iban"
             type="text"
             class="form-control"
             formControlName="iban"
             [ngClass]="{'is-invalid': iban.invalid && (iban.dirty || iban.touched || submitted)}">
      <div class="invalid-feedback">
        <div *ngIf="iban.errors?.required">
          Required
        </div>
      </div>
    </div>
    <div class="form-group required">
      <label for="accountStatus" class="control-label">Account status</label>
      <select id="accountStatus" class="form-control" formControlName="accountStatus" [ngClass]="{'is-invalid': accountStatus.invalid && (accountStatus.dirty || accountStatus.touched || submitted)}">
        <option *ngFor="let accountStatus of accountStatuses" [value]="accountStatus">{{accountStatus}}</option>
      </select>
      <div class="invalid-feedback">
        <div *ngIf="accountStatus.errors?.required">
          Required
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
