.test-values-wrapper {
  padding: 2vw;
}
.test-values-wrapper p {
  color: #46494c;
  font-weight: 600;
}
.test-values-wrapper button {
  height: 3vw;
  color: #fff;
  outline: none;
  width: 10vw;
  background-color: var(--colorPrimary);
  cursor: pointer;
  border-radius: 5px;
}
