/*=== Any questions section ===*/

.any-questions {
  max-width: 880px;
  padding: 0 25px;
  margin: 5vw auto 0 auto;
  .any-questions-title {
    margin: 2vw 0 1vw 0;
    font-weight: 600;
    font-size: 2rem;
    color: var(--colorPrimary);
  }
  .any-questions-subtitle {
    font-size: 2rem;
  }
  .person-card {
    display: flex;
    justify-content: space-between;
    height: 15vw;
    box-shadow: 0 1px 18px -12px #524c52;
    margin: 4vw 0;
    background: #fff;
    .person-card-image-wrapper {
      background-color: #eeeeee;
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
    .person-card-info {
      min-width: 50%;
      padding: 5% 3%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 0.7vw;
        }
      }
      .main-personal-info {
        span {
          &:first-of-type {
            font-size: 1.5rem;
            font-weight: 600;
            color: #212529;
          }
          color: var(--colorPrimary);
        }
      }
      .sub-personal-info {
      }
    }
  }
}

/*===Contact section ===*/
.contacts-wrapper {
  max-width: 880px;
  padding: 0 25px;
  margin: 5vw auto 0 auto;
  .contacts-title {
    margin: 2vw 0 1vw 0;
    font-weight: 600;
    font-size: 2rem;
    color: var(--colorPrimary);
  }
  .contacts-card {
    display: flex;
    justify-content: space-between;
    color: #212529;
    box-shadow: 0 1px 18px -12px #524c52;
    margin: 3vw 0;
    padding: 2vw;
    background-color: var(--contactsCardBG);
    .contacts-content {
      width: 45%;
      padding: 5% 3%;
      display: flex;
      flex-direction: column;
      background-color: white;
      div {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 0.7vw;
        }
      }
      .main-personal-info {
        span {
          &:first-of-type {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 1.2vw;
          }
          &:last-of-type {
            margin-bottom: 1.2vw;
          }
        }
      }
      .sub-personal-info {
        a {
          margin-bottom: 1vw;
          i {
            margin-right: 0.5vw;
          }
        }
        .social-network {
          display: flex;
          flex-direction: row;
          .social-network-item {
            font-size: 1.25rem;
            margin-right: 0.75em;
            i {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .any-questions {
    .any-questions-title {
      font-size: 1.8rem;
    }
    .any-questions-subtitle {
      font-size: 1.4rem;
    }
    .person-card {
      height: 150px;
    }
  }
  .contacts-wrapper {
    margin-top: 3rem;
    .contacts-title {
      font-size: 1.8rem;
    }
    .contacts-card {
      flex-direction: column;
      .contacts-content {
        text-align: center;
        width: 100%;
        .social-network {
          margin: 0 auto;
          width: fit-content;
          a:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
    .contacts-content + .contacts-content {
      margin-top: 2vw;
    }
  }
}

div {
  font-weight: normal;
}
