@import "~src/assets/themes/variables";

form {
    font-weight: 100;
}

.container-fluid {
  padding:0;
}

.sticky-top {
    z-index: 1000;
}
.card {
    max-width: 400px;
    border: none;
    margin: 5vh auto 15vh auto;

  .card-body {
    padding: 0;
  }

    &-title {
        font-size: 2rem;
    }
    &__headline {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--headline-max-width);
    }

    &__subtitle {
        font-size: 1.1rem;
        color: $light-grey;
    }

  .card__subtitle {
    margin-bottom: 1.5rem;
  }

}

.form__margin {
    margin-bottom: var(--form-margin-bottom);
}

.text-light-grey a{
    color: $light-grey;
}

.btn {
    width: 100%;

  &:disabled {
    opacity: 1;
    background: var(--buttonBGDisabled);
    color: var(--buttonColorTextDisabled);
  }

}
