.btn-info {
    background-color: #054f72;
}

.card-title {
    color: #054f72;
}

.card {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAEAEA;
}

.form-control {
    padding: 20px;
}
