/* You can add global styles to this file, and also import other style files */

// Base Variables
@import "./assets/themes/variables";

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import "~material-icons/iconfont/material-icons.css";
@import "./assets/themes/fonts";

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--bodyFontColor);
    background: var(--bodyBG);
}

.logo {
    width: 200px;
    height: auto;
}

label {
    color: $light-grey;
    font-size: 1.1rem;
    font-family: 'Verdana', sans-serif;
}

.header {
    &__title {
        font-size: 2rem;
    }
}

.navbar-brand {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.btn {
    white-space: nowrap;

    &:focus {
        outline: none;
    }

    &:active {
        background-color: inherit;
    }

    &-primary {
        background: var(--gradientPrimary);
        border: none;
    }

    &-danger {
        background: var(--dangerPrimary);
        border: none;
    }
}

a {
    font-size: 1.1rem;
    transition: all 0.2s ease-in;
    color: var(--anchorFontColor);

    &.active, &:hover {
        color: var(--anchorFontColorHover);
    }

    &.text-primary:hover, &.text-primary:focus {
        color: var(--anchorFontColorHover) !important;
    }
}

.text-primary {
    color: var(--colorPrimary) !important;
}

.card {
    .card-body {
        &--large {
            padding: 2rem 2rem;
        }
    }

    &--small {
        max-width: 500px;
    }
}

.icon__container {
    width: 24px;
    height: 24px;
    margin-right: 16px;

    .icon {
        &--small {
            width: 20px;
            height: 20px;
        }

        &--medium {
            width: 28px;
            height: 28px;
        }
    }
}

.modal-footer > * {
    margin-bottom: 0;
}

.nav-item {
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .nav-link {
        display: flex;
        justify-content: flex-start;
    }
}

.box {
    position: relative;
    padding: $grid-gutter-width;
    background: $light-grey-10;

    &__close-icon {
        position: absolute;
        top: $grid-gutter-width / 2;
        right: $grid-gutter-width / 2;
    }
}


@media (max-width: 767px) {
    .bg-sm-light {
        background-color: $light-grey-10;
    }
}
