<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>Documentation</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>Play with data</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>STEP 1: Create payment</h1>
      <p>
        Open swagger tab "Payment Initiation Service (PIS)", open
        <span class="bold-text">POST</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}"
        ></app-line-command>
        .
      </p>
      <p>
        2. Press <span class="italic-text">"Try it out"</span>. Choose:
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="payment-product"></app-line-command>
        . Default values would be
        <app-line-command title="payments"></app-line-command>
        in
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="sepa-credit-transfers"></app-line-command>
        in <app-line-command title="payment-product"></app-line-command>.
      </p>

      <p>
        3. After choosing payment service and payment product, fill the header
        fields with the following values:
      </p>

      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Explicit-Authorisation-Preferred</span> <span>true</span>
      </div>
      <div class="api-table">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table bg">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <div class="api-table">
        <span>TPP-Redirect-Preferred</span> <span>true</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Redirect-URI</span>
        <span>https://adorsys.de/en/psd2-tpp/</span>
      </div>
      <div class="api-table">
        <span>TPP-Nok-Redirect-URI</span> <span>https://www.google.com</span>
      </div>

      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        4. If you chose to create single payment by setting
        <app-line-command title="payment-service"></app-line-command> to
        <app-line-command title="payments"></app-line-command>, insert into
        request body the following json:
      </p>
      <app-code-area [json]="jsonData1" [id]="'RPCP-1'"></app-code-area>

      <p>
        If you chose to create periodic payment by setting
        <app-line-command title="payment-service"></app-line-command> to
        <app-line-command title="periodic-payments"></app-line-command>, insert
        into request body the following json:
      </p>
      <app-code-area [json]="jsonData2" [id]="'RPCP-2'"></app-code-area>

      <p>
        If you chose to create bulk payment by setting
        <app-line-command title="payment-service"></app-line-command> to
        <app-line-command title="bulk-payments"></app-line-command>, insert into
        request body the following json:
      </p>
      <app-code-area [json]="jsonData3" [id]="'RPCP-3'"></app-code-area>

      <p>
        Change placeholder <span class="bold-text">YOUR_USER_IBAN</span> in
        section
      </p>
      <app-code-area [json]="jsonData4" [id]="'RPCP-4'"></app-code-area>

      <p>
        of the json you chose to the IBAN of the user (IBAN should match user
        login you entered in PSU-ID header above).
      </p>
      <p>5. Execute and get response with code 201 and related information.</p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="POST"
        [headers]="headers"
        [body]="body"
        [paymentServiceFlag]="true"
        [paymentProductFlag]="true"
        url="v1/"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
