<div class="container-fluid">
    <div class="card">
        <div class="card-body--large" >
            <div class="header__title">TPP User Details</div>
            <div class="row">
                <div class="col-4 col-md-3">Login</div>
                <div class="col-8 col-md-9 text-muted">{{tppUser?.login}}</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">TPP ID</div>
                <div class="col-12 col-md-9 text-muted">{{tppUser?.id}}</div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3 ">Email</div>
                <div class="col-12 col-md-9 text-muted">{{tppUser?.email}}</div>
            </div>
            <div class="row">
                <button class="btn btn-primary mr-4 ml-3"
                        routerLink="/profile/edit"
                        type="button">Edit
                </button>
            </div>
        </div>
    </div>
</div>
