@font-face {
  font-family: 'Metropolis';
  font-weight: normal;
  src: url('/assets/fonts/metropolis/Metropolis-Regular.eot');
  src: url('/assets/fonts/metropolis/Metropolis-Regular.woff2') format('woff2'),
    url('/assets/fonts/metropolis/Metropolis-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: bold;
  src: url('/assets/fonts/metropolis/Metropolis-Bold.eot');
  src: url('/assets/fonts/metropolis/Metropolis-Bold.woff2') format('woff2'),
    url('/assets/fonts/metropolis/Metropolis-Bold.woff') format('woff');
}
