thead {
  background-color: #054f72;
}

thead {
  color: white;
}

tr {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: #054f72;
  color: white;
}
