@import "src/assets/themes/table";
@import "src/assets/themes/variables";

.justify-space-between {
  justify-content: space-between;
}
.flex {
  display: flex;
}
.p-md-0 {
  padding-right: 15px !important;
  padding-left: 35px !important;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  margin-top: var(--margin-top-icon);
  align-items: inherit;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: $dark-80;
}
