<h1>Deposit cash</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>
  <div formGroupName="amount">
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" id="amount" class="form-control" formControlName="amount" [ngClass]="{'is-invalid': amount.invalid && (amount.dirty || amount.touched || submitted)}" autofocus>
      <div class="invalid-feedback">
        <div *ngIf="amount.errors?.required">
          Required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="currency">Currency</label>
      <input type="text" id="currency" class="form-control" formControlName="currency" [ngClass]="{'is-invalid': currency.invalid && (currency.dirty || currency.touched || submitted)}">
      <div class="invalid-feedback">
        <div *ngIf="currency.errors?.required">
          Required
        </div>
      </div>
    </div>
  </div>
  <div formGroupName="technicalUser">
    <h2>Technical user</h2>
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" id="login" class="form-control" formControlName="login" [ngClass]="{'is-invalid': login.invalid && (login.dirty || login.touched || submitted)}">
      <div class="invalid-feedback">
        <div *ngIf="login.errors?.required">
          Required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="pin">Pin</label>
      <input type="password" id="pin" class="form-control" formControlName="pin" [ngClass]="{'is-invalid': pin.invalid && (pin.dirty || pin.touched || submitted)}">
      <div class="invalid-feedback">
        <div *ngIf="pin.errors?.required">
          Required
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Deposit</button>
</form>
