<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div>
    <h1 class="h2">Deposit cash</h1>
  </div>
</div>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number"
             id="amount" class="form-control"
             formControlName="amount"
             [ngClass]="{'is-invalid': amount.invalid && (amount.dirty || amount.touched || submitted)}" autofocus>
      <div class="invalid-feedback">
        <div *ngIf="amount.errors?.required">
          Required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="currency">Currency</label>
      <input type="text"
             id="currency"
             class="form-control"
             formControlName="currency"
             [ngClass]="{'is-invalid': currency.invalid && (currency.dirty || currency.touched || submitted)}">
      <div class="invalid-feedback">
        <div *ngIf="currency.errors?.required">
          Required
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Deposit</button>
  </form>
</div>
