/*=== Documentation header section ===*/

.documentation-header-section {
  .documentation-header-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--colorPrimary);
  }
  .documentation-header-desc {
    font-weight: 600;
  }
}

/*=== Test cases main section ===*/

.test-cases-main {
  display: flex;
  padding: 2vw;
  font-weight: normal;
  .left-section {
    background-color: var(--testCasesLeftSectionBG);
    width: 25vw;
    .introduction {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eeeeee;
      padding: 2vw;
      p {
        color: #000;
      }
      span {
        font-size: 0.9em;
        margin-bottom: 1vw;
        cursor: pointer;
        color: #484848;
        outline: none;
        &:hover {
          color: #0984bf;
        }
      }
    }
    .xs-bank {
      display: flex;
      flex-direction: column;
      //border-bottom: 1px solid #EEEEEE;
      padding: 2vw;
      .clickable-item {
        outline: none;
        &:hover {
          color: #0984bf;
          cursor: pointer;
        }
      }
      p {
        color: #000;
      }
      span {
        color: #484848;
        outline: none;
      }
      ul {
        margin-top: 0;
        margin-bottom: 1vw;
        color: #484848;
        outline: none;
        text-decoration: none;
        list-style: none;
        padding: 0;
        li {
          font-size: 0.9em;
          margin: 1vw 1vw 1vw 0;
          ul {
            padding-left: 1.5vw;
            li {
              margin: 0.5vw;

              .minus {
                margin-left: 0.26vw;
              }

              ul {
                li {
                  margin: 0.4vw;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  ul {
                    li::before {
                      content: '•';
                      font-size: 1.1vw !important;
                      text-align: center;
                      align-items: center;
                    }
                    .post::before {
                      color: #4acb91;
                    }
                    .get::before {
                      color: #007db8;
                    }
                    .put::before {
                      color: #ffa93f;
                    }
                    .delete::before {
                      color: #b22f3f;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .right-section {
    width: 100%;
    background-color: var(--testCasesRightSectionBG);
  }
}
