<div class="documentation-header-section">
  <h1 class="documentation-header-title">Test cases</h1>
  <div class="documentation-header-desc">
    <p>
      After loading test data into the system, TPP developer can test
      XS2ASandbox endpoints with Swagger or Postman tests. In Swagger section
      you can find information about usage of Swagger, prepared test data
      (Jsons) for testing and short API documentation.
    </p>
    <p>
      In
      <a routerLink="/test-cases/postman-testing">Postman tests section</a> you
      can find information about usage of Postman for testing and download
      prepared Postman tests with testing data.
    </p>
    <p>
      Both sections provide tests for REDIRECT Strong Customer Authorisation
      (SCA) approach and EMBEDDED SCA Approach for Payment Initiation Service
      (PIS), Account Information Service (AIS) and Payment Instrument Issuer
      Service (PIIS).
    </p>
  </div>
</div>

<div class="test-cases-main">
  <div class="left-section">
    <div class="introduction">
      <p>INTRODUCTION</p>
      <span routerLink="/test-cases/redirect">Redirect approach</span>
      <span routerLink="/test-cases/embedded">Embedded approach</span>
      <span routerLink="/test-cases/testing-flows">Testing flows</span>
    </div>
    <div class="xs-bank">
      <p>XS2ASandbox</p>
      <ul>
        <li>
          <span>Swagger testing</span>
          <ul>
            <li>
              <span class="clickable-item" routerLink="/test-cases/test-values">
                Predefined test values for all tests (TAN and PIN):
              </span>
            </li>
            <li>
              <span class="clickable-item" (click)="collapseThis('redirect')">
                <span *ngIf="!redirectFlag">+ Redirect:</span>
                <span *ngIf="redirectFlag" class="minus">- Redirect:</span>
              </span>
              <ul class="collapse-content" id="redirect-content">
                <li>
                  <span>Payment Initiation Flow</span>
                  <ul>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/redirect-payment-initiation-post"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'redirect-payment-initiation-post'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint
                      {{ '/v1/{payment-service}/{payment-product}' }}
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Payment Cancellation Flow</span>
                  <ul>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/redirect-cancellation-post"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'redirect-cancellation-post'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint
                      {{ '/v1/{payment-service}/{payment-product}' }}
                    </li>
                    <li
                      class="clickable-item delete"
                      routerLink="/test-cases/redirect-cancellation-delete"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'redirect-cancellation-delete'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      DELETE endpoint
                      {{
                        '/v1/{payment-service}/{payment-product}/{paymentId}'
                      }}
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Consent Initiation Flow</span>
                  <ul>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/redirect-consent-post"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'redirect-consent-post'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint /v1/consents
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <span class="clickable-item" (click)="collapseThis('embedded')">
                <span *ngIf="!embeddedFlag">+ </span>
                <span *ngIf="embeddedFlag" class="minus">- </span> Embedded:
              </span>
              <ul class="collapse-content" id="embedded-content">
                <li>
                  <span>Payment Initiation Flow</span>
                  <ul>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/embedded-payment-initiation-create-post"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-initiation-create-post'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint
                      {{ '/v1/{payment-service}/{payment-product}' }}
                    </li>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/embedded-payment-initiation-auth-post"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-initiation-auth-post'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint
                      {{
                        '/v1/{payment-service}/{payment-product}/{paymentId}/authorisations'
                      }}
                    </li>
                    <li
                      class="clickable-item put"
                      routerLink="/test-cases/embedded-payment-initiation-put"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-initiation-put'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      PUT endpoint
                      {{
                        '/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}'
                      }}
                    </li>
                    <li
                      class="clickable-item get"
                      routerLink="/test-cases/embedded-payment-initiation-get"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-initiation-get'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      GET endpoint
                      {{
                        '/v1/{payment-service}/{payment-product}/{paymentId}'
                      }}
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Payment Cancellation Flow</span>
                  <ul>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/embedded-payment-cancellation-post-1"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-cancellation-post-1'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint
                      {{ '/v1/{payment-service}/{payment-product}' }}
                    </li>
                    <li
                      class="clickable-item delete"
                      routerLink="/test-cases/embedded-payment-cancellation-delete"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-cancellation-delete'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      DELETE endpoint
                      {{
                        '/v1/{payment-service}/{payment-product}/{paymentId}'
                      }}
                    </li>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/embedded-payment-cancellation-post-2"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-cancellation-post-2'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint
                      {{
                        '/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations'
                      }}
                    </li>
                    <li
                      class="clickable-item put"
                      routerLink="/test-cases/embedded-payment-cancellation-put"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-cancellation-put'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      PUT endpoint
                      {{
                        '/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations/{cancellationId}'
                      }}
                    </li>
                    <li
                      class="clickable-item get"
                      routerLink="/test-cases/embedded-payment-cancellation-get"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-payment-cancellation-get'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      GET endpoint
                      {{
                        '/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations/{cancellationId}'
                      }}
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Consent Initiation Flow</span>
                  <ul>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/embedded-consent-create-post"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-consent-create-post'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint /v1/consents
                    </li>
                    <li
                      class="clickable-item post"
                      routerLink="/test-cases/embedded-consent-auth-post"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-consent-auth-post'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      POST endpoint
                      {{ '/v1/consents/{consentId}/authorisations' }}
                    </li>
                    <li
                      class="clickable-item put"
                      routerLink="/test-cases/embedded-consent-put"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-consent-put'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      PUT endpoint
                      {{
                        '/v1/consents/{consentId}/authorisations/{authorisationId}'
                      }}
                    </li>
                    <li
                      class="clickable-item get"
                      routerLink="/test-cases/embedded-consent-get"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'embedded-consent-get'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      GET endpoint {{ '/v1/consents/{consentId}' }}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <span class="clickable-item" (click)="collapseThis('account')">
                <span *ngIf="!accountFlag">+ </span>
                <span *ngIf="accountFlag" class="minus">- </span> Account
                Information:
              </span>
              <ul class="collapse-content" id="account-content">
                <li>
                  <span>Read Account List</span>
                  <ul>
                    <li
                      class="clickable-item get"
                      routerLink="/test-cases/account-information-accounts-get"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'account-information-accounts-get'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      GET endpoint {{ '/v1/accounts' }}
                    </li>
                  </ul>
                </li>

                <li>
                  <span>Read Account Details</span>
                  <ul>
                    <li
                      class="clickable-item get"
                      routerLink="/test-cases/account-information-account-get"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'account-information-account-get'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      GET endpoint {{ '/v1/accounts/{account-id}' }}
                    </li>
                  </ul>
                </li>

                <li>
                  <span>Read Balance</span>
                  <ul>
                    <li
                      class="clickable-item get"
                      routerLink="/test-cases/account-information-balance-get"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'account-information-balance-get'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      GET endpoint {{ '/v1/accounts/{account-id}/balances' }}
                    </li>
                  </ul>
                </li>

                <li>
                  <span>Read List of Transactions</span>
                  <ul>
                    <li
                      class="clickable-item get"
                      routerLink="/test-cases/account-information-transactions-get"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'account-information-transactions-get'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      GET endpoint
                      {{ '/v1/accounts/{account-id}/transactions' }}
                    </li>
                  </ul>
                </li>

                <li>
                  <span>Read Transaction Details</span>
                  <ul>
                    <li
                      class="clickable-item get"
                      routerLink="/test-cases/account-information-transaction-get"
                      [ngStyle]="
                        dataService.currentRouteUrl.includes(
                          'account-information-transaction-get'
                        )
                          ? { 'font-weight': 'bold' }
                          : null
                      "
                    >
                      GET endpoint
                      {{
                        '/v1/accounts/{account-id}/transactions/{transactionId}'
                      }}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <span class="clickable-item" routerLink="/test-cases/postman-testing"
            >Postman testing</span
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="right-section">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
