<div class="container-fluid" [formGroup]="formModel">
  <div class="card card--large mb-4">
    <div class="card-body--large">
      <div class="header__title">Account details</div>

      <div class="row">
        <div class="col-12 col-md-3">IBAN</div>
        <div class="col-12 col-md-9 text-muted">{{ account?.iban }}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3">Status</div>
        <div class="col-12 col-md-9 text-muted">
          {{ account?.accountStatus }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3">Type</div>
        <div class="col-12 col-md-9 text-muted">{{ account?.accountType }}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3">Currency</div>
        <div class="col-12 col-md-9 text-muted">{{ account?.currency }}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3">Balance</div>
        <div class="col-12 col-md-9 text-muted">
          {{ (account?.balances)[0].amount.amount | convertBalance }}
        </div>
      </div>
    </div>
  </div>

  <div class="card card--large">
    <div class="card-body">
      <div class="header__title">Transactions</div>

      <div class="row" [formGroup]="filtersGroup">
        <div class="col">
          <div class="form-group">
            <label for="dateFrom">Date from</label>
            <input
              type="text"
              id="dateFrom"
              class="form-control"
              formControlName="dateFrom"
              ngbDatepicker
              #dateFrom="ngbDatepicker"
              (click)="dateFrom.toggle()"
              [ngClass]="{
                'dp-error-border':
                  filtersGroup.controls['dateFrom'].touched &&
                  filtersGroup.controls['dateFrom'].errors
              }"
            />
          </div>
          <div
            *ngIf="filtersGroup.controls['dateFrom'].hasError('required')"
            class="dp-error-text"
          >
            Date is Required
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="dateTo">Date to</label>
            <input
              type="text"
              id="dateTo"
              class="form-control"
              formControlName="dateTo"
              ngbDatepicker
              #dateTo="ngbDatepicker"
              (click)="dateTo.toggle()"
              [ngClass]="{
                'dp-error-border':
                  filtersGroup.controls['dateTo'].touched &&
                  filtersGroup.controls['dateTo'].hasError('required')
              }"
            />
          </div>
          <div
            *ngIf="filtersGroup.controls['dateTo'].hasError('required')"
            class="dp-error-text"
          >
            Date is Required
          </div>
        </div>
        <div class="col-2">
          <label>&nbsp;</label>
          <button
            class="btn btn-primary btn-block mt-2"
            (click)="refreshTransactions()"
          >
            Refresh
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <div
          *ngIf="
            config && transactions && transactions.length > 0;
            let i = index
          "
          class="d-flex align-items-center p-2"
        >
          <ngb-pagination
            [collectionSize]="config.totalItems"
            [(page)]="config.currentPage"
            [boundaryLinks]="true"
            [pageSize]="config.itemsPerPage"
            [maxSize]="config.maxSize"
            [rotate]="true"
            (pageChange)="pageChange($event)"
          ></ngb-pagination>
          <select
            class="custom-select custom-select-sm ml-4 mb-3"
            style="width: auto;"
            formControlName="itemsPerPage"
          >
            <option [value]="10">10</option>
            <option [value]="20">20</option>
            <option [value]="40">40</option>
            <option [value]="50">50</option>
            <option [value]="60">60</option>
            <option [value]="100">100</option>
          </select>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Debtor Name</th>
              <th scope="col">Debtor Account</th>
              <th scope="col">Booking date</th>
              <th scope="col">Amount</th>
              <th scope="col">Value Date</th>
              <th scope="col">Creditor Name</th>
              <th scope="col">Creditor Account</th>
              <th scope="col">Remittance</th>
              <th scope="col">transactionId</th>
              <th scope="col">endToEndId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions; index as i">
              <th scope="row">
                {{ (config.currentPage - 1) * config.itemsPerPage + i + 1 }}
              </th>
              <td>{{ transaction?.debtorName }}</td>
              <td>{{ transaction.debtorAccount?.iban }}</td>
              <td>{{ transaction.bookingDate }}</td>
              <td>
                {{ transaction.amount?.amount }}
                {{ transaction.amount?.currency }}
              </td>
              <td>{{ transaction.valueDate }}</td>
              <td>{{ transaction?.creditorName }}</td>
              <td>{{ transaction.creditorAccount?.iban }}</td>
              <td>{{ transaction.remittanceInformationUnstructured }}</td>
              <td>{{ transaction.transactionId }}</td>
              <td>{{ transaction.endToEndId }}</td>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="
            config && transactions && transactions.length > 0;
            let i = index
          "
          class="d-flex align-items-center p-2"
        >
          <ngb-pagination
            [collectionSize]="config.totalItems"
            [(page)]="config.currentPage"
            [boundaryLinks]="true"
            [pageSize]="config.itemsPerPage"
            [maxSize]="config.maxSize"
            [rotate]="true"
            (pageChange)="pageChange($event)"
          ></ngb-pagination>

          <select
            class="custom-select custom-select-sm ml-4 mb-3"
            id="value"
            style="width: auto;"
            formControlName="itemsPerPage"
          >
            <option [value]="10">10</option>
            <option [value]="20">20</option>
            <option [value]="40">40</option>
            <option [value]="50">50</option>
            <option [value]="60">60</option>
            <option [value]="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
