<div class="container-fluid">
  <div class="card">
    <div class="card-body--large">
      <div class="header__title">Account details</div>

      <div class="row">
        <div class="col-12 col-md-3 ">IBAN</div>
        <div class="col-12 col-md-9 text-muted">{{account?.iban}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3 ">Status</div>
        <div class="col-12 col-md-9 text-muted">{{account?.accountStatus}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3 ">Type</div>
        <div class="col-12 col-md-9 text-muted">{{account?.accountType}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3 ">Currency</div>
        <div class="col-12 col-md-9 text-muted">{{account?.currency}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3 ">Balance</div>
        <div class="col-12 col-md-9 text-muted">{{account?.balances[0].amount.amount | convertBalance}}</div>
      </div>
      <div class="">
        <button class="btn btn-primary" (click)="goToAccountDetail()">Access management</button>
      </div>
    </div>
  </div>

</div>
