<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>Documentation</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>Play with data</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <p>
        1. Try GET endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}"
        ></app-line-command>
        to get payment information and GET endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/status"
        ></app-line-command>
        to check current status of the payment.
      </p>
      <p>
        2. Try GET endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/authorisations"
        ></app-line-command>
        to get authorisation information and GET endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}"
        ></app-line-command>
        to check current status of the authorisation.
      </p>
      <span class="bold-text">Main steps:</span>
      <p>
        1. Choose
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="payment-product"></app-line-command>
        . Use the same values you used in the steps before.
      </p>
      <p>
        2. After choosing payment service and payment product, fill the header
        fields with the following values:
      </p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Explicit-Authorisation-Preferred</span> <span>true</span>
      </div>
      <div class="api-table">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table bg">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <div class="endpoint-play-with-data"><h1>Coming soon...</h1></div>
    </ng-template>
  </div>
</div>
