<!--
  ~ Copyright 2018-2023 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<div class="container-fluid">
  <div class="header__title">Account access management</div>

  <div class="card card--small">
    <div class="card-body--large">
      <form [formGroup]="accountAccessForm">
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <div class="form-group required">
          <label for="id">User login</label>
          <input
            [ngClass]="{
              'is-invalid':
                accountAccessForm.get('id')?.errors &&
                (accountAccessForm.get('id').dirty || accountAccessForm.get('id').touched || submitted)
            }"
            class="form-control arrow"
            id="id"
            [ngbTypeahead]="search"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            [inputFormatter]="resultFormatterValue"
            [resultFormatter]="resultFormatterValue"
            #instance="ngbTypeahead"
          />
          <div *ngIf="accountAccessForm.get('id')?.errors?.required" class="invalid-feedback">Login name is Required</div>
        </div>

        <div class="form-group">
          <label for="scaWeight">SCA Weight</label>
          <input
            [ngClass]="{
              'is-invalid':
                (accountAccessForm.get('scaWeight')?.errors && accountAccessForm.get('scaWeight')?.touched) ||
                (submitted && accountAccessForm.get('scaWeight')?.errors)
            }"
            class="form-control"
            formControlName="scaWeight"
            id="scaWeight"
            placeholder="0"
            type="number"
          />
          <div *ngIf="accountAccessForm.get('scaWeight')?.errors?.required" class="invalid-feedback">SCA weight is required</div>
          <div
            *ngIf="accountAccessForm.get('scaWeight')?.errors?.min || accountAccessForm.get('scaWeight')?.errors?.max"
            class="invalid-feedback"
          >
            The SCA weight must be between 0 and 100
          </div>
        </div>

        <div class="form-group">
          <label for="accessType">Role</label>
          <select
            [ngClass]="{
              'is-invalid':
                accountAccessForm.get('accessType')?.errors &&
                (accountAccessForm.get('accessType').dirty || accountAccessForm.get('accessType').touched || submitted)
            }"
            class="form-control"
            formControlName="accessType"
            id="accessType"
          >
            <option *ngFor="let accessType of accessTypes" [value]="accessType">
              {{ accessType }}
            </option>
          </select>
          <div *ngIf="accountAccessForm.get('accessType')?.errors?.required" class="invalid-feedback">Role is required</div>
        </div>

        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary" type="submit" (click)="onSubmit()">Grant access</button>
        </div>
      </form>
    </div>
  </div>
</div>
