<div class="container-fluid">
    <div class="header__title">Account access management</div>

    <div class="card card--small">
        <div class="card-body--large">
            <form (ngSubmit)="onSubmit()" [formGroup]="accountAccessForm">
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{errorMessage}}
                </div>

                <div class="form-group required">
                    <label for="id">User login</label>
                    <input [ngClass]="{'is-invalid': accountAccessForm.get('id')?.errors && (accountAccessForm.get('id').dirty
                            || accountAccessForm.get('id').touched || submitted)}"
                           class="form-control"
                           id="id"
                           #instance="ngbTypeahead"
                           (focus)="focus$.next($event.target.value)"
                           (click)="click$.next($event.target.value)"
                           [inputFormatter]="inputFormatterValue"
                           [resultFormatter]="resultFormatterValue"
                           [ngbTypeahead]="search"/>
                            <div *ngIf="accountAccessForm.get('id')?.errors?.required"
                                 class="invalid-feedback">
                                Login name is Required
                            </div>
                </div>

                <div class="form-group">
                    <label for="scaWeight">SCA Weight</label>
                    <input [ngClass]="{'is-invalid':  accountAccessForm.get('scaWeight')?.errors && accountAccessForm.get('scaWeight')?.touched
                    || submitted && accountAccessForm.get('scaWeight')?.errors}"
                           class="form-control"
                           formControlName="scaWeight"
                           id="scaWeight"
                           placeholder="0"
                           type="number">
                    <div *ngIf="accountAccessForm.get('scaWeight')?.errors?.required"
                         class="invalid-feedback">
                        scaWeight is required
                    </div>
                    <div *ngIf="accountAccessForm.get('scaWeight')?.errors?.min || accountAccessForm.get('scaWeight')?.errors?.max"
                         class="invalid-feedback">
                        The scaWeight must be between 0 and 100
                    </div>
                </div>

                <div class="form-group">
                    <label for="accessType">Role</label>
                    <select [ngClass]="{'is-invalid': accountAccessForm.get('accessType')?.errors && (accountAccessForm.get('accessType').dirty
           || accountAccessForm.get('accessType').touched || submitted)}" class="form-control" formControlName="accessType"
                            id="accessType">
                        <option *ngFor="let accessType of accessTypes" [value]="accessType">{{accessType}}</option>
                    </select>
                    <div *ngIf="accountAccessForm.get('accessType')?.errors?.required"
                         class="invalid-feedback">
                        Role ist required
                    </div>

                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Grant access</button>
                </div>
            </form>
        </div>
    </div>
</div>
