<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>Documentation</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>Play with data</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>STEP 2: Authorise payment</h1>

      <span class="bold-text"
        >Payment authorisation for user with no SCA methods</span
      >
      <p>
        5. Continue payment authorisation with call to
        <span class="bold-text">PUT</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}"
        ></app-line-command>
        .
      </p>
      <p>
        6. Enter payment id in the field in the field
        <app-line-command title="paymentId"></app-line-command>
        and authorisation id you received from POST endpoint (start
        authorisation) in
        <app-line-command title="authorisationId"></app-line-command>
        field.
      </p>
      <p>7. Fill the header fields with the following values:</p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>8. Insert into request body the following json:</p>
      <app-code-area [json]="jsonData1" [id]="'EPIP-1'"></app-code-area>

      <p>
        Put in <span class="bold-text">YOUR_USER_PASSWORD</span> the password of
        the user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        9. Execute endpoint and get
        <app-line-command title="200 HTTP code"></app-line-command>
        and
        <app-line-command title="scaStatus: Finalised"></app-line-command>
        in response.
      </p>

      <span class="bold-text"
        >Payment authorisation for user with single SCA method</span
      >
      <p>
        5. Continue payment authorisation with call to
        <span class="bold-text">PUT</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}"
        ></app-line-command>
        .
      </p>
      <p>
        6. Enter payment id in the field in the field
        <app-line-command title="paymentId"></app-line-command>
        and authorisation id you received from POST endpoint (start
        authorisation) in
        <app-line-command title="authorisationId"></app-line-command>
        field.
      </p>
      <p>7. Fill the header fields with the following values:</p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>8. Insert into request body the following json:</p>
      <app-code-area [json]="jsonData1" [id]="'EPIP-2'"></app-code-area>

      <p>
        Put in <span class="bold-text">YOUR_USER_PASSWORD</span> the password of
        the user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        9. Execute endpoint and get
        <app-line-command title="200 HTTP code"></app-line-command>
        and
        <app-line-command
          title="scaStatus: ScaMethodSelected"
        ></app-line-command>
        in response.
      </p>
      <p>
        10. Execute this PUT endpoint again, but this time update request body:
        fill it with the following json:
      </p>
      <app-code-area [json]="jsonData2" [id]="'EPIP-3'"></app-code-area>

      <p>
        User has only one SCA method, so test TAN
        <app-line-command title="123456"></app-line-command>
        was sent to the user, and now you need to enter this data and execute
        PUT command. The response should be
        <app-line-command title="200 HTTP code"></app-line-command> and
        <app-line-command title="scaStatus: Finalised"></app-line-command>
        .
      </p>

      <span class="bold-text"
        >Payment authorisation for user with multiple SCA methods</span
      >
      <p>
        5. Continue payment authorisation with call to
        <span class="bold-text">PUT</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}"
        ></app-line-command>
        .
      </p>
      <p>
        6. Enter payment id in the field in the field
        <app-line-command title="paymentId"></app-line-command>
        and authorisation id you received from POST endpoint (start
        authorisation) in
        <app-line-command title="authorisationId"></app-line-command>
        field.
      </p>
      <p>7. Fill the header fields with the following values:</p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>8. Insert into request body the following json:</p>
      <app-code-area [json]="jsonData1" [id]="'EPIP-4'"></app-code-area>

      <p>
        Put in <span class="bold-text">YOUR_USER_PASSWORD</span> the password of
        the user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        9. Execute endpoint and get
        <app-line-command title="200 HTTP code"></app-line-command> and list of
        authorisation methods in response.
      </p>
      <p>
        10. Execute this PUT endpoint again, but this time update request body:
        fill it with the following json:
      </p>
      <app-code-area [json]="jsonData3" [id]="'EPIP-5'"></app-code-area>

      <p>
        Put in placeholder
        <span class="italic-text">"YOUR_AUTHENTICATION_METHOD_ID"</span> any
        value of authenticationMethodId of your choice. The response should be
        <app-line-command title="200 HTTP code"></app-line-command> and
        <app-line-command
          title="scaStatus: ScaMethodSelected"
        ></app-line-command
        >.
      </p>
      <p>
        11. Execute this PUT endpoint again, update request body: fill it with
        the following json:
      </p>
      <app-code-area [json]="jsonData2" [id]="'EPIP-6'"></app-code-area>

      <p>
        SCA method was chosen, so test TAN
        <app-line-command title="123456"></app-line-command> was sent to the
        user, and now you need to enter this data and execute PUT command.
      </p>
      <p>
        The response should be
        <app-line-command title="200 HTTP code"></app-line-command> and
        <app-line-command title="scaStatus: Finalised"></app-line-command>.
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="PUT"
        [headers]="headers"
        [body]="body"
        [paymentServiceFlag]="true"
        [paymentProductFlag]="true"
        [paymentIdFlag]="true"
        [variablePathEnd]="'/authorisations'"
        [authorisationIdFlag]="true"
        url="v1/"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
