<!--
  ~ Copyright 2018-2023 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<div class="test-cases-main">
  <div id="left-section">
    <button id="closeBtn" (click)="closeSidenav()"><mat-icon class="menu-button">keyboard_arrow_left</mat-icon> Hide Sidebar</button>

    <app-intro-component [redirectSupported]="redirectSupported" [embeddedSupported]="embeddedSupported"></app-intro-component>

    <div class="section-header">{{ 'TEST_CASES.TEST_CASES' | translate }}</div>

    <div class="newMenue flex-shrink-0 p-3 bg-white">
      <app-payment-initation-component
        [openSubMenuPayments]="openSubMenuPayments"
        [subMenu]="subMenu"
        [openScaApproach]="openScaApproach"
        [redirectSupported]="redirectSupported"
        [scaApproach]="scaApproach"
        [openEmbeddedScaApproach]="openEmbeddedScaApproach"
        [embeddedSupported]="embeddedSupported"
        [embeddedScaApproach]="embeddedScaApproach"
        [openSubSubMenuPayments]="openSubSubMenuPayments"
        [subSubMenu]="subSubMenu"
      ></app-payment-initation-component>

      <app-concent-initation-component
        [openConsentMenuPayments]="openConsentMenuPayments"
        [consentMenu]="consentMenu"
        [openConsentRdctApproach]="openConsentRdctApproach"
        [consentRdctMenu]="consentRdctMenu"
        [redirectSupported]="redirectSupported"
        [openConsentEmbeddedApproach]="openConsentEmbeddedApproach"
        [embeddedSupported]="embeddedSupported"
        [consentEmbeddedMenu]="consentEmbeddedMenu"
      ></app-concent-initation-component>

      <app-account-information-component
        [openAccountInformation]="openAccountInformation"
        [accountInformationMenu]="accountInformationMenu"
      ></app-account-information-component>

      <app-funds-confirmation-nav
        [openFundsConfirmation]="openFundsConfirmation"
        [fundsConfirmationMenu]="fundsConfirmationMenu"
      ></app-funds-confirmation-nav>
    </div>
  </div>
  <div id="right-section">
    <button id="openSideBarButton" class="openBtn m-3 p-2" (click)="openSidenav()">
      <mat-icon class="menu-button">keyboard_arrow_right</mat-icon> Open Sidebar
    </button>
    <router-outlet></router-outlet>
  </div>
</div>
