/*!
 * Copyright 2018-2022 adorsys GmbH & Co KG
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version. This program is distributed in the hope that
 * it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 *
 * This project is also available under a separate commercial license. You can
 * contact us at psd2@adorsys.com.
 */

/*=== Documentation header section ===*/

.documentation-header-section {
  padding-top: 4vw;
  .documentation-header-title {
    color: var(--colorPrimary);
  }
  .documentation-header-desc {
    font-weight: 600;
  }
}

/*=== Test cases main section ===*/

.test-cases-main {
  display: flex;
  font-weight: normal;
  .left-section {
    background-color: var(--testCasesLeftSectionBG);
    width: 25vw;
    .introduction {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eeeeee;
      padding: 2vw;
      p {
        color: #000;
      }
      span {
        margin-bottom: 1vw;
        cursor: pointer;
        color: var(--testCasesAnchorFontColor);
        outline: none;
        &:hover {
          color: var(--testCasesAnchorFontColorHover);
          background-color: var(--anchorBGcolorHover);
        }
      }
    }
    .xs-bank {
      display: flex;
      flex-direction: column;
      //border-bottom: 1px solid #EEEEEE;
      padding: 2vw;
      .clickable-item {
        outline: none;
        color: var(--testCasesAnchorFontColor);
        &:hover {
          color: var(--testCasesAnchorFontColorHover);
          cursor: pointer;
          background-color: var(--anchorBGcolorHover);
        }
      }
      p {
        color: #000;
      }
      span {
        color: #484848;
        outline: none;
      }
      ul {
        margin-top: 0;
        margin-bottom: 1vw;
        color: #484848;
        outline: none;
        text-decoration: none;
        list-style: none;
        padding: 0;
        li {
          margin: 1vw 1vw 1vw 0;
          ul {
            padding-left: 1.5vw;
            li {
              margin: 0.5vw;

              .minus {
                margin-left: 0.26vw;
              }

              ul {
                li {
                  margin: 0.4vw;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  ul {
                    li::before {
                      content: '•';
                      text-align: center;
                      align-items: center;
                    }
                    .post::before {
                      color: #4acb91;
                    }
                    .get::before {
                      color: #007db8;
                    }
                    .put::before {
                      color: #ffa93f;
                    }
                    .delete::before {
                      color: #b22f3f;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .right-section {
    width: 70%;
    background-color: var(--testCasesRightSectionBG);
  }
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
