/*!
 * Copyright 2018-2023 adorsys GmbH & Co KG
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version. This program is distributed in the hope that
 * it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 *
 * This project is also available under a separate commercial license. You can
 * contact us at psd2@adorsys.com.
 */

/*=== Documentation header section ===*/

.documentation-header-section {
  padding-top: 4vw;

  .documentation-header-title {
    color: var(--colorPrimary);
  }

  .documentation-header-desc {
    font-weight: 600;
  }
}

/*=== Test cases main section ===*/

.test-cases-main {
  display: flex;
  font-weight: normal;

  #left-section {
    background-color: var(--testCasesLeftSectionBG);
    width: 30%;
    min-width: 25%;
    min-height: (100vh - 32vh);
  }

  #right-section {
    width: 70%;
    background-color: var(--testCasesRightSectionBG);
  }
}

.section-header {
  background: #d2f4ea;
  padding-left: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
  color: var(--colorPrimary);
}

.openBtn {
  display: none;
  align-items: center;
}

#closeBtn {
  display: flex;
  align-items: center;
  padding: 10px !important;
  margin: 20px;
}
