<div class="testing-wrapper">
  <p>{{'TEST_CASES.TESTING.TEXT_1' | translate}}</p>
  <p>{{'TEST_CASES.TESTING.TEXT_2' | translate}}
    <a href="">{{'TEST_CASES.TESTING.LINK_1' | translate}}</a>
    {{'TEST_CASES.TESTING.TEXT_3' | translate}}
    <a href="http://localhost:8089/swagger-ui.html">{{'TEST_CASES.TESTING.LINK_2' | translate}}</a>
  </p>
  <p>
    {{'TEST_CASES.TESTING.TEXT_4' | translate}}
    <a href="https://demo-dynamicsandbox-xs2a.cloud.adorsys.de/">{{'TEST_CASES.TESTING.LINK_3' | translate}}</a>
  </p>
</div>
