<div class="testing-wrapper">
  <p>
    You can use 3 typical testing flows for REDIRECT and EMBEDDED SCA approaches
    with Swagger.
  </p>
  <p>
    To open Swagger page of XS2ASandbox locally start all the services with
    docker command from <a href="">Getting Started.</a> After starting all the
    services, go to your local
    <a href="http://localhost:8089/swagger-ui.html"
      >XS2A Interface Swagger Page</a
    >
  </p>
  <p>
    To open Swagger page on the cloud follow
    <a href="https://demo-dynamicsandbox-xs2a.cloud.adorsys.de/">this link.</a>
  </p>
</div>
