<div class="container-fluid">
  <div class="card">
    <div class="card-body--large">
      <a href="javascript:void(0);" (click)="handleClickOnBackButton()">
        <button class="btn btn-sm btn-outline-secondary mb-5">&lt; Back</button>
      </a>
      <form (ngSubmit)="onSubmit()" [formGroup]="createFundsFormGroup" *ngIf="user" novalidate>
        <div class="header__title">Create Funds Confirmation Consent</div>
        <div class="row">
          <div class="col-12 col-md-4">
            <label class="mb-2 mt-4" for="password">Password for {{ this.user.login }}</label>
            <input
              autocomplete="new-password"
              class="form-control"
              formControlName="password"
              id="password"
              placeholder="Enter Password"
              type="password"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <label class="mb-2 mt-4" for="iban">IBAN</label>
            <select name="iban" class="form-control" formControlName="iban" id="iban">
              <option *ngFor="let iban of ibanList" [ngValue]="iban">
                {{ iban }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <label class="mb-2 mt-4" for="tppAuthorisationNumber">TPP Authorisation Number</label>
            <input
              class="form-control"
              formControlName="tppAuthorisationNumber"
              placeholder="Enter TPP Authorisation Number"
              id="tppAuthorisationNumber"
              type="text"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <label class="mb-2 mt-4" for="validUntil">Valid until</label>
            <input class="form-control" formControlName="validUntil" id="validUntil" type="date" />
          </div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
        <div>
          <a
            matTooltip="Create Deposit Account"
            aria-label="Create Deposit Account"
            class="btn btn-table-btn mr-2 mb-3"
            routerLink="/users/{{ user.id }}/create-deposit-account"
            [queryParams]="{ tppId: user.branch, userId: user.id }"
            *ngIf="!user.blocked && showCreateDepositAccountButton"
            >Create Deposit Account</a
          >
        </div>

        <div class="form-group d-flex flex-row pt-2 mt-3">
          <button class="btn btn-primary" [disabled]="createFundsFormGroup.invalid" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
