<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>Documentation</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>Play with data</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>STEP 2: Consent authorisation</h1>

      <p>
        1. Start authorisation process with
        <span class="bold-text">POST</span> endpoint
        <app-line-command
          title="/v1/consents/{consentId}/authorisations"
        ></app-line-command>
        .
      </p>
      <p>
        2. Enter consent id you have got from the previous response in
        <span class="bold-text">STEP 1</span> in the field
        <app-line-command title="consentId"></app-line-command>
        .
      </p>
      <p>
        3. After providing consent id, fill the header fields with the following
        values:
      </p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        4. Start authorisation by hitting
        <span class="italic-text">"Execute"</span> button and get 201 HTTP code
        and related information.
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="POST"
        [headers]="headers"
        [consentIdFlag]="true"
        [variablePathEnd]="'/authorisations'"
        url="v1/consents"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
