<div class="container-fluid">
    <div class="header__title">Payments</div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Amount</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Frequency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let payment of payments; index as i">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{payment.debtorAccount.currency}}</td>
                        <td>
                            <div *ngFor="let tag of payment.targets">
                                {{tag.instructedAmount.amount}}
                            </div>
                        </td>
                        <td>{{payment.debtorAccount.iban}}</td>
                        <td>
                            <div *ngFor="let tag of payment.targets">
                                {{tag.creditorName}}
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let tag of payment.targets">
                                {{tag.remittanceInformationUnstructured}}
                            </div>
                        </td>
                        <td>{{payment.startDate}}</td>
                        <td>{{payment.endDate}}</td>
                        <td>{{payment.frequency}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

