<div class="container-fluid" [formGroup]="formModel">
    <div class="header__title">Payments</div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
              <div
                *ngIf="
            config && payments && payments.length > 0;
            let i = index
          "class="d-flex align-items-center p-2"
              >
                <ngb-pagination
                  [collectionSize]="config.totalItems"
                  [(page)]="config.currentPage"
                  [boundaryLinks]="true"
                  [pageSize]="config.itemsPerPage"
                  [maxSize]="config.maxSize"
                  [rotate]="true"
                  (pageChange)="pageChange($event)"
                ></ngb-pagination>
                <select
                  class="custom-select custom-select-sm ml-4 mb-4"
                  style="width: auto;"
                  formControlName="itemsPerPage"
                >
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
                  <option [value]="40">40</option>
                  <option [value]="50">50</option>
                  <option [value]="60">60</option>
                  <option [value]="100">100</option>
                </select>
              </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Frequency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let payment of payments; index as i">
                      <th scope="row"> {{ (config.currentPage - 1) * config.itemsPerPage + i + 1 }}</th>
                        <td>
                            <div *ngFor="let tag of payment.targets">
                                {{tag.instructedAmount.amount}}
                                <br>
                                {{payment.debtorAccount.currency}}
                            </div>
                        </td>
                        <td>
                          {{payment.debtorAccount.iban}}
                          <br>
                          {{payment.debtorAccount.currency}}
                        </td>
                        <td>
                            <div *ngFor="let tag of payment.targets">
                                {{tag.creditorName}}
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let tag of payment.targets">
                                {{tag.remittanceInformationUnstructured}}
                            </div>
                        </td>
                        <td>{{payment.startDate}}</td>
                        <td>{{payment.endDate}}</td>
                        <td>{{payment.frequency}}</td>
                    </tr>
                    </tbody>
                </table>
              <div
                *ngIf="
            config && payments && payments.length > 0;
            let i = index
          "class="d-flex align-items-center p-2"
              >
                <ngb-pagination
                  [collectionSize]="config.totalItems"
                  [(page)]="config.currentPage"
                  [boundaryLinks]="true"
                  [pageSize]="config.itemsPerPage"
                  [maxSize]="config.maxSize"
                  [rotate]="true"
                  (pageChange)="pageChange($event)"
                ></ngb-pagination>
                <select
                  class="custom-select custom-select-sm ml-4 mb-4"
                  style="width: auto;"
                  formControlName="itemsPerPage"
                >
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
                  <option [value]="40">40</option>
                  <option [value]="50">50</option>
                  <option [value]="60">60</option>
                  <option [value]="100">100</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>

