//.sca-select {
//
//  font-family: "Inter";
//
//  input[type="radio"] {
//    /* remove standard background appearance */
//    -webkit-appearance: none;
//    -moz-appearance: none;
//    appearance: none;
//    /* create custom radiobutton appearance */
//    display: inline-block;
//    width: 25px;
//    height: 25px;
//    padding: 6px;
//    /* background-color only for content */
//    background-clip: content-box;
//    border: 2px solid #bbbbbb;
//    background-color: #e7e6e7;
//    border-radius: 50%;
//  }
//
//  /* appearance for checked radiobutton */
//  input[type="radio"]:checked {
//    background-color: #93e026;
//  }

//  .sca-select-title {
//    color: #2C2E2F;
//    font-size: 34px; //keep it in px before merging
//    font-weight: bold;
//  }
//
//  .sca-select-hint {
//    color: #999999;
//    font-size: 21px; //keep it in px before merging
//  }
//
//  .sca-btn {
//    height: 56px; //keep it in px before merging
//    width: 192px; //keep it in px before merging
//    border-radius: 3px;
//    text-align: center;
//    border: 1px solid #999999;
//  }
//
//  .sca-btn-cancel {
//    color: #999999;
//    font-weight: lighter;
//  }
//
//  .sca-btn-next {
//    background: linear-gradient(270deg, #0DB0E2 0%, #10317D 100%);
//    color: #F6F6F6;
//    font-weight: 600;
//  }
//}
