<div class="bg-sm-light sticky-top">
    <div class="container-fluid">
        <nav class="navbar navbar-light text-primary py-3">
            <a class="navbar-brand" href="#">
                <img
                    class="logo"
                    [src]="customizeService.getLogo()"
                />
            </a>
        </nav>
    </div>
</div>

<div class="d-md-flex bg-white  ">
  <div class="col">
    <div class="d-md-flex align-items-center h-100 p-4 justify-content-center">
      <div class="d-md-flex align-items-center">

        <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
            <div class="card">
                <div class="card-body">
                    <div class="card__headline text-center">
                        <h2 class="card-title font-weight-bold">Reset PIN</h2>
                        <div class="card__subtitle">
                          Please enter your bank account username.<br/>
                          Email will be sent to user for password reset.
                        </div>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger">
                        {{errorMessage}}
                    </div>
                    <div class="mrb-5 mrt">
                        <div class="form-group">
                            <label for="registerTTP" *ngIf="!customizeService.isCustom()">Login</label>
                            <input [ngClass]="{'is-invalid': resetPasswordForm.get('login')?.errors && resetPasswordForm.get('login')?.touched
                           || submitted && resetPasswordForm.get('login')?.errors}"
                                   autocomplete="off"
                                   class="form-control"
                                   formControlName="login"
                                   id="registerTTP"
                                   placeholder="Enter your login"
                                   type="text">
                            <div *ngIf="resetPasswordForm.get('login')?.errors?.required"
                                 class="invalid-feedback">
                                Login is Required
                            </div>
                        </div>
                    </div>
                  <button class="btn btn-primary btn-block" type="submit" [disabled]="resetPasswordForm.invalid">
                    Send password update link
                  </button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


