<div class="bg-sm-light sticky-top">
    <div class="container-fluid">
        <nav class="navbar navbar-light text-primary py-3">
            <a class="navbar-brand" href="#">
                <img
                    class="logo"
                    [src]="customizeService.getLogo()"
                />
            </a>
        </nav>
    </div>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
    <div class="card">
        <div class="card-body">
            <div class="card__headline text-center">
                <h2 class="card-title font-weight-bold">Reset Password</h2>
                <div class="my-4 card__subtitle">
                    Please enter your bank account username and email
                </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
            </div>
            <div class="form__margin">
                <div class="form-group">
                    <label for="registerTTP">Login*</label>
                    <input [ngClass]="{'is-invalid': resetPasswordForm.get('login')?.errors && resetPasswordForm.get('login')?.touched
                   || submitted && resetPasswordForm.get('login')?.errors}"
                           autocomplete="off"
                           class="form-control"
                           formControlName="login"
                           id="registerTTP"
                           type="text">
                    <div *ngIf="resetPasswordForm.get('login')?.errors?.required"
                         class="invalid-feedback">
                        Login is Required
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">E-Mail Address*</label>
                    <input [ngClass]="{'is-invalid': resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched
                  || submitted && resetPasswordForm.get('email')?.errors}"
                           autocomplete="off"
                           class="form-control"
                           formControlName="email"
                           id="email"
                           type="email">
                    <div *ngIf="resetPasswordForm.get('email')?.errors?.required"
                         class="invalid-feedback">
                        Email is required
                    </div>
                    <div *ngIf="resetPasswordForm.get('email')?.hasError('pattern')"
                         class="invalid-feedback">
                        Email is not valid
                    </div>
                </div>

            </div>
            <button class="btn btn-primary btn-block" type="submit">Request code</button>
            <div class="text-center text-light-grey">
                <a routerLink="/login">Back to login</a>
            </div>
        </div>
    </div>
</form>


