/* You can add global styles to this file, and also import other style files */
@import "./assets/themes/variables";
@import "~bootstrap/scss/bootstrap";
@import "./assets/themes/mobile";
@import "~material-icons/iconfont/material-icons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: var(--fontFamily);
  color: var(--bodyFontColor);
  background: var(--bodyBG);
}

.logo {
  width: 200px;
  height: auto;
}

.header {
  &__title {
    font-size: 2rem;
  }
}

.navbar-brand {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

a {
  color: var(--anchorFontColor);

  &.active, &:hover {
    color: var(--anchorFontColorHover);
  }

  &.text-primary:hover, &.text-primary:focus {
    color: var(--anchorFontColorHover) !important;
  }
}

.btn {
  &:focus {
    outline: none;
  }

  &:active {
    background-color: inherit;
  }

  &-primary {
    background: var(--gradientPrimary);
  }

  &-danger {
      background: var(--dangerPrimary);
      border: none;
  }
}

.btn-outline-secondary {
  color: $COLOR_DARK_GREY;
  background-color: $COLOR_WHITE;
  border: 1px solid $COLOR_DARK_GREY;
  margin-right: 0;

  &:hover {
    background-color: $COLOR_GREY;
    color: $COLOR_BLACK;
  }
}

.text-dark {
  font-size: 1rem;
}

.text-light-dark {
  color: $COLOR_LIGHT_DARK;
}

.card {
  border: none;

  &--large {
    padding: 2rem 2rem;
  }

  .card-img-top {
    width: 420px;
    margin: auto;
  }

  .card-body {
    padding: 0;

    .form-control {
      padding: 1.5rem 1rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .form-check-label {
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }

  .card-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.no-bg-color {
  background-color: $COLOR_WHITE;
  border: none;
}

@media (max-width: 767px) {
  .bg-sm-light {
    background-color: $COLOR_LIGHT_GREY-10;
  }
}

