<div class="container-fluid">
  <div class="header__title">Consents</div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Accounts</th>
            <th scope="col">Balances</th>
            <th scope="col">Transactions</th>
            <th scope="col">Status</th>
            <th scope="col">Daily Frequency</th>
            <th scope="col">Date Of Last Action</th>
            <th scope="col">Valid Until</th>
            <th scope="col">Recurring Indicator</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let consent of consents; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{consent.aisAccountConsent.id}}</td>
            <td>
              <div *ngFor="let account of consent.aisAccountConsent.access.accounts; index as i; last as isLast" [ngClass]="{'mb-2': !isLast}">
                IBAN: {{account.iban}}<br/>
                Currency: {{account.currency}}
              </div>
            </td>
            <td>
              <div *ngFor="let balance of consent.aisAccountConsent.access.balances; index as i; last as isLast" [ngClass]="{'mb-2': !isLast}">
                IBAN: {{balance.iban}}<br/>
                Currency: {{balance.currency}}
              </div>
            </td>
            <td>
              <div *ngFor="let transaction of consent.aisAccountConsent.access.transactions; index as i; last as isLast" [ngClass]="{'mb-2': !isLast}">
                IBAN: {{transaction.iban}}<br/>
                Currency: {{transaction.currency}}
              </div>
            </td>
            <td>{{consent.aisAccountConsent.consentStatus}}</td>
            <td>{{consent.aisAccountConsent.frequencyPerDay}}</td>
            <td>{{consent.aisAccountConsent.lastActionDate}}</td>
            <td>{{consent.aisAccountConsent.validUntil}}</td>
            <td>{{consent.aisAccountConsent.recurringIndicator}}</td>
            <td>
              <button class="btn btn-primary mr-2" [disabled]="!isConsentEnabled(consent)" (click)="revokeConsent(consent)">Revoke</button>
              <button class="btn btn-primary" ngxClipboard [cbContent]="consent.encryptedConsent" (cbOnSuccess)="copiedConsentSuccessful($event)">Copy to clipboard</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
