$COLOR_LIGHT_GREEN: #96D550;
$COLOR_DARK_GREEN: #78AA40;
$COLOR_WHITE: #FFFFFF;
$COLOR_GREY: #F3F3F3;
$COLOR_LIGHT_GREY-10: #F8F8F8;
$COLOR_DARK_GREY: #818181;
$COLOR_DARK_CYAN: #00A992;
$COLOR_BLACK: #000000;
$COLOR_LIGHT_DARK: #333333;
$COLOR_DARK_BLUE: #0F62A4;
