<div class="card bg-light">
  <div *ngIf="authResponse" class="card-body">
    <div *ngIf="authResponse.payment">
      <div id="fixed">
        <h2><strong>Debtor account</strong></h2>
        <strong><p>{{authResponse.payment.debtorAccount.iban}} {{authResponse.payment.debtorAccount.currency}}</p></strong>
        <hr>
        <h5>Total amount</h5>
        <strong><p>{{totalAmount}} {{authResponse.payment.targets[0].instructedAmount.currency}}</p></strong>
        <hr>
      </div>
      <div *ngFor="let payment of authResponse.payment.targets; index as i">
        <h4><strong>{{ i + 1 }}- Creditor account</strong></h4>
        <strong><p>{{payment.creditorAccount.iban}} {{payment.creditorAccount.currency}}</p></strong>
        <hr>

        <h4>Creditor name</h4>
        <strong><p>{{payment.creditorName}}</p></strong>
        <hr>

        <h4>Payment amount</h4>
        <strong><p>{{payment.instructedAmount.amount}} {{payment.instructedAmount.currency}}</p></strong>
        <hr>
      </div>

      <div *ngIf="authResponse.payment.startDate">
        <h4>Payment start date</h4>
        <strong><p>{{authResponse.payment.startDate}}</p></strong>
        <hr>
      </div>

      <div *ngIf="authResponse.payment.executionRule">
        <h4>Payment execution rule</h4>
        <strong><p>{{authResponse.payment.executionRule}}</p></strong>
        <hr>
      </div>

      <div *ngIf="authResponse.payment.endDate">
        <h4>Payment end date</h4>
        <strong><p>{{authResponse.payment.endDate}}</p></strong>
        <hr>
      </div>
    </div>

  </div>
</div>
