dist/
coverage/
tmp/
out-tsc/
bazel-out/
node_modules/
.vscode/
.idea/
.vscode/
.prettierignore
package-lock.json
package.json
yarn.lock
src/app/components/cash-deposit/cash-deposit.component.spec.ts
src/app/components/auth/login/login.component.spec.ts
