<div>
    <ul class="nav flex-md-column">
        <li class="nav-item">
            <a [routerLinkActive]="['active']" [routerLink]="['/accounts']" class="nav-link ">
                <div class="icon__container">
                    <app-icon svgIcon="account" inline="true"></app-icon>
                </div>
                <span class="nav__title">Users Accounts</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLinkActive]="['active']" [routerLink]="['/users/all']" class="nav-link ">
                <div class="icon__container">
                    <app-icon svgIcon="user" inline="true" class="icon--medium"></app-icon>
                </div>
                <span class="nav__title">My users list</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLinkActive]="['active']" [routerLink]="['/upload']" class="nav-link">
                <div class="icon__container">
                    <app-icon svgIcon="upload" inline="true" class="icon--medium"></app-icon>
                </div>
                <span class="nav__title">Upload File</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLinkActive]="['active']" [routerLink]="['/generate-test-data']" class="nav-link">
                <div class="icon__container">
                    <app-icon svgIcon="generate_test_data" inline="true"></app-icon>
                </div>
                <span class="nav__title">Generate Test Data</span>
            </a>
        </li>
    </ul>
</div>
