<!--
  ~ Copyright 2018-2022 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<div>
  <ul class="nav flex-md-column">
    <li class="nav-item" *ngIf="admin">
      <a [routerLinkActive]="['active']" [routerLink]="['/admin/all']" class="nav-link">
        <div class="icon__container">
          <app-icon svgIcon="user" inline="true" class="icon--medium"></app-icon>
        </div>
        <span class="nav__title">Administrators List</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="admin">
      <a [routerLinkActive]="['active']" [routerLink]="['/management']" class="nav-link">
        <div class="icon__container">
          <app-icon svgIcon="user" inline="true" class="icon--medium"></app-icon>
        </div>
        <span class="nav__title">TPP Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['/users/all']" class="nav-link">
        <div class="icon__container">
          <app-icon svgIcon="user" inline="true" class="icon--medium"></app-icon>
        </div>
        <span class="nav__title">Users List</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['/accounts']" class="nav-link">
        <div class="icon__container">
          <app-icon svgIcon="euro" inline="true"></app-icon>
        </div>
        <span class="nav__title">Users Accounts</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!admin">
      <a [routerLinkActive]="['active']" [routerLink]="['/upload']" class="nav-link">
        <div class="icon__container">
          <app-icon svgIcon="upload" inline="true" class="icon--medium"></app-icon>
        </div>
        <span class="nav__title">Upload File</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!admin">
      <a [routerLinkActive]="['active']" [routerLink]="['/generate-test-data']" class="nav-link">
        <div class="icon__container">
          <app-icon svgIcon="generate_test_data" inline="true"></app-icon>
        </div>
        <span class="nav__title">Generate Test Data</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!admin">
      <a [routerLinkActive]="['active']" [routerLink]="['/profile']" class="nav-link">
        <div class="icon__container">
          <app-icon svgIcon="settings" inline="true"></app-icon>
        </div>
        <span class="nav__title">Settings</span>
      </a>
    </li>
  </ul>
</div>
