<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="header container-fluid">
    <a class="navbar-brand" href="#"></a>
    <span class="header__logo">
      <img [src]="config.logoUrl" alt="adorsys logo" />
    </span>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/developer-portal"
            >Developer Portal <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/test-cases"
            >Test cases <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="config.certPageEnabled"
        >
          <a class="nav-link" routerLink="/certificate-service"
            >Certificate Service</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/faqs">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="config.contactMailto">Contact</a>
        </li>

        <li>
          <div
            class="btn-group btn-group-toggle language-switcher"
            data-toggle="buttons"
          >
            <label
              class="btn btn-secondary"
              for="de"
              [ngClass]="{
                active: (selectedLanguage$ | async) == languages.de
              }"
              >DE
              <input
                name="state-d"
                type="radio"
                id="de"
                autocomplete="off"
                (change)="onSelectLanguage(languages.de)"
                [checked]="(selectedLanguage$ | async) == languages.de"
              />
            </label>

            <label
              class="btn btn-secondary"
              for="en"
              [ngClass]="{
                active: (selectedLanguage$ | async) == languages.en
              }"
              >EN
              <input
                name="state-d"
                type="radio"
                id="en"
                autocomplete="off"
                checked
                (change)="onSelectLanguage(languages.en)"
                [checked]="(selectedLanguage$ | async) == languages.en"
              />
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
