<div class="container-fluid">
    <div class="header__title">Deposit cash</div>

    <div class="card card--small">
        <div class="card-body--large">
            <form (ngSubmit)="onSubmit()" [formGroup]="cashDepositForm">
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{errorMessage}}
                </div>

                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input [ngClass]="{'is-invalid': cashDepositForm.get('amount')?.errors && cashDepositForm.get('amount')?.touched
                    || submitted && cashDepositForm.get('amount')?.errors}"
                           class="form-control"
                           formControlName="amount"
                           id="amount"
                           placeholder="0"
                           type="number">

                    <div *ngIf="cashDepositForm.get('amount')?.errors?.required" class="invalid-feedback">
                        Amount is required
                    </div>
                    <div *ngIf="cashDepositForm.get('amount')?.errors?.min" class="invalid-feedback">
                        The amount should be more than 0
                    </div>
                </div>

                <div class="form-group">
                    <label for="currency">Currency</label>
                    <input [ngClass]="{'is-invalid':  cashDepositForm.get('currency')?.errors && cashDepositForm.get('currency')?.touched
                    || submitted && cashDepositForm.get('currency')?.errors}"
                           class="form-control"
                           formControlName="currency"
                           id="currency"
                           type="text">
                    <div *ngIf="cashDepositForm.get('currency')?.errors?.required"
                         class="invalid-feedback">
                        Currency is required
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Deposit</button>
                </div>
            </form>
        </div>
    </div>
</div>
