<div class="container-fluid">
    <div class="header__title">Deposit cash</div>

    <div class="card card--small">
        <div class="card-body--large">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{errorMessage}}
                </div>

                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input [ngClass]="{'is-invalid': amount.invalid && (amount.dirty || amount.touched || submitted)}"
                           autofocus class="form-control"
                           formControlName="amount"
                           id="amount"
                           type="number">
                    <div class="invalid-feedback">
                        <div *ngIf="amount.errors?.required">
                            Required
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="currency">Currency</label>
                    <input [ngClass]="{'is-invalid': currency.invalid && (currency.dirty || currency.touched || submitted)}"
                           class="form-control"
                           formControlName="currency"
                           id="currency"
                           type="text">
                    <div class="invalid-feedback">
                        <div *ngIf="currency.errors?.required">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Deposit</button>

                </div>
            </form>
        </div>
    </div>
</div>
