<div class="footer-bar">
  <div class="footer-top-items">
    <img *ngIf="globalSettings?.footerLogo" class="logo" [src]="globalSettings?.footerLogo"
         (click)="navigationService.goToLogoLink(logoLink, defaultLogoLink)" alt="Logo"/>

    <div *ngIf="showNavigation">
      <a *ngFor="let navItem of navigation" class="footer-item"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: false }"
         (click)="navigationService.navigateTo(navItem)">
        {{ navItem.navName }}
      </a>

    </div>
  </div>

  <div class="social-media" *ngIf="globalSettings?.socialMedia && socialMedia.length > 1">
    <a *ngFor="let social of socialMedia"
       class="social-media-item"
       [href]="globalSettings.socialMedia[social]"
       target="_blank">
      <i [class]="getIconForSocialMedia(social)"></i>
    </a>
  </div>

</div>
