<!--
  ~ Copyright 2018-2023 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<div class="bg-sm-light sticky-top">
  <div class="container-fluid">
    <nav class="navbar navbar-light text-primary py-3">
      <a class="navbar-brand" href="#">
        <img class="logo" [src]="customizeService.getLogo()" />
      </a>
    </nav>
  </div>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="confirmNewPasswordForm">
  <div class="card">
    <div class="card-body">
      <div class="card__headline text-center">
        <h2 class="card-title font-weight-bold">Reset PIN</h2>
        <div class="my-4 card__subtitle">Please enter the received code and your new PIN</div>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div class="form__margin">
        <div class="mb-3">
          <label for="newPassword">New PIN*</label>
          <input
            [ngClass]="{
              'is-invalid':
                (confirmNewPasswordForm.get('newPassword')?.errors && confirmNewPasswordForm.get('newPassword')?.touched) ||
                (submitted && confirmNewPasswordForm.get('newPassword')?.errors)
            }"
            autocomplete="off"
            class="form-control"
            formControlName="newPassword"
            id="newPassword"
            type="password"
          />
          <div *ngIf="confirmNewPasswordForm.get('newPassword')?.errors?.required" class="invalid-feedback">New PIN is Required</div>
        </div>
        <div class="mb-3">
          <label for="newPassword">Code*</label>
          <input
            [ngClass]="{
              'is-invalid':
                (confirmNewPasswordForm.get('code')?.errors && confirmNewPasswordForm.get('code')?.touched) ||
                (submitted && confirmNewPasswordForm.get('code')?.errors)
            }"
            autocomplete="off"
            class="form-control"
            formControlName="code"
            id="code"
            type="text"
          />
          <div *ngIf="confirmNewPasswordForm.get('code')?.errors?.required" class="invalid-feedback">Code is Required</div>
        </div>
      </div>
      <button class="btn btn-primary btn-block" type="submit">Reset PIN</button>
    </div>
  </div>
</form>
