<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.DOC' | translate }}</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.PLAY' | translate }}</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.TITLE_1' | translate }}
      </h1>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_1' | translate }}
        <span class="bold-text">POST</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}"
        ></app-line-command
        >
        .
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_2' | translate }}
        <span class="italic-text">{{
          'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.ITALIC_SPAN' | translate
          }}</span>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_3' | translate }}
        <app-line-command title="payment-service"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_4' | translate }}
        <app-line-command title="payment-product"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_5' | translate }}
        <app-line-command title="payments"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_6' | translate }}
        <app-line-command title="payment-service"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_7' | translate }}
        <app-line-command title="sepa-credit-transfers"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_8' | translate }}
        <app-line-command title="payment-product"></app-line-command>
        .
      </p>

      <p>{{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_9' | translate }}</p>

      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Explicit-Authorisation-Preferred</span> <span>true</span>
      </div>
      <div class="api-table">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table bg">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <div class="api-table">
        <span>TPP-Redirect-Preferred</span> <span>true</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Redirect-URI</span>
        <span>https://adorsys-platform.de/solutions/xs2a-sandbox/</span>
      </div>
      <div class="api-table">
        <span>TPP-Nok-Redirect-URI</span> <span>https://www.google.com</span>
      </div>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_10' | translate }}
        <span class="bold-text">YOUR_USER_LOGIN</span>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_11' | translate }}
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_12' | translate }}
        <app-line-command title="payment-service"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_13' | translate }}
        <app-line-command title="payments"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_14' | translate }}
      </p>
      <app-code-area [json]="jsonData1" [id]="'RPIP-1'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_15' | translate }}
        <app-line-command title="payment-service"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_16' | translate }}
        <app-line-command title="periodic-payments"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_17' | translate }}
      </p>
      <app-code-area [json]="jsonData2" [id]="'RPIP-2'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_18' | translate }}
        <app-line-command title="payment-service"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_19' | translate }}
        <app-line-command title="bulk-payments"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_20' | translate }}
      </p>
      <app-code-area [json]="jsonData3" [id]="'RPIP-3'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_21' | translate }}
        <span class="bold-text">YOUR_USER_IBAN</span>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_22' | translate }}
      </p>
      <app-code-area [json]="jsonData4" [id]="'RPIP-4'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_23' | translate }}
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_24' | translate }}
      </p>
      <h1>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.TITLE_2' | translate }}
      </h1>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_25' | translate }}
        <app-line-command title="scaRedirect"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.RDCT_PAY_INIT_POST.PART_26' | translate }}
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="POST"
        [headers]="headers"
        [body]="body"
        [paymentServiceFlag]="true"
        [paymentProductFlag]="true"
        [url]="'v1/'"
        [fieldsToCopy]="['paymentId']"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
