/*!
 * Copyright 2018-2024 adorsys GmbH & Co KG
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version. This program is distributed in the hope that
 * it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 *
 * This project is also available under a separate commercial license. You can
 * contact us at sales@adorsys.com.
 */

div ::ng-deep {
  img {
    margin-top: 3vw;
    width: 100%;
  }

  h1 {
    margin-bottom: 1.5vw;
  }

  h3 {
    color: #5f5f5f;
  }

  ol {
    margin-left: 1em;
    list-style: var(--listStyle);
  }

  ul:first-child {
    padding-inline-start: 20px;
  }

  #markdown {
    margin-bottom: 8.5vw;
  }

  table {
    font-size: 0.8rem;
    border-collapse: collapse;
    width: 100%;

    background-color: var(--tableBG);
    border-bottom: var(--tableBorderStyleBottom);
    border-left: var(--tableBorderStyleLeft);
    border-right: var(--tableBorderStyleRight);
    border-top: var(--tableBorderStyleTop);

    th {
      background-color: var(--tableStripedBG);
      font-weight: 900;
    }

    tr:nth-child(even) {
      background-color: var(--tableStripedBG);
    }

    tr:hover {
      background-color: #ddd;
    }

    th,
    td {
      text-align: left;
      margin: 1.2em;
      padding: 1.2em;
    }
  }

  .language-yaml {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
  }
}
