@import "../../../functions";

/************************************+
  DROP-ZONE
*************************************/
.drop-zone {
    $primary: lightgray;
    border: 1.5px dashed $primary/2;
    color: $primary/2;
    height: 150px;
    font-size: 200%;
    background: linear-gradient(45deg, $primary, $primary*1.2);

    .drop-text {
        text-align: center;
    }
}

#fileInput {
    display: none;
}

/************************************+
  TABLE
*************************************/
th {
    text-align: left;
}

button {
    @include border();

    @media screen and (max-width: 599px) {
        span {
            display: none;
        }
    }
}
