<div class="card">
    <div *ngIf="uploader.queue.length === 0">
        <label for="fileInput" class="drop-zone d-flex justify-content-center"
               ng2FileDrop
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader">
            <span class="drop-text">Drop file or click here</span>
        </label>
        <input id="fileInput" [accept]="acceptedMimes" type="file" ng2FileSelect [uploader]="uploader"/>
    </div>

    <div class="col-12">
        <table class="table" *ngIf="uploader.queue.length > 0">
            <thead>
            <tr>
                <th class="col-4">Filename</th>
                <th class="col-4">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <!-- Image -->
                <td class="col-4">
                    <small><strong>{{ item?.file?.name }}</strong></small>
                </td>
                <!-- Actions -->
                <td nowrap>
                    <button class="btn btn-primary mr-1" (click)="item.upload()"
                            [disabled]="item.isUploading || item.isSuccess"
                            *ngIf="uploader.queue.length === 1">
                        <i class="fa fa-upload"></i>
                        <span>Upload</span>
                    </button>
                    <button class="btn btn-danger" (click)="item.remove()">
                        <i class="fa fa-remove"></i>
                        <span>Remove</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="uploader.queue.length > 0">
            <div class="form-group">
            </div>
        </div>
    </div>
</div>
