/************************************+
  DROP-ZONE
*************************************/
.drop-zone {
    color: blue;
    height: 150px;
    font-size: 200%;
    text-align: center;
    width: 100%;
    background: #a9a9a94a;
}

#fileInput {
    display: none;
}

/************************************+
  TABLE
*************************************/
th {
    text-align: left;
}

button {

}



.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
