$light-grey: #a0a0a0;
$light-grey-10: #f8f8f8;
$btn-text-color: #f6f6f6;

$COLOR_LIGHT_GREEN: #96d550;
$COLOR_DARK_GREEN: #78aa40;
$COLOR_WHITE: #ffffff;
$COLOR_GREY: #f3f3f3;
$COLOR_DARK_GREY: #818181;
$COLOR_DARK_CYAN: #00a992;
$COLOR_BLACK: #000000;
$COLOR_LIGHT_DARK: #333333;
$COLOR_DARK_BLUE: #0f62a4;

$dark-80: #2c2e2f;

/*
 * CSS Variables: Used for whitelabel customization
 */
:root {
  /* Fonts */
  --fontFamily: Arial, sans-serif;

  --textFontSize: 1rem;
  --textFontWeight: bold;

  --h1FontSize: 2rem;
  --h1FontWeight: bold;

  --h2FontSize: 1.5rem;
  --h2FontWeight: bold;

  --h3FontSize: 1rem;
  --h3FontWeight: normal;

  /* Colors */
  --colorPrimary: #054f72;
  --colorSecondary: #eed52f;

  /* Body */
  --bodyBG: #fafafa;
  --bodyFontColor: #868e96;

  /* Main */
  --mainBG: transparent;

  /* Header */
  --headerBG: #ffffff;
  --headerFontColor: #000000;

  /* Footer */
  --footerBG: #054f72;
  --footerFontColor: #ffffff;

  /* Anchor */
  --anchorFontColor: #0984bf;
  --anchorFontColorHover: #054f72;

  /* Hero */
  --heroBG: #eeeeee;

  /* Steps */
  --stepBG: #cccccc;

  /* ContactsCard */
  --contactsCardBG: #eeeeee;

  /* TestCases */
  --testCasesLeftSectionBG: #ffffff;
  --testCasesRightSectionBG: #eeeeee;

  /* Buttons */
  --buttonTextColor: #fff;

  --buttonBgGradient1: #0db0e2;
  --buttonBgGradient2: #054f72;
  --buttonBG: linear-gradient(
    129.54deg,
    var(--buttonBgGradient1) 0%,
    var(--buttonBgGradient2) 100%
  );

  --buttonHoveredGradient1: #0F62A4;
  --buttonHoveredGradient2: #054f72;
  --buttonHovered: linear-gradient(
    129.54deg,
    var(--buttonHoveredGradient1) 0%,
    var(--buttonHoveredGradient2) 100%
  );

  --buttonClickedGradient1: #0db0e2;
  --buttonClickedGradient2: #062e72;
  --buttonClicked: linear-gradient(
    129.54deg,
    var(--buttonClickedGradient1) 0%,
    var(--buttonClickedGradient2) 100%
  );

  /* Inputs */
  --inputBG: $COLOR_WHITE;
  --inputBorderStyle: 1px solid #dcdcdc;

  /* Selects */
  --selectBG: $COLOR_WHITE;
  --selectColor: #3b4151;
}
