$primary-gradient: linear-gradient(129.54deg, #0db0e2 0%, #10317d 100%);
$light-grey: #a0a0a0;
$light-grey-10: #f8f8f8;
$btn-text-color: #f6f6f6;

$COLOR_LIGHT_GREEN: #96d550;
$COLOR_DARK_GREEN: #78aa40;
$COLOR_WHITE: #ffffff;
$COLOR_GREY: #f3f3f3;
$COLOR_DARK_GREY: #818181;
$COLOR_DARK_CYAN: #00a992;
$COLOR_BLACK: #000000;
$COLOR_LIGHT_DARK: #333333;
$COLOR_DARK_BLUE: #0f62a4;

$dark-80: #2c2e2f;
