<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>User management</span>
      </h6>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']">
          <span data-feather="file"></span>
          Add User
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']">
          <span data-feather="file"></span>
          My Users
        </a>
      </li>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Account management</span>
      </h6>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/accounts/new']" [routerLinkActive]="['active']">
          <span data-feather="users"></span>
          Create account
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/accounts']" [routerLinkActive]="['active']">
          <span data-feather="users"></span>
          Accounts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/accounts']" [routerLinkActive]="['active']">
          <span data-feather="users"></span>
          Make deposit
        </a>
      </li>
    </ul>
  </div>
</nav>
