<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>Documentation</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>Play with data</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>STEP 2: Payment cancellation authorisation</h1>
      <span class="bold-text"
        >Payment cancellation authorisation for user with no SCA methods</span
      >
      <p>
        4. Start payment cancellation authorisation with
        <span class="bold-text">POST</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations"
        ></app-line-command>
        . Choose the same
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="payment-product"></app-line-command>
        you chose in <span class="bold-text">STEP 1</span>.
      </p>
      <p>
        5. Enter payment id you have got from the previous response in
        <span class="bold-text">STEP 1</span> in the field
        <app-line-command title="paymentId"></app-line-command>.
      </p>
      <p>6. Fill the header fields with the following values:</p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        7. Execute the command and get 201 response and related information.
      </p>

      <span class="bold-text"
        >Payment cancellation authorisation for user with single SCA
        method</span
      >
      <p>
        4. Start payment cancellation authorisation with
        <span class="bold-text">POST</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations"
        ></app-line-command>
        . Choose the same
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="payment-product"></app-line-command>
        you chose in <span class="bold-text">STEP 1</span>.
      </p>
      <p>
        5. Enter payment id you have got from the previous response in
        <span class="bold-text">STEP 1</span> in the field
        <app-line-command title="paymentId"></app-line-command>.
      </p>
      <p>6. Fill the header fields with the following values:</p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        7. Execute the command and get 201 response and related information.
      </p>

      <span class="bold-text"
        >Payment cancellation authorisation for user with multiple SCA
        methods</span
      >
      <p>
        4. Start payment cancellation authorisation with
        <span class="bold-text">POST</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations"
        ></app-line-command>
        . Choose the same
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="payment-product"></app-line-command>
        you chose in <span class="bold-text">STEP 1</span>.
      </p>
      <p>
        5. Enter payment id you have got from the previous response in
        <span class="bold-text">STEP 1</span> in the field
        <app-line-command title="paymentId"></app-line-command>.
      </p>
      <p>6. Fill the header fields with the following values:</p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        7. Execute the command and get 201 response and related information.
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <div class="endpoint-play-with-data"><h1>Coming soon...</h1></div>
    </ng-template>
  </div>
</div>
