<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Users</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-lg btn-outline-secondary" routerLink="/users/create">create new user</button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Login</th>
      <th scope="col">Email</th>
      <th scope="col">Accounts</th>
      <th scope="col">Authentication methods</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i" [routerLink]="['/users/' + user.id]">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.login}}</td>
      <td>{{user.email}}</td>
      <td>
        <ul>
          <li *ngFor="let accountAccess of user.accountAccesses">
            {{accountAccess.iban}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let scaItem of user.scaUserData">
            {{scaItem.methodValue}}
          </li>
        </ul>
      </td>
      <td>
        <a class="btn btn-primary" routerLink="/users/{{user.id}}/create-deposit-account">create deposit account</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
