<nav class="navbar navbar-light py-3">
    <a class="navbar-brand text-primary mr-4" routerLink="/">
        <img
            class="logo"
            [src]="customizeService.getLogo()"
        />
        <span class="ml-3"><span *ngIf="!customizeService.isCustom()">adorsys </span>TPP UI</span>
    </a>
      <ul class="nav ml-auto">
          <li class="nav-item">
              <a (click)="onLogout()" [routerLinkActive]="['active']" class="btn nav-link px-0 mb-0">
                  <div class="mr-2">
                      <img src="./assets/icons/sign_out.svg">
                  </div>
                  <span class="nav__title">Sign out</span>
              </a>
          </li>
      </ul>
</nav>
