<nav class="navbar navbar-light py-3">
    <a class="navbar-brand text-primary mr-4" routerLink="/">
        <img
            class="logo"
            [src]="customizeService.getLogo()"
        />
        <span class="ml-3"><span *ngIf="!customizeService.isCustom()">adorsys </span>TPP UI</span>
    </a>
    <ul class="nav ml-auto">
        <li class="nav-item dropdown">
          <a class="dropdown-toggle mr-3 no-underline clickable" (click)="handleDropdownMenu()"
            *ngIf="tppUser?.login">{{ tppUser.login }}</a>
          <div class="dropdown-menu dropdown-menu-right" [ngClass]="{show: openDropdownMenu}">
            <li class="divider"></li>
            <li>
              <a routerLink="/profile" (click)="handleDropdownMenu()" class="btn nav-link">
                <div class="mr-2">
                  <img src="./assets/icons/user.svg">
                </div>
                <span class="nav__title">Profile</span>
              </a>
            </li>
            <li>
              <a (click)="onLogout()" [routerLinkActive]="['active']" class="btn nav-link clickable">
                <div class="mr-2">
                  <img src="./assets/icons/sign_out.svg">
                </div>
                <span class="nav__title">Sign out</span>
              </a>
            </li>
          </div>
        </li>
    </ul>
</nav>
