<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <div *ngIf="formControl['login'].value; else noUserLogin">
    <h1 class="h2">{{formControl['login'].value}}</h1>
  </div>

  <ng-template #noUserLogin>
    <h1 class="h2">New user</h1>
  </ng-template>
</div>

<div class="container">
  <form autocomplete="off" [formGroup]="userForm">
    <div class="form-group">
      <div class="card">
        <div class="card-header">
         <h5>User Information</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 my-1">
              <input type="email"
                     class="form-control"
                     formControlName="email"
                     id="email" autocomplete="off"
                     aria-describedby="emailHelp"
                     [ngClass]="{ 'is-invalid': (formControl['email'].touched || submitted) && formControl['email'].errors }"
                     placeholder="Enter email">
              <p class="text-danger" *ngIf="(formControl['email'].touched || submitted) && formControl['email'].hasError('required')">Email is required</p>
              <p class="text-danger" *ngIf="(formControl['email'].touched || submitted) && formControl['email'].hasError('email')">Email is invalid</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 my-1">
              <input type="text"
                     class="form-control"
                     formControlName="login"
                     id="login"
                     autocomplete="off"
                     aria-describedby="emailHelp"
                     [ngClass]="{ 'is-invalid': (formControl['login'].touched || submitted) && formControl['login'].errors }"
                     placeholder="Enter your banking login">
              <p class="text-danger" *ngIf="(formControl['login'].touched || submitted) && formControl['login'].hasError('required')">Login is required</p>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-6 my-1">
                <input type="password"
                       class="form-control"
                       autocomplete="new-password"
                       formControlName="pin"
                       id="pin"
                       aria-describedby="pinHelp"
                       [ngClass]="{ 'is-invalid': (formControl['pin'].touched || submitted) && formControl['pin'].errors }"
                       placeholder="Enter pin">
                <p class="text-danger" *ngIf="(formControl['pin'].touched || submitted) && formControl['pin'].hasError('required')">Pin is required</p>
                <p class="text-danger" *ngIf="(formControl['pin'].touched || submitted) && formControl['pin'].hasError('minlength')">Pin must contain at least 5 characters</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" formArrayName="scaUserData">
      <div class="card">
        <div class="card-header">
          <h5 class="d-inline">User authentication Information</h5>
          <button class="d-inline btn-sm btn-outline-secondary float-right" (click)="addScaDataItem()">add new authentication method</button>
        </div>
        <div class="card-body">
          <div class="row" *ngFor="let scaDataItem of userForm.controls['scaUserData'].controls; let i=index">
            <div class="col-lg-8 col-md-8 col-sm-6 my-1" [formGroupName]="i">
              <input type="text"
                     class="form-control"
                     id="scaData"
                     formControlName="methodValue"
                     aria-describedby="scaDataHelp"
                     [ngClass]="{ 'is-invalid': (scaDataItem.controls['methodValue'].touched || submitted) && scaDataItem.controls['methodValue'].errors }"
                     placeholder="Please input SCA method for user">
              <p class="text-danger" *ngIf="(scaDataItem.controls['methodValue'].touched || submitted) && scaDataItem.controls['methodValue'].hasError('required')">
                Authentication Email or Phone number is required
              </p>
            </div>

            <div class="col-auto my-1" [formGroupName]="i">
              <div class="row">
                <div class="form-check col">
                  <input class="form-check-input"
                         type="radio"
                         id="scaUserDataEmail{{i}}"
                         formControlName="scaMethod"
                         value="EMAIL">
                  <label class="form-check-label" for="scaUserDataEmail{{i}}">
                    Email
                  </label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input"
                         type="radio"
                         id="scaUserDataPhone{{i}}"
                         formControlName="scaMethod"
                         value="MOBILE">
                  <label class="form-check-label" for="scaUserDataPhone{{i}}">
                    Mobile phone
                  </label>
                </div>
              </div>
            </div>

            <button type="button"
                    *ngIf="userForm.controls['scaUserData'].controls.length > 1"
                    (click)="removeScaDataItem(i)"
                    class="close"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
        </div>
      </div>
    </div>

    <button type="submit"
            class="btn btn-primary"
            (click)="onSubmit()">Submit</button>

  </form>
</div>

