<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.DOC' | translate }}</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.PLAY' | translate }}</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.TITLE' | translate }}</h1>

      <span class="bold-text">{{
        'TEST_CASES.COMPONENTS.EMB_IN_PUT.SUBTITLE_1' | translate
      }}</span>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_1' | translate }}
        <span class="bold-text">PUT</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}"
        ></app-line-command
        >.
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_2' | translate }}
        <app-line-command title="paymentId"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_3' | translate }}
        <app-line-command title="authorisationId"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_4' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_5' | translate }}</p>
      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <div class="api-table bg">
        <span>TPP-QWAC-Certificate</span>
        <span> -----BEGIN CERTIFICATE-----</span>
      </div>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_6' | translate }}
        <span class="bold-text">YOUR_USER_LOGIN</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_7' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_8' | translate }}</p>
      <app-code-area [json]="jsonData1" [id]="'EPIP-1'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_9' | translate }}
        <span class="bold-text">YOUR_USER_PASSWORD</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_10' | translate }}
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_11' | translate }}
        <app-line-command title="200 HTTP code"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_12' | translate }}
        <app-line-command title="scaStatus: Finalised"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_13' | translate }}
      </p>

      <span class="bold-text">{{
        'TEST_CASES.COMPONENTS.EMB_IN_PUT.SUBTITLE_2' | translate
      }}</span>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_14' | translate }}
        <span class="bold-text">PUT</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}"
        ></app-line-command
        >.
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_15' | translate }}
        <app-line-command title="paymentId"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_16' | translate }}
        <app-line-command title="authorisationId"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_17' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_18' | translate }}</p>
      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_19' | translate }}
        <span class="bold-text">YOUR_USER_LOGIN</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_20' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_21' | translate }}</p>
      <app-code-area [json]="jsonData1" [id]="'EPIP-2'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_22' | translate }}
        <span class="bold-text">YOUR_USER_PASSWORD</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_23' | translate }}
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_24' | translate }}
        <app-line-command title="200 HTTP code"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_25' | translate }}
        <app-line-command
          title="scaStatus: ScaMethodSelected"
        ></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_26' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_27' | translate }}</p>
      <app-code-area [json]="jsonData2" [id]="'EPIP-3'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_28' | translate }}
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_29' | translate }}
        <app-line-command title="200 HTTP code"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_30' | translate }}
        <app-line-command title="scaStatus: Finalised"></app-line-command>.
      </p>

      <span class="bold-text">{{
        'TEST_CASES.COMPONENTS.EMB_IN_PUT.SUBTITLE_3' | translate
      }}</span>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_31' | translate }}
        <span class="bold-text">PUT</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}"
        ></app-line-command
        >.
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_32' | translate }}
        <app-line-command title="paymentId"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_33' | translate }}
        <app-line-command title="authorisationId"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_34' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_35' | translate }}</p>
      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_36' | translate }}
        <span class="bold-text">YOUR_USER_LOGIN</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_37' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_38' | translate }}</p>
      <app-code-area [json]="jsonData1" [id]="'EPIP-4'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_39' | translate }}
        <span class="bold-text">YOUR_USER_PASSWORD</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_40' | translate }}
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_41' | translate }}
        <app-line-command title="200 HTTP code"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_42' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_43' | translate }}</p>
      <app-code-area [json]="jsonData3" [id]="'EPIP-5'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_44' | translate }}
        <span class="italic-text">"YOUR_AUTHENTICATION_METHOD_ID"</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_45' | translate }}
        <app-line-command title="200 HTTP code"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_46' | translate }}
        <app-line-command
          title="scaStatus: ScaMethodSelected"
        ></app-line-command
        >.
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_47' | translate }}</p>
      <app-code-area [json]="jsonData2" [id]="'EPIP-6'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_48' | translate }}
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_49' | translate }}
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_50' | translate }}
        <app-line-command title="200 HTTP code"></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_PUT.PART_51' | translate }}
        <app-line-command title="scaStatus: Finalised"></app-line-command>.
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="PUT"
        [headers]="headers"
        [body]="body"
        [paymentServiceFlag]="true"
        [paymentProductFlag]="true"
        [paymentIdFlag]="true"
        [paymentId]="paymentId"
        [variablePathEnd]="'/authorisations'"
        [authorisationIdFlag]="true"
        [authorisationId]="authorisationId"
        url="v1/"
        eventName="embedded_put_authorise_payment"
        eventCategory="send_request"
        eventAction="click"
        eventLabel="embedded_put_authorise_payment"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
