<div class="bg-sm-light sticky-top">
  <div class="container-fluid pd-0">
    <nav class="navbar navbar-light text-primary py-3">
      <a class="navbar-brand" href="#">
        <img class="logo" [src]="customizeService.getLogo()" />
      </a>
    </nav>
  </div>
</div>

<div class="d-md-flex bg-white h-md-75">
  <div class="col">
    <div
      class="d-md-flex align-items-center h-100 p-4 justify-content-center pd-0"
    >
      <div class="d-md-flex align-items-center">
        <form
          [formGroup]="resetPasswordForm"
          (ngSubmit)="resetPasswordForm.valid && onSubmit()"
        >
          <div class="card">
            <div class="card-body pd-0">
              <div class="card__headline text-center">
                <h2 class="card-title font-weight-bold">Reset PIN</h2>
                <div class="card__subtitle">
                  Please log in with your bank account username
                </div>
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div class="mrb-5 mrt-1-5">
                <div class="form-group">
                  <label
                    class="text-muted"
                    for="login"
                    *ngIf="!customizeService.isCustom()"
                    >Login</label
                  >
                  <input
                    [ngClass]="{
                      'is-invalid':
                        (resetPasswordForm.get('login')?.errors &&
                          resetPasswordForm.get('login')?.touched) ||
                        (submitted && resetPasswordForm.get('login')?.errors)
                    }"
                    autocomplete="off"
                    class="form-control"
                    formControlName="login"
                    id="login"
                    placeholder="Enter your login"
                    type="text"
                  />
                  <div
                    *ngIf="resetPasswordForm.get('login')?.errors?.required"
                    class="invalid-feedback"
                  >
                    Login is Required
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="text-muted"
                    for="email"
                    *ngIf="!customizeService.isCustom()"
                    >E-Mail Address</label
                  >
                  <input
                    [ngClass]="{
                      'is-invalid':
                        (resetPasswordForm.get('email')?.errors &&
                          resetPasswordForm.get('email')?.touched) ||
                        (submitted && resetPasswordForm.get('email')?.errors)
                    }"
                    autocomplete="off"
                    class="form-control"
                    formControlName="email"
                    id="email"
                    placeholder="Enter your email"
                    type="email"
                  />
                  <div
                    *ngIf="resetPasswordForm.get('email')?.errors?.required"
                    class="invalid-feedback"
                  >
                    Email is required
                  </div>
                  <div
                    *ngIf="resetPasswordForm.get('email')?.hasError('pattern')"
                    class="invalid-feedback"
                  >
                    Email is not valid
                  </div>
                </div>
              </div>
              <button
                class="btn btn-primary btn-block"
                type="submit"
                [disabled]="resetPasswordForm.invalid"
              >
                Request code
              </button>
              <div class="text-center mt-3">
                <a routerLink="/login">Back to login</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
