<div class="card bg-light">
  <div class="card-body">

    <div class="font-weight-light mb-2">
      <div *ngFor="let account of accounts">
        <h5 class="font-weight-bold mb-0">
          Access to account data for
        </h5>
        <p> {{account}} </p>
      </div>
    </div>

    <div class="font-weight-light mb-2">
      <div *ngFor="let balance of balances">
        <h5 class="font-weight-bold mb-0">
          Access to balances for
        </h5>
        <p> {{balance}} </p>
      </div>
    </div>

    <div class="font-weight-light mb-2">
      <div *ngFor="let transaction of transactions">
        <h5 class="font-weight-bold mb-0">
          Access to transactions for
        </h5>
        <p> {{transaction}} </p>
      </div>
    </div>
  </div>
</div>
