<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.DOC' | translate }}</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.PLAY' | translate }}</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <p>
        {{ 'TEST_CASES.COMPONENTS.AC_INF_TRS.PART_1' | translate }}
        <app-line-command
          title="/v1/accounts/{account-id}/transactions"
        ></app-line-command>
        {{ 'TEST_CASES.COMPONENTS.AC_INF_TRS.PART_2' | translate }}
      </p>
      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>Consent-ID</span> <span>CONSENT_ID</span>
      </div>
      <div class="api-table">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>
      <p>
        {{ 'TEST_CASES.COMPONENTS.AC_INF_TR.PART_3' | translate }}
        <span class="bold-text">CONSENT_ID</span>
        {{ 'TEST_CASES.COMPONENTS.AC_INF_TR.PART_4' | translate }}
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="GET"
        [headers]="headers"
        [accountIdFlag]="true"
        [bookingStatusFlag]="true"
        [dateFromFlag]="true"
        [variablePathEnd]="'/transactions'"
        acceptFlag="true"
        url="v1/accounts"
        eventName="get_transactions"
        eventCategory="send_request"
        eventAction="click"
        eventLabel="get_transactions"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
