.collapse-content {
  min-height: 3.7vw;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.json-text {
  span {
    cursor: pointer;
    display: block;
    text-align: center;
    color: white;
  }

  .top-span {
    margin-top: 0.3vw;
    margin-bottom: 1.5vw;
  }
}

.copy-btn {
  position: relative;
  float: right;
  border-radius: 10%;
  width: 3.5vw;
  height: 3vw;
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
}
