/*!
 * Copyright 2018-2024 adorsys GmbH & Co KG
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version. This program is distributed in the hope that
 * it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 *
 * This project is also available under a separate commercial license. You can
 * contact us at sales@adorsys.com.
 */

.collapse-content {
  min-height: 3.7vw;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.json-text {
  span {
    cursor: pointer;
    display: block;
    text-align: center;
    color: white;
  }

  .top-span {
    margin-top: 0.3vw;
    margin-bottom: 1.5vw;
  }
}

.copy-btn {
  position: relative;
  float: right;
  border-radius: 10%;
  width: 3.5vw;
  height: 3vw;
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
}
