<div class="d-md-flex align-items-center">
    <!-- First-->
    <div *ngIf="checkUrl() === -1" class="col-md-4 p-0 bg-light h-md-100">
        <div class="d-md-flex align-items-center h-100 justify-content-center">
            <div class="d-md-flex align-items-center ">
                <app-account-details></app-account-details>
            </div>
        </div>
    </div>

    <!-- Second 1/4 -->
    <div [ngClass]="{'col-md-12': checkUrl() !== -1 && checkUrlbank() !== -1}" class="col-md-9 bg-white h-md-100">
        <div class="d-md-flex align-items-center h-100 p-4 justify-content-center">
            <div class="d-md-flex align-items-center ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
