.card-body{
  padding: 2rem 2rem;
}

.icon {
  width: 25px;
  height: 25px;
  padding-left: 3px;
}


.form-group2 {
  padding-top: 20px;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 20px;
}
