<!--
  ~ Copyright 2018-2022 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<div class="container-fluid" *ngIf="user">
  <div class="card">
    <div class="card-body--large">
      <a href="javascript:void(0);" (click)="handleClickOnBackButton()">
        <button class="btn btn-sm btn-outline-secondary mb-4">&lt; Back</button>
      </a>

      <div class="header__title">User details</div>

      <div class="row" *ngIf="admin">
        <div class="col-12 col-md-3">TPP</div>
        <div class="col-12 col-md-9 text-muted">
          <a [routerLink]="[createLastVisitedPageLink(user.branch, user.id)]">{{ user.branch }}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3">Login</div>
        <div class="col-12 col-md-9 text-muted">{{ user.login }}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3">Email</div>
        <div class="col-12 col-md-9 text-muted">{{ user.email }}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3">Accounts</div>
        <div class="col-12 col-md-9 text-muted">
          <div *ngFor="let accountAccess of user?.accountAccesses">
            <a href="javascript:void(0);" class="link" (click)="handleClickOnIBAN(accountAccess.accountId)">
              {{ accountAccess.iban }}
            </a>
            {{ accountAccess.currency }}
          </div>
        </div>
      </div>
      <div *ngIf="piisConsents?.length != 0" class="row">
        <div class="col-12 col-md-3">List of valid ASPSP funds confirmation consents</div>
        <div class="col-12 col-md-9 text-muted">
          <div *ngFor="let piisConsent of piisConsents">
            {{ piisConsent.validUntil | date: 'dd.MM.yyyy' }} <br />
            <a class="link" (click)="handleClickOnPiisConsent(piisConsent.consentId)">{{ piisConsent.access.iban }}</a>
            {{ piisConsent.access.currency }}
            <br />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12">Authentication:</div>
      </div>
      <div class="row" *ngFor="let scaItem of user?.scaUserData; index as i; last as isLast" [ngClass]="{ 'mb-2': !isLast }">
        <div class="col-12 col-md-9 text-muted">
          {{ scaItem.methodValue }}
          <div *ngIf="scaItem.scaMethod">Sca Method: {{ scaItem.scaMethod }}</div>
          <div *ngIf="scaItem.usesStaticTan">Static TAN: {{ scaItem.staticTan }}</div>
          <div *ngIf="scaItem.scaMethod === 'EMAIL' && scaItem.methodValue">
            <span
              [ngClass]="{
                confirmed: scaItem.valid,
                unconfirmed: !scaItem.valid
              }"
            >
              {{ scaItem.valid ? 'Confirmed' : 'Unconfirmed' }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3 p-0">
          <button
            *ngIf="scaItem.scaMethod === 'EMAIL' && scaItem.methodValue"
            (click)="confirmEmail(scaItem)"
            class="btn btn-sm btn-outline-secondary"
          >
            Confirm email
          </button>
        </div>
      </div>

      <button routerLink="/users/{{ user.id }}/update-user-details" class="btn btn-primary mr-2 mt-2" type="submit">Edit</button>
      <button routerLink="/users/{{ user.id }}/update-create-funds" class="btn btn-primary mr-2 mt-2">
        Create funds confirmation consent
      </button>
      <button
        routerLink="/users/{{ user.id }}/create-deposit-account"
        [queryParams]="{ tppId: user.branch, userId: user.id }"
        class="btn btn-primary mt-2 mr-2"
      >
        Create Account
      </button>
      <button class="btn btn-outline-danger mt-2" (click)="openDeleteUser(deleteConfirmationModal)">Delete User</button>
    </div>
  </div>
</div>

<ng-template #deleteConfirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">Are you sure you want to delete this User with Login: {{ user.login }}?</div>
  <div class="modal-footer">
    <button mat-raised-button type="button" class="btn btn-outline-secondary mr-2" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button mat-raised-button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Delete</button>
  </div>
</ng-template>
