<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.DOC' | translate }}</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>{{ 'TEST_CASES.COMPONENTS.TABS.PLAY' | translate }}</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>{{ 'TEST_CASES.COMPONENTS.RDCT_CONS.TITLE_1' | translate }}</h1>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_1' | translate }}
        <span class="bold-text">POST</span> endpoint
        <app-line-command title="/v1/consents"></app-line-command>.
      </p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_2' | translate }}
        <span class="italic-text">{{
          'TEST_CASES.COMPONENTS.RDCT_CONS.ITALIC_SPAN' | translate
        }}</span>
        {{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_3' | translate }}
      </p>

      <div class="api-table bg th">
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_1' | translate }}</span>
        <span>{{ 'TEST_CASES.COMPONENTS.TH.TH_2' | translate }}</span>
      </div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Explicit-Authorisation-Preferred</span> <span>true</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Redirect-Preferred</span> <span>false</span>
      </div>
      <div class="api-table">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table bg">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>

      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_4' | translate }}
        <span class="bold-text">YOUR_USER_LOGIN</span>
        {{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_5' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_6' | translate }}</p>
      <app-code-area [json]="jsonData" [id]="'ECCP'"></app-code-area>

      <p>
        {{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_7' | translate }}
        <span class="bold-text" *ngIf="languageService.getLang() !== 'ua'"
          >YOUR_USER_IBAN</span
        >
        {{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_8' | translate }}
      </p>
      <p>{{ 'TEST_CASES.COMPONENTS.RDCT_CONS.PART_9' | translate }}</p>
      <p>{{ 'TEST_CASES.COMPONENTS.EMB_IN_CR_POST.PART_25' | translate }}</p>
      <p>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_CR_POST.PART_26' | translate }}
        <span class="italic-text">{{
          'TEST_CASES.COMPONENTS.EMB_IN_CR_POST.ITALIC_1' | translate
        }}</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_CR_POST.PART_27' | translate }}
        <span class="italic-text">{{
          'TEST_CASES.COMPONENTS.EMB_IN_CR_POST.ITALIC_2' | translate
        }}</span>
        {{ 'TEST_CASES.COMPONENTS.EMB_IN_CR_POST.PART_28' | translate }}
        <span class="italic-text">{{
          'TEST_CASES.COMPONENTS.EMB_IN_CR_POST.ITALIC_3' | translate
        }}</span
        >.
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <app-play-wth-data
        method="POST"
        [headers]="headers"
        [body]="body"
        url="v1/consents"
        consentTypeFlag="true"
        [consentTypes]="consentTypes"
        [fieldsToCopy]="['consentId']"
      ></app-play-wth-data>
    </ng-template>
  </div>
</div>
