<div class="endpoint-wrapper">
  <!-- Segments -->
  <div class="endpoint-segment-wrapper">
    <div
      class="endpoint-segment-item"
      [ngClass]="
        activeSegment === 'documentation' ? 'left-item' : 'unactive-item'
      "
      (click)="changeSegment('documentation')"
    >
      <span>Documentation</span>
    </div>
    <div
      class="endpoint-segment-item"
      [ngClass]="activeSegment === 'play-data' ? 'left-item' : 'unactive-item'"
      (click)="changeSegment('play-data')"
    >
      <span>Play with data</span>
    </div>
  </div>

  <!-- Main content -->
  <div class="endpoint-main-content">
    <!-- Documentation -->
    <div
      class="endpoint-documentation"
      *ngIf="activeSegment === 'documentation'; else: play_with_data"
    >
      <h1>STEP 1: Create payment</h1>
      <p>
        1. Open swagger tab "Payment Initiation Service (PIS)", open
        <span class="bold-text">POST</span> endpoint
        <app-line-command
          title="/v1/{payment-service}/{payment-product}"
        ></app-line-command>
        .
      </p>
      <p>
        2. Press <span class="italic-text">"Try it out"</span>. Choose
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="payment-product"></app-line-command>
        . Default values would be
        <app-line-command title="payments"></app-line-command>
        in
        <app-line-command title="payment-service"></app-line-command>
        and
        <app-line-command title="sepa-credit-transfers"></app-line-command>
        in
        <app-line-command title="payment-product"></app-line-command>
        .
      </p>
      <p>
        3. After choosing payment service and payment product, fill the header
        fields with the following values:
      </p>
      <div class="api-table bg th"><span>Header</span> <span>Value</span></div>
      <div class="api-table">
        <span>X-Request-ID</span>
        <span>2f77a125-aa7a-45c0-b414-cea25a116035</span>
      </div>
      <div class="api-table bg">
        <span>TPP-Explicit-Authorisation-Preferred</span> <span>true</span>
      </div>
      <div class="api-table">
        <span>PSU-ID</span> <span>YOUR_USER_LOGIN</span>
      </div>
      <div class="api-table bg">
        <span>PSU-IP-Address</span> <span>1.1.1.1</span>
      </div>

      <p>
        Put in <span class="bold-text">YOUR_USER_LOGIN</span> the name of the
        user you chose (you can view users and their information in TPP-UI).
      </p>
      <p>
        4. If you chose to create single payment by setting
        <app-line-command title="payment-service"></app-line-command>
        to
        <app-line-command title="payments"></app-line-command>
        , insert into request body the following json:
      </p>
      <p class="json-text">{{ jsonData1 | json }}</p>

      <p>
        If you chose to create periodic payment by setting
        <app-line-command title="payment-service"></app-line-command>
        to
        <app-line-command title="periodic-payments"></app-line-command>
        , insert into request body the following json:
      </p>
      <p class="json-text">{{ jsonData2 | json }}</p>
      <p>
        If you chose to create bulk payment by setting
        <app-line-command title="payment-service"></app-line-command>
        to
        <app-line-command title="bulk-payments"></app-line-command>
        , insert into request body the following json:
      </p>
      <p class="json-text">{{ jsonData3 | json }}</p>
      <p>
        Change placeholder <span class="bold-text">YOUR_USER_IBAN</span> in
        section
      </p>
      <p class="json-text">{{ jsonData4 | json }}</p>
      <p>
        of the json you chose to the IBAN of the user (IBAN should match user
        login you entered in PSU-ID header above).
      </p>
      <p>5. Execute and get response with code 201 and related information.</p>
      <p>
        6. Start with the authorisation process. If the payment is not
        authorised yet - authorise payment with the flows above (depending on
        the amount of SCA methods chosen user has).
      </p>
      <p>
        7. If the payment is already authorised - proceed with payment
        cancellation.
      </p>
      <p>
        Pay attention to the ASPSP-Profile option
        <span class="bold-text">paymentCancellationAuthorisationMandated</span>.
        If this option is set to
        <app-line-command title="false"></app-line-command>
        , then check
        <span class="bold-text"
          >Payment cancellation without authorisation</span
        >
        flow.
      </p>
      <p>
        If the option is set to
        <app-line-command title="true"></app-line-command>
        , pay attention to the amount of SCA methods user has: if user has no
        SCA methods, test payment initiation with the flow described below in
        <span class="bold-text"
          >Payment cancellation authorisation for user with no SCA methods</span
        >. For user with single SCA method check
        <span class="bold-text"
          >Payment cancellation authorisation for user with single SCA
          method</span
        >, and for user with multiple SCA methods check
        <span class="bold-text"
          >Payment cancellation authorisation for user with multiple SCA
          methods</span
        >.
      </p>
    </div>

    <!-- Play with data -->
    <ng-template #play_with_data>
      <div class="endpoint-play-with-data"><h1>Coming soon...</h1></div>
    </ng-template>
  </div>
</div>
