@import "~src/assets/themes/variables";

tr {
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
    transition: 0.4s;
  }

  &:first-of-type {
    th {
      border-top: none;
      padding-bottom: 1.5rem;
    }
  }

  th {
    color: #ababab;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
