<div class="bg-sm-light sticky-top">
  <nav class="navbar navbar-light text-primary py-3">
    <a class="navbar-brand" href="#">
      <img class="logo" [src]="customizeService.getLogo()" />
    </a>
  </nav>
</div>
<div class="d-md-flex bg-white" *ngIf="hasRoute('email-confirmation/success')">
  <div class="col">
    <div class="d-md-flex align-items-center h-100 p-4 justify-content-center">
      <div class="d-md-flex align-items-center">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center font-weight-bold">
              <span *ngIf="!customizeService.isCustom()">adorsys </span>Online
              banking
            </h2>
            <div class="card__subtitle">
              Hurray! Your email is successfully verified.
            </div>
            <div class="text-center mt-4">
              <a href="#" onclick="close_window();return false;">
                <button class="btn btn-success">Close</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-md-flex bg-white" *ngIf="hasRoute('email-confirmation/fail')">
  <div class="col">
    <div class="d-md-flex align-items-center h-100 p-4 justify-content-center">
      <div class="d-md-flex align-items-center">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center font-weight-bold">
              <span *ngIf="!customizeService.isCustom()">adorsys </span>Online
              banking
            </h2>
            <div class="card__subtitle">
              Oops! Your email is not verified. Please try again later.
            </div>
            <div class="text-center mt-4">
              <a href="#" onclick="close_window();return false;">
                <button class="btn btn-danger">Close</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
