@import '~ngx-toastr/toastr.css';
@import './assets/themes/variables';

* {
  box-sizing: border-box;
  padding: 0;
}

:after,
:before {
  box-sizing: inherit;
}

html {
  font-size: var(--textFontSize);
  font-weight: var(--textFontWeight);

  @media screen and (max-width: 768px) {
    font-size: var(--textFontSize768px);
  }
  @media screen and (max-width: 1024px) {
    font-size: var(--textFontSize1024px);
  }
}

body {
  font-family: var(--fontFamily);
  padding: 7.5vw 7vw 0 7vw;
  margin: 0;
  color: var(--bodyFontColor);
  background-color: var(--bodyBG);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 1080px) {
    padding-left: 0;
    padding-right: 0;
  }
}

main {
  background: var(--mainBG);

  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.bold-text {
  font-weight: 800;
}

.italic-text {
  font-style: italic;
}

.bg {
  background-color: var(--tableStripedBG);
}

.th {
  background-color: var(--tableHeaderBG);
  font-weight: 900;
}

dl,
ol,
p,
ul {
  line-height: 1.5;
}

p {
  margin: 1em 0;
}

a {
  color: var(--anchorFontColor);
}

a:hover,
a:focus {
  color: var(--anchorFontColorHover);
}

.divider {
  height: 6px;
  width: 77px;
  background-color: var(--colorSecondary);
}

.api-table {
  display: flex;
  align-items: center;
  padding-left: 1vw;
  height: 3vw;
  border-bottom: var(--tableBorderStyleBottom);
  border-left: var(--tableBorderStyleLeft);
  border-right: var(--tableBorderStyleRight);
  border-top: var(--tableBorderStyleTop);

  span {
    width: 40%;
  }
}

.json-text {
  padding: 1vw;
  color: #ffffff;
  background-color: #272822;
  white-space: pre-wrap;
  line-height: 1.3em !important;
  margin: 0;
}

.container {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1080px;

  &--fullsize {
    max-width: none;
  }
}

h1 {
  font-size: var(--h1FontSize);
  font-weight: var(--h1FontWeight);
  color: var(--colorPrimary);
}

h2 {
  font-size: var(--h2FontSize);
  font-weight: var(--h2FontWeight);
}

h3 {
  font-size: var(--h3FontSize);
  font-weight: var(--h3FontWeight);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--h1FontSize768px);
    font-weight: var(--h1FontWeight768px);
  }

  h2 {
    font-size: var(--h2FontSize768px);
    font-weight: var(--h2FontWeight768px);
  }

  h3 {
    font-size: var(--h3FontSize768px);
    font-weight: var(--h3FontWeight768px);
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: var(--h1FontSize1024px);
    font-weight: var(--h1FontWeight1024px);
  }

  h2 {
    font-size: var(--h2FontSize1024px);
    font-weight: var(--h2FontWeight1024px);
  }

  h3 {
    font-size: var(--h3FontSize1024px);
    font-weight: var(--h3FontWeight1024px);
  }
}

button,
a.redirect-btn {
  color: var(--buttonTextColor);
  background: var(--buttonBG);
  border-radius: var(--buttonBorderRadius);

  &:hover {
    background: var(--buttonHovered);
  }

  &:focus {
    background: var(--buttonClicked);
  }
}

.button-secondary {
  color: $COLOR_DARK_GREY;
  background-color: $COLOR_WHITE;
  border: 1px solid $COLOR_DARK_GREY;
  border-radius: 3px;

  &:hover {
    background-color: $COLOR_GREY;
    color: $COLOR_BLACK;
  }
}

input,
textarea {
  background: var(--inputBG);
  outline: none;
  border-left: var(--inputBorderStyleLeft);
  border-top: var(--inputBorderStyleTop);
  border-bottom: var(--inputBorderStyleBottom);
  border-right: var(--inputBorderStyleRight);
  border-radius: var(--inputBorderRadius);
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  vertical-align: top;
  background-image: url('assets/icons/arrow-down.svg');
  background-size: 0.6em;
  padding: 0.2em 1.5em 0.2em 0.2em;
  margin: 0.5em;
}

select {
  background-color: var(--selectBG);
  outline: none;

  border-left: var(--selectBorderStyleLeft);
  border-top: var(--selectBorderStyleTop);
  border-bottom: var(--selectBorderStyleBottom);
  border-right: var(--selectBorderStyleRight);

  border-radius: var(--selectBorderRadius);
  color: var(--selectColor);
}

.endpoint-wrapper {
  padding: 2vw;

  .endpoint-segment-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 1px;

    .endpoint-segment-item {
      height: 3vw;
      width: 17vw;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .left-item {
      background-color: #fff;
      border-left: 1px solid #979797;
      border-top: 1px solid #979797;
      border-right: 1px solid #979797;
      outline: none;
      border-bottom: 1px solid #fff;
      position: relative;
    }

    .unactive-item {
      background-color: #e6e6e6;
    }

    .play-with-data {
      background-color: #e6e6e6;
    }
  }

  .endpoint-main-content {
    color: #484848;
    background-color: #fff;
    border: 1px solid #979797;

    .endpoint-play-with-data {
      padding: 2vw;
    }

    .endpoint-documentation {
      padding: 2vw;

      p {
        line-height: 2;
      }
    }
  }
}

/* Custom checkbox */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  width: 60%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--checkBoxBG);
}

.check-container:hover input ~ .checkmark {
  background-color: var(--checkBoxBGHovered);
}

.check-container input:checked ~ .checkmark {
  background-color: var(--checkBoxBGChecked);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: var(--checkBoxMarkLeft);
  top: var(--checkBoxMarkTop);
  width: var(--checkBoxMarkWidth);
  height: var(--checkBoxMarkHeight);
  border: solid var(--checkBoxMarkColor);
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
